; Segment type:	Pure code
		;.segment BANK_03
		* =  $8000

; =============== S U B	R O U T	I N E =======================================


bank_switch_38000:			; CODE XREF: bank_switch_38000+58j
					; apu_music_update_3FCF8+16p
		LDA	#$EE ; '�'
		STA	bank_switch_flag_6C
		LDA	bank_to_344
		CMP	#$10
		BCS	loc_38020
		ASL	A
		ASL	A
		ASL	A
		TAY
		LDA	mirroring_type_342
		BNE	loc_3801A
		STA	$8083,Y
		JMP	loc_38035
; ---------------------------------------------------------------------------

loc_3801A:				; CODE XREF: bank_switch_38000+12j
		STA	$8081,Y
		JMP	loc_38035
; ---------------------------------------------------------------------------

loc_38020:				; CODE XREF: bank_switch_38000+9j
		SEC
		SBC	#$10
		ASL	A
		ASL	A
		ASL	A
		TAY
		LDA	mirroring_type_342
		BNE	loc_38032
		STA	$8183,Y
		JMP	loc_38035
; ---------------------------------------------------------------------------

loc_38032:				; CODE XREF: bank_switch_38000+2Aj
		STA	$8181,Y

loc_38035:				; CODE XREF: bank_switch_38000+17j
					; bank_switch_38000+1Dj ...
		LDA	bank_to_344
		STA	bank_prev_345
		LDA	#$88 ; '�'
		STA	bank_switch_flag_6C
		LDA	bank_command_346
		CMP	#0
		BEQ	loc_38047
		RTS
; ---------------------------------------------------------------------------

loc_38047:				; CODE XREF: bank_switch_38000+44j
		JSR	sub_3F76B
		JMP	loc_3804D
; ---------------------------------------------------------------------------

loc_3804D:				; CODE XREF: bank_switch_38000+4Aj
		LDA	#$FF
		STA	bank_command_346
		LDA	bank_from_343
		STA	bank_to_344
		JMP	bank_switch_38000
; End of function bank_switch_38000

; ---------------------------------------------------------------------------
off_3805B:	.WORD off_3806B		; DATA XREF: BANK_03:FFFCo
		.WORD off_3806B
		.WORD off_3816B
		.WORD off_3826B
		.WORD off_3836B
		.WORD off_3846B
		.WORD off_3856B
		.WORD off_3866B
off_3806B:	.WORD byte_3876B	; DATA XREF: BANK_03:off_3805Bo
					; BANK_03:805Do
		.WORD byte_3878B
		.WORD byte_387AB
		.WORD byte_387CB
		.WORD byte_387EB
		.WORD byte_3880B
		.WORD byte_3882B
		.WORD byte_3884B
		.WORD byte_3886B
		.WORD byte_3888B
		.WORD byte_388AB
		.WORD byte_388CB
		.WORD byte_388EB
		.WORD byte_3890B
		.WORD byte_3892B
		.WORD byte_3894B
		.WORD byte_3896B
		.WORD byte_3898B
		.WORD byte_389AB
		.WORD byte_389CB
		.WORD byte_389EB
		.WORD byte_38A0B
		.WORD byte_38A2B
		.WORD byte_38A4B
		.WORD byte_38A6B
		.WORD byte_38A8B
		.WORD byte_38AAB
		.WORD byte_38ACB
		.WORD byte_38AEB
		.WORD byte_38B0B
		.WORD byte_38B2B
		.WORD byte_38B4B
		.WORD byte_38B6B
		.WORD byte_38B8B
		.WORD byte_38BAB
		.WORD byte_38BCB
		.WORD byte_38BEB
		.WORD byte_38C0B
		.WORD byte_38C2B
		.WORD byte_38C4B
		.WORD byte_38C6B
		.WORD byte_38C8B
		.WORD byte_38CAB
		.WORD byte_38CCB
		.WORD byte_38CEB
		.WORD byte_38D0B
		.WORD byte_38D2B
		.WORD byte_38D4B
		.WORD byte_38D6B
		.WORD byte_38D8B
		.WORD byte_38DAB
		.WORD byte_38DCB
		.WORD byte_38DEB
		.WORD byte_38E0B
		.WORD byte_38E2B
		.WORD byte_38E4B
		.WORD byte_38E6B
		.WORD byte_38E8B
		.WORD byte_38EAB
		.WORD byte_38ECB
		.WORD byte_38EEB
		.WORD byte_38F0B
		.WORD byte_38F2B
		.WORD byte_38F4B
		.WORD byte_38F6B
		.WORD byte_38F8B
		.WORD byte_38FAB
		.WORD byte_38FCB
		.WORD byte_38FEB
		.WORD byte_3900B
		.WORD byte_3902B
		.WORD byte_3904B
		.WORD byte_3906B
		.WORD byte_3908B
		.WORD byte_390AB
		.WORD byte_390CB
		.WORD byte_390EB
		.WORD byte_3910B
		.WORD byte_3912B
		.WORD byte_3914B
		.WORD byte_3916B
		.WORD byte_3918B
		.WORD byte_391AB
		.WORD byte_391CB
		.WORD byte_391EB
		.WORD byte_3920B
		.WORD byte_3922B
		.WORD byte_3924B
		.WORD byte_3926B
		.WORD byte_3928B
		.WORD byte_392AB
		.WORD byte_392CB
		.WORD byte_392EB
		.WORD byte_3930B
		.WORD byte_3932B
		.WORD byte_3934B
		.WORD byte_3936B
		.WORD byte_3938B
		.WORD byte_393AB
		.WORD byte_393CB
		.WORD byte_393EB
		.WORD byte_3940B
		.WORD byte_3942B
		.WORD byte_3944B
		.WORD byte_3946B
		.WORD byte_3948B
		.WORD byte_394AB
		.WORD byte_394CB
		.WORD byte_394EB
		.WORD byte_3950B
		.WORD byte_3952B
		.WORD byte_3954B
		.WORD byte_3956B
		.WORD byte_3958B
		.WORD byte_395AB
		.WORD byte_395CB
		.WORD byte_395EB
		.WORD byte_3960B
		.WORD byte_3962B
		.WORD byte_3964B
		.WORD byte_3966B
		.WORD byte_3968B
		.WORD byte_396AB
		.WORD byte_396CB
		.WORD byte_396EB
		.WORD byte_3970B
		.WORD byte_3972B
		.WORD byte_3974B
off_3816B:	.WORD byte_3976B	; DATA XREF: BANK_03:805Fo
		.WORD byte_3978B
		.WORD byte_397AB
		.WORD byte_397CB
		.WORD byte_397EB
		.WORD byte_3980B
		.WORD byte_3982B
		.WORD byte_3984B
		.WORD byte_3986B
		.WORD byte_3988B
		.WORD byte_398AB
		.WORD byte_398CB
		.WORD byte_398EB
		.WORD byte_3990B
		.WORD byte_3992B
		.WORD byte_3994B
		.WORD byte_3996B
		.WORD byte_3998B
		.WORD byte_399AB
		.WORD byte_399CB
		.WORD byte_399EB
		.WORD byte_39A0B
		.WORD byte_39A2B
		.WORD byte_39A4B
		.WORD byte_39A6B
		.WORD byte_39A8B
		.WORD byte_39AAB
		.WORD byte_39ACB
		.WORD byte_39AEB
		.WORD byte_39B0B
		.WORD byte_39B2B
		.WORD byte_39B4B
		.WORD byte_39B6B
		.WORD byte_39B8B
		.WORD byte_39BAB
		.WORD byte_39BCB
		.WORD byte_39BEB
		.WORD byte_39C0B
		.WORD byte_39C2B
		.WORD byte_39C4B
		.WORD byte_39C6B
		.WORD byte_39C8B
		.WORD byte_39CAB
		.WORD byte_39CCB
		.WORD byte_39CEB
		.WORD byte_39D0B
		.WORD byte_39D2B
		.WORD byte_39D4B
		.WORD byte_39D6B
		.WORD byte_39D8B
		.WORD byte_39DAB
		.WORD byte_39DCB
		.WORD byte_39DEB
		.WORD byte_39E0B
		.WORD byte_39E2B
		.WORD byte_39E4B
		.WORD byte_39E6B
		.WORD byte_39E8B
		.WORD byte_39EAB
		.WORD byte_39ECB
		.WORD byte_39EEB
		.WORD byte_39F0B
		.WORD byte_39F2B
		.WORD byte_39F4B
		.WORD byte_39F6B
		.WORD byte_39F8B
		.WORD byte_39FAB
		.WORD byte_39FCB
		.WORD byte_39FEB
		.WORD byte_3A00B
		.WORD byte_3A02B
		.WORD byte_3A04B
		.WORD byte_3A06B
		.WORD byte_3A08B
		.WORD byte_3A0AB
		.WORD byte_3A0CB
		.WORD byte_3A0EB
		.WORD byte_3A10B
		.WORD byte_3A12B
		.WORD byte_3A14B
		.WORD byte_3A16B
		.WORD byte_3A18B
		.WORD byte_3A1AB
		.WORD byte_3A1CB
		.WORD byte_3A1EB
		.WORD byte_3A20B
		.WORD byte_3A22B
		.WORD byte_3A24B
		.WORD byte_3A26B
		.WORD byte_3A28B
		.WORD byte_3A2AB
		.WORD byte_3A2CB
		.WORD byte_3A2EB
		.WORD byte_3A30B
		.WORD byte_3A32B
		.WORD byte_3A34B
		.WORD byte_3A36B
		.WORD byte_3A38B
		.WORD byte_3A3AB
		.WORD byte_3A3CB
		.WORD byte_3A3EB
		.WORD byte_3A40B
		.WORD byte_3A42B
		.WORD byte_3A44B
		.WORD byte_3A46B
		.WORD byte_3A48B
		.WORD byte_3A4AB
		.WORD byte_3A4CB
		.WORD byte_3A4EB
		.WORD byte_3A50B
		.WORD byte_3A52B
		.WORD byte_3A54B
		.WORD byte_3A56B
		.WORD byte_3A58B
		.WORD byte_3A5AB
		.WORD byte_3A5CB
		.WORD byte_3A5EB
		.WORD byte_3A60B
		.WORD byte_3A62B
		.WORD byte_3A64B
		.WORD byte_3A66B
		.WORD byte_3A68B
		.WORD byte_3A6AB
		.WORD byte_3A6CB
		.WORD byte_3A6EB
		.WORD byte_3A70B
		.WORD byte_3A72B
		.WORD byte_3A74B
off_3826B:	.WORD byte_3A76B	; DATA XREF: BANK_03:8061o
		.WORD byte_3A78B
		.WORD byte_3A7AB
		.WORD byte_3A7CB
		.WORD byte_3A7EB
		.WORD byte_3A80B
		.WORD byte_3A82B
		.WORD byte_3A84B
		.WORD byte_3A86B
		.WORD byte_3A88B
		.WORD byte_3A8AB
		.WORD byte_3A8CB
		.WORD byte_3A8EB
		.WORD byte_3A90B
		.WORD byte_3A92B
		.WORD byte_3A94B
		.WORD byte_3A96B
		.WORD byte_3A98B
		.WORD byte_3A9AB
		.WORD byte_3A9CB
		.WORD byte_3A9EB
		.WORD byte_3AA0B
		.WORD byte_3AA2B
		.WORD byte_3AA4B
		.WORD byte_3AA6B
		.WORD byte_3AA8B
		.WORD byte_3AAAB
		.WORD byte_3AACB
		.WORD byte_3AAEB
		.WORD byte_3AB0B
		.WORD byte_3AB2B
		.WORD byte_3AB4B
		.WORD byte_3AB6B
		.WORD byte_3AB8B
		.WORD byte_3ABAB
		.WORD byte_3ABCB
		.WORD byte_3ABEB
		.WORD byte_3AC0B
		.WORD byte_3AC2B
		.WORD byte_3AC4B
		.WORD byte_3AC6B
		.WORD byte_3AC8B
		.WORD byte_3ACAB
		.WORD byte_3ACCB
		.WORD byte_3ACEB
		.WORD byte_3AD0B
		.WORD byte_3AD2B
		.WORD byte_3AD4B
		.WORD byte_3AD6B
		.WORD byte_3AD8B
		.WORD byte_3ADAB
		.WORD byte_3ADCB
		.WORD byte_3ADEB
		.WORD byte_3AE0B
		.WORD byte_3AE2B
		.WORD byte_3AE4B
		.WORD byte_3AE6B
		.WORD byte_3AE8B
		.WORD byte_3AEAB
		.WORD byte_3AECB
		.WORD byte_3AEEB
		.WORD byte_3AF0B
		.WORD byte_3AF2B
		.WORD byte_3AF4B
		.WORD byte_3AF6B
		.WORD byte_3AF8B
		.WORD byte_3AFAB
		.WORD byte_3AFCB
		.WORD byte_3AFEB
		.WORD byte_3B00B
		.WORD byte_3B02B
		.WORD byte_3B04B
		.WORD byte_3B06B
		.WORD byte_3B08B
		.WORD byte_3B0AB
		.WORD byte_3B0CB
		.WORD byte_3B0EB
		.WORD byte_3B10B
		.WORD byte_3B12B
		.WORD byte_3B14B
		.WORD byte_3B16B
		.WORD byte_3B18B
		.WORD byte_3B1AB
		.WORD byte_3B1CB
		.WORD byte_3B1EB
		.WORD byte_3B20B
		.WORD byte_3B22B
		.WORD byte_3B24B
		.WORD byte_3B26B
		.WORD byte_3B28B
		.WORD byte_3B2AB
		.WORD byte_3B2CB
		.WORD byte_3B2EB
		.WORD byte_3B30B
		.WORD byte_3B32B
		.WORD byte_3B34B
		.WORD byte_3B36B
		.WORD byte_3B38B
		.WORD byte_3B3AB
		.WORD byte_3B3CB
		.WORD byte_3B3EB
		.WORD byte_3B40B
		.WORD byte_3B42B
		.WORD byte_3B44B
		.WORD byte_3B46B
		.WORD byte_3B48B
		.WORD byte_3B4AB
		.WORD byte_3B4CB
		.WORD byte_3B4EB
		.WORD byte_3B50B
		.WORD byte_3B52B
		.WORD byte_3B54B
		.WORD byte_3B56B
		.WORD byte_3B58B
		.WORD byte_3B5AB
		.WORD byte_3B5CB
		.WORD byte_3B5EB
		.WORD byte_3B60B
		.WORD byte_3B62B
		.WORD byte_3B64B
		.WORD byte_3B66B
		.WORD byte_3B68B
		.WORD byte_3B6AB
		.WORD byte_3B6CB
		.WORD byte_3B6EB
		.WORD byte_3B70B
		.WORD byte_3B72B
		.WORD byte_3B74B
off_3836B:	.WORD byte_3B76B	; DATA XREF: BANK_03:8063o
		.WORD byte_3B78B
		.WORD byte_3B7AB
		.WORD byte_3B7CB
		.WORD byte_3B7EB
		.WORD byte_3B80B
		.WORD byte_3B82B
		.WORD byte_3B84B
		.WORD byte_3B86B
		.WORD byte_3B88B
		.WORD byte_3B8AB
		.WORD byte_3B8CB
		.WORD byte_3B8EB
		.WORD byte_3B90B
		.WORD byte_3B92B
		.WORD byte_3B94B
		.WORD byte_3B96B
		.WORD byte_3B98B
		.WORD byte_3B9AB
		.WORD byte_3B9CB
		.WORD byte_3B9EB
		.WORD byte_3BA0B
		.WORD byte_3BA2B
		.WORD byte_3BA4B
		.WORD byte_3BA6B
		.WORD byte_3BA8B
		.WORD byte_3BAAB
		.WORD byte_3BACB
		.WORD byte_3BAEB
		.WORD byte_3BB0B
		.WORD byte_3BB2B
		.WORD byte_3BB4B
		.WORD byte_3BB6B
		.WORD byte_3BB8B
		.WORD byte_3BBAB
		.WORD byte_3BBCB
		.WORD byte_3BBEB
		.WORD byte_3BC0B
		.WORD byte_3BC2B
		.WORD byte_3BC4B
		.WORD byte_3BC6B
		.WORD byte_3BC8B
		.WORD byte_3BCAB
		.WORD byte_3BCCB
		.WORD byte_3BCEB
		.WORD byte_3BD0B
		.WORD byte_3BD2B
		.WORD byte_3BD4B
		.WORD byte_3BD6B
		.WORD byte_3BD8B
		.WORD byte_3BDAB
		.WORD byte_3BDCB
		.WORD byte_3BDEB
		.WORD byte_3BE0B
		.WORD byte_3BE2B
		.WORD byte_3BE4B
		.WORD byte_3BE6B
		.WORD byte_3BE8B
		.WORD byte_3BEAB
		.WORD byte_3BECB
		.WORD byte_3BEEB
		.WORD byte_3BF0B
		.WORD byte_3BF2B
		.WORD byte_3BF4B
		.WORD byte_3BF6B
		.WORD byte_3BF8B
		.WORD byte_3BFAB
		.WORD byte_3BFCB
		.WORD byte_3BFEB
		.WORD byte_3C00B
		.WORD byte_3C02B
		.WORD byte_3C04B
		.WORD byte_3C06B
		.WORD byte_3C08B
		.WORD byte_3C0AB
		.WORD byte_3C0CB
		.WORD byte_3C0EB
		.WORD byte_3C10B
		.WORD byte_3C12B
		.WORD byte_3C14B
		.WORD byte_3C16B
		.WORD byte_3C18B
		.WORD byte_3C1AB
		.WORD byte_3C1CB
		.WORD byte_3C1EB
		.WORD byte_3C20B
		.WORD byte_3C22B
		.WORD byte_3C24B
		.WORD byte_3C26B
		.WORD byte_3C28B
		.WORD byte_3C2AB
		.WORD byte_3C2CB
		.WORD byte_3C2EB
		.WORD byte_3C30B
		.WORD byte_3C32B
		.WORD byte_3C34B
		.WORD byte_3C36B
		.WORD byte_3C38B
		.WORD byte_3C3AB
		.WORD byte_3C3CB
		.WORD byte_3C3EB
		.WORD byte_3C40B
		.WORD byte_3C42B
		.WORD byte_3C44B
		.WORD byte_3C46B
		.WORD byte_3C48B
		.WORD byte_3C4AB
		.WORD byte_3C4CB
		.WORD byte_3C4EB
		.WORD byte_3C50B
		.WORD byte_3C52B
		.WORD byte_3C54B
		.WORD byte_3C56B
		.WORD byte_3C58B
		.WORD byte_3C5AB
		.WORD byte_3C5CB
		.WORD byte_3C5EB
		.WORD byte_3C60B
		.WORD byte_3C62B
		.WORD byte_3C64B
		.WORD byte_3C66B
		.WORD byte_3C68B
		.WORD byte_3C6AB
		.WORD byte_3C6CB
		.WORD byte_3C6EB
		.WORD byte_3C70B
		.WORD byte_3C72B
		.WORD byte_3C74B
off_3846B:	.WORD byte_3C76B	; DATA XREF: BANK_03:8065o
		.WORD byte_3C78B
		.WORD byte_3C7AB
		.WORD byte_3C7CB
		.WORD byte_3C7EB
		.WORD byte_3C80B
		.WORD byte_3C82B
		.WORD byte_3C84B
		.WORD byte_3C86B
		.WORD byte_3C88B
		.WORD byte_3C8AB
		.WORD byte_3C8CB
		.WORD byte_3C8EB
		.WORD byte_3C90B
		.WORD byte_3C92B
		.WORD byte_3C94B
		.WORD byte_3C96B
		.WORD byte_3C98B
		.WORD byte_3C9AB
		.WORD byte_3C9CB
		.WORD byte_3C9EB
		.WORD byte_3CA0B
		.WORD byte_3CA2B
		.WORD byte_3CA4B
		.WORD byte_3CA6B
		.WORD byte_3CA8B
		.WORD byte_3CAAB
		.WORD byte_3CACB
		.WORD byte_3CAEB
		.WORD byte_3CB0B
		.WORD byte_3CB2B
		.WORD byte_3CB4B
		.WORD byte_3CB6B
		.WORD byte_3CB8B
		.WORD byte_3CBAB
		.WORD byte_3CBCB
		.WORD byte_3CBEB
		.WORD byte_3CC0B
		.WORD byte_3CC2B
		.WORD byte_3CC4B
		.WORD byte_3CC6B
		.WORD byte_3CC8B
		.WORD byte_3CCAB
		.WORD byte_3CCCB
		.WORD byte_3CCEB
		.WORD byte_3CD0B
		.WORD byte_3CD2B
		.WORD byte_3CD4B
		.WORD byte_3CD6B
		.WORD byte_3CD8B
		.WORD byte_3CDAB
		.WORD byte_3CDCB
		.WORD byte_3CDEB
		.WORD byte_3CE0B
		.WORD byte_3CE2B
		.WORD byte_3CE4B
		.WORD byte_3CE6B
		.WORD byte_3CE8B
		.WORD byte_3CEAB
		.WORD byte_3CECB
		.WORD byte_3CEEB
		.WORD byte_3CF0B
		.WORD byte_3CF2B
		.WORD byte_3CF4B
		.WORD byte_3CF6B
		.WORD byte_3CF8B
		.WORD byte_3CFAB
		.WORD byte_3CFCB
		.WORD byte_3CFEB
		.WORD byte_3D00B
		.WORD byte_3D02B
		.WORD byte_3D04B
		.WORD byte_3D06B
		.WORD byte_3D08B
		.WORD byte_3D0AB
		.WORD byte_3D0CB
		.WORD byte_3D0EB
		.WORD byte_3D10B
		.WORD byte_3D12B
		.WORD byte_3D14B
		.WORD byte_3D16B
		.WORD byte_3D18B
		.WORD byte_3D1AB
		.WORD byte_3D1CB
		.WORD byte_3D1EB
		.WORD byte_3D20B
		.WORD byte_3D22B
		.WORD byte_3D24B
		.WORD byte_3D26B
		.WORD byte_3D28B
		.WORD byte_3D2AB
		.WORD byte_3D2CB
		.WORD byte_3D2EB
		.WORD byte_3D30B
		.WORD byte_3D32B
		.WORD byte_3D34B
		.WORD byte_3D36B
		.WORD byte_3D38B
		.WORD byte_3D3AB
		.WORD byte_3D3CB
		.WORD byte_3D3EB
		.WORD byte_3D40B
		.WORD byte_3D42B
		.WORD byte_3D44B
		.WORD byte_3D46B
		.WORD byte_3D48B
		.WORD byte_3D4AB
		.WORD byte_3D4CB
		.WORD byte_3D4EB
		.WORD byte_3D50B
		.WORD byte_3D52B
		.WORD byte_3D54B
		.WORD byte_3D56B
		.WORD byte_3D58B
		.WORD byte_3D5AB
		.WORD byte_3D5CB
		.WORD byte_3D5EB
		.WORD byte_3D60B
		.WORD byte_3D62B
		.WORD byte_3D64B
		.WORD byte_3D66B
		.WORD byte_3D68B
		.WORD byte_3D6AB
		.WORD byte_3D6CB
		.WORD byte_3D6EB
		.WORD byte_3D70B
		.WORD byte_3D72B
		.WORD byte_3D74B
off_3856B:	.WORD byte_3D76B	; DATA XREF: BANK_03:8067o
		.WORD byte_3D78B
		.WORD byte_3D7AB
		.WORD byte_3D7CB
		.WORD byte_3D7EB
		.WORD byte_3D80B
		.WORD byte_3D82B
		.WORD byte_3D84B
		.WORD byte_3D86B
		.WORD byte_3D88B
		.WORD byte_3D8AB
		.WORD byte_3D8CB
		.WORD byte_3D8EB
		.WORD byte_3D90B
		.WORD byte_3D92B
		.WORD byte_3D94B
		.WORD byte_3D96B
		.WORD byte_3D98B
		.WORD byte_3D9AB
		.WORD byte_3D9CB
		.WORD byte_3D9EB
		.WORD byte_3DA0B
		.WORD byte_3DA2B
		.WORD byte_3DA4B
		.WORD byte_3DA6B
		.WORD byte_3DA8B
		.WORD byte_3DAAB
		.WORD byte_3DACB
		.WORD byte_3DAEB
		.WORD byte_3DB0B
		.WORD byte_3DB2B
		.WORD byte_3DB4B
		.WORD byte_3DB6B
		.WORD byte_3DB8B
		.WORD byte_3DBAB
		.WORD byte_3DBCB
		.WORD byte_3DBEB
		.WORD byte_3DC0B
		.WORD byte_3DC2B
		.WORD byte_3DC4B
		.WORD byte_3DC6B
		.WORD byte_3DC8B
		.WORD byte_3DCAB
		.WORD byte_3DCCB
		.WORD byte_3DCEB
		.WORD byte_3DD0B
		.WORD byte_3DD2B
		.WORD byte_3DD4B
		.WORD byte_3DD6B
		.WORD byte_3DD8B
		.WORD byte_3DDAB
		.WORD byte_3DDCB
		.WORD byte_3DDEB
		.WORD byte_3DE0B
		.WORD byte_3DE2B
		.WORD byte_3DE4B
		.WORD byte_3DE6B
		.WORD byte_3DE8B
		.WORD byte_3DEAB
		.WORD byte_3DECB
		.WORD byte_3DEEB
		.WORD byte_3DF0B
		.WORD byte_3DF2B
		.WORD byte_3DF4B
		.WORD byte_3DF6B
		.WORD byte_3DF8B
		.WORD byte_3DFAB
		.WORD byte_3DFCB
		.WORD byte_3DFEB
		.WORD byte_3E00B
		.WORD byte_3E02B
		.WORD byte_3E04B
		.WORD byte_3E06B
		.WORD byte_3E08B
		.WORD byte_3E0AB
		.WORD byte_3E0CB
		.WORD byte_3E0EB
		.WORD byte_3E10B
		.WORD byte_3E12B
		.WORD byte_3E14B
		.WORD byte_3E16B
		.WORD byte_3E18B
		.WORD byte_3E1AB
		.WORD byte_3E1CB
		.WORD byte_3E1EB
		.WORD byte_3E20B
		.WORD byte_3E22B
		.WORD byte_3E24B
		.WORD byte_3E26B
		.WORD byte_3E28B
		.WORD byte_3E2AB
		.WORD byte_3E2CB
		.WORD byte_3E2EB
		.WORD byte_3E30B
		.WORD byte_3E32B
		.WORD byte_3E34B
		.WORD byte_3E36B
		.WORD byte_3E38B
		.WORD byte_3E3AB
		.WORD byte_3E3CB
		.WORD byte_3E3EB
		.WORD byte_3E40B
		.WORD byte_3E42B
		.WORD byte_3E44B
		.WORD byte_3E46B
		.WORD byte_3E48B
		.WORD byte_3E4AB
		.WORD byte_3E4CB
		.WORD byte_3E4EB
		.WORD byte_3E50B
		.WORD byte_3E52B
		.WORD byte_3E54B
		.WORD byte_3E56B
		.WORD byte_3E58B
		.WORD byte_3E5AB
		.WORD byte_3E5CB
		.WORD byte_3E5EB
		.WORD byte_3E60B
		.WORD byte_3E62B
		.WORD byte_3E64B
		.WORD byte_3E66B
		.WORD byte_3E68B
		.WORD byte_3E6AB
		.WORD byte_3E6CB
		.WORD byte_3E6EB
		.WORD byte_3E70B
		.WORD byte_3E72B
		.WORD byte_3E74B
off_3866B:	.WORD byte_3E76B	; DATA XREF: BANK_03:8069o
		.WORD byte_3E78B
		.WORD byte_3E7AB
		.WORD byte_3E7CB
		.WORD byte_3E7EB
		.WORD byte_3E80B
		.WORD byte_3E82B
		.WORD byte_3E84B
		.WORD byte_3E86B
		.WORD byte_3E88B
		.WORD byte_3E8AB
		.WORD byte_3E8CB
		.WORD byte_3E8EB
		.WORD byte_3E90B
		.WORD byte_3E92B
		.WORD byte_3E94B
		.WORD byte_3E96B
		.WORD byte_3E98B
		.WORD byte_3E9AB
		.WORD byte_3E9CB
		.WORD byte_3E9EB
		.WORD byte_3EA0B
		.WORD byte_3EA2B
		.WORD byte_3EA4B
		.WORD byte_3EA6B
		.WORD byte_3EA8B
		.WORD byte_3EAAB
		.WORD byte_3EACB
		.WORD byte_3EAEB
		.WORD byte_3EB0B
		.WORD byte_3EB2B
		.WORD byte_3EB4B
		.WORD byte_3EB6B
		.WORD byte_3EB8B
		.WORD byte_3EBAB
		.WORD byte_3EBCB
		.WORD byte_3EBEB
		.WORD byte_3EC0B
		.WORD byte_3EC2B
		.WORD byte_3EC4B
		.WORD byte_3EC6B
		.WORD byte_3EC8B
		.WORD byte_3ECAB
		.WORD byte_3ECCB
		.WORD byte_3ECEB
		.WORD byte_3ED0B
		.WORD byte_3ED2B
		.WORD byte_3ED4B
		.WORD byte_3ED6B
		.WORD byte_3ED8B
		.WORD byte_3EDAB
		.WORD byte_3EDCB
		.WORD byte_3EDEB
		.WORD byte_3EE0B
		.WORD byte_3EE2B
		.WORD byte_3EE4B
		.WORD byte_3EE6B
		.WORD byte_3EE8B
		.WORD byte_3EEAB
		.WORD byte_3EECB
		.WORD byte_3EEEB
		.WORD byte_3EF0B
		.WORD byte_3EF2B
		.WORD byte_3EF4B
		.WORD byte_3EF6B
		.WORD byte_3EF8B
		.WORD byte_3EFAB
		.WORD byte_3EFCB
		.WORD byte_3EFEB
		.WORD byte_3F00B
		.WORD byte_3F02B
		.WORD byte_3F04B
		.WORD byte_3F06B
		.WORD byte_3F08B
		.WORD byte_3F0AB
		.WORD byte_3F0CB
		.WORD byte_3F0EB
		.WORD byte_3F10B
		.WORD byte_3F12B
		.WORD byte_3F14B
		.WORD byte_3F16B
		.WORD byte_3F18B
		.WORD byte_3F1AB
		.WORD byte_3F1CB
		.WORD byte_3F1EB
		.WORD byte_3F20B
		.WORD byte_3F22B
		.WORD byte_3F24B
		.WORD byte_3F26B
		.WORD byte_3F28B
		.WORD byte_3F2AB
		.WORD byte_3F2CB
		.WORD byte_3F2EB
		.WORD byte_3F30B
		.WORD byte_3F32B
		.WORD byte_3F34B
		.WORD byte_3F36B
		.WORD byte_3F38B
		.WORD byte_3F3AB
		.WORD byte_3F3CB
		.WORD byte_3F3EB
		.WORD byte_3F40B
		.WORD byte_3F42B
		.WORD byte_3F44B
		.WORD byte_3F46B
		.WORD byte_3F48B
		.WORD byte_3F4AB
		.WORD byte_3F4CB
		.WORD byte_3F4EB
		.WORD byte_3F50B
		.WORD byte_3F52B
		.WORD byte_3F54B
		.WORD byte_3F56B
		.WORD byte_3F58B
		.WORD byte_3F5AB
		.WORD byte_3F5CB
		.WORD byte_3F5EB
		.WORD byte_3F60B
		.WORD byte_3F62B
		.WORD byte_3F64B
		.WORD byte_3F66B
		.WORD byte_3F68B
		.WORD byte_3F6AB
		.WORD byte_3F6CB
		.WORD byte_3F6EB
		.WORD byte_3F70B
		.WORD byte_3F72B
		.WORD byte_3F74B
byte_3876B:	.BYTE 0			; DATA XREF: BANK_03:off_3806Bo
		.BYTE $7F,$42,$82,$3F,	4,  9,$11,  0,$FE,  2,$14,$F8,	0,  0,$10,$3F
		.BYTE	1,  1,$FF,  1,	1,  1,	1,$F8,	0,  4,$FE,  0,	0,  0,	0
byte_3878B:	.BYTE	0,  0,$7F,  2,	2,  2,	2,  2,	0,  8,$FC,  8,	8,  8,	8,  8
					; DATA XREF: BANK_03:806Do
		.BYTE	2,  4,	4,  8,	8,$10,$20,$40,	8,  8,	8,  8,	8,  8,$50,$20
byte_387AB:	.BYTE	0,  0,$7F,  1,	1,$3F,	1,  1,$10,$F8,	0,  0,$10,$F8,	0,  0
					; DATA XREF: BANK_03:806Fo
		.BYTE	1,$FF,	1,  1,	1,  1,	5,  2,	4,$FE,	0,  0,	0,  0,	0,  0
byte_387CB:	.BYTE $10,$10,$10,$10,$FD,$12,$35,$39,$40,$40,$A0,$A0,$10, $E,$F4,$10
					; DATA XREF: BANK_03:8071o
		.BYTE $55,$51,$91,$11,$11,$11,$10,$10,$10,$10,$50,$20,	4,  4,$FC,  0
byte_387EB:	.BYTE $24,$24,$7E,$24,$24,$FF,	2,$7F,$40,$40,$40,$84,$FE,  8,$88,$88
					; DATA XREF: BANK_03:8073o
		.BYTE $42,$7E,$42,$7E,$42,$42,$4A,$45,$88,$50,$50,$20,$50,$48,$8E,  4
byte_3880B:	.BYTE  $A,$7D,	8, $B, $A,$7A,$4B,$42,	8,$10,$A0,$F8,$48,$48,$F8,$48
					; DATA XREF: BANK_03:8075o
		.BYTE $42,$7B,	8, $F,	8,  8,$50,$20,$48,$F8,$40,$FE,$40,$40,$40,$40
byte_3882B:	.BYTE	1,  1,$7F,  1,$3F,  1,	1,$FF,	0,  8,$FC,  0,$F8,  0,	4,$FE
					; DATA XREF: BANK_03:8077o
		.BYTE	4, $F, $A,$11,$20,$43, $C,$30,	0,$F0,$20,$40,$80,$40,$30, $E
byte_3884B:	.BYTE	8,  8,	8,  8,$FE,  8,$18,$1C,$20,$20,$20,$24,$FE,$20,$60,$70
					; DATA XREF: BANK_03:8079o
		.BYTE $2A,$28,$49,$8A,	8,  8,	8,  8,$A8,$AE,$24,$20,$20,$20,$20,$20
byte_3886B:	.BYTE $20,$27,$24,$25,$FC,$25,$66,$70,$84,$7E,$24,$24,$A4,$24,$54,$88
					; DATA XREF: BANK_03:807Bo
		.BYTE $AF,$24,$24,$27,$24,$24,$27,$24,$FC,$44,$44,$FC,$44,$44,$FC,  4
byte_3888B:	.BYTE $10,$10,$10,$15,$59,$53,$55,$91,$80,$84,$FE,  4,$24,$F4,$24,$24
					; DATA XREF: BANK_03:807Do
		.BYTE $11,$11,$11,$29,$25,$45,$80,  0,$24,$E4,$14,  8,	2,  2,$FE,  0
byte_388AB:	.BYTE	1,  1,	1,  1,$11,$11,$11,$21,	0,  0,	0,  0,	8,$18,$20,$40
					; DATA XREF: BANK_03:807Fo
		.BYTE $42,  2,	4,  4,	8,$10,$20,$40,$80,$80,$40,$40,$20,$10, $E,  4
byte_388CB:	.BYTE $10,$1E,$28,$45,	8,  4,$FF,  2,$40,$7C,$90,  8,$20,$44,$FE,  8
					; DATA XREF: BANK_03:8081o
		.BYTE $3F,$22,$3E,$22,$3E,$22,$2A,$24,	8,$48,$48,$48,$48,$48,	8,$18
byte_388EB:	.BYTE $10,$14,$3E,$49,$84,$3F,$20,$2F,$40,$44,$FE,$20,$10,$F8,	8,$E8
					; DATA XREF: BANK_03:8083o
		.BYTE $20,$27,$24,$24,$24,$27,$20,$20,	8,$C8,$48,$48,$48,$C8,$28,$10
byte_3890B:	.BYTE	1,  1,	1,$7F,	1,$11,	9,  1,	0,  0,	8,$FC,	0,$10,$20,  4
					; DATA XREF: BANK_03:8085o
		.BYTE $FF,  1,	2,  2,	4,  8,$30,$C0,$FE,  0,$80,$80,$40,$30, $E,  4
byte_3892B:	.BYTE	4,  4,$FF,  4,	8,$10,$22,$7C,$40,$44,$FE,$40,$40,$44,$7E,$84
					; DATA XREF: BANK_03:8087o
		.BYTE	9,$10,$7E,  0, $E,$70,$20,  0,	4,$44,$24,$24,	4,  4,$28,$10
byte_3894B:	.BYTE	8,  8,$7F,  8,	0,$1F,$10,$1F,$20,$28,$FC,$20,$10,$F8,$10,$F0
					; DATA XREF: BANK_03:8089o
		.BYTE $10,$1F,	1,$FF,	1,  1,	1,  1,$10,$F0,	4,$FE,	0,  0,	0,  0
byte_3896B:	.BYTE	0,  0,	0,  0,	0,  0,	0,  1,	0,  8,$10,$60,$40,$C0,$80,$80
					; DATA XREF: BANK_03:808Bo
		.BYTE	1,  0,	0,  0,	0,  0,	0,  0,$80,$80,$C0,$40,$60,$10,	8,  0
byte_3898B:	.BYTE $10,$10,$23,$20,$44,$F8,$10,$20,	0,  8,$FC,$20,$20,$20,$20,$20
					; DATA XREF: BANK_03:808Do
		.BYTE $40,$FC,$40,  0,$1C,$E0,$47,  0,$20,$20,$20,$20,$20,$24,$FE,  0
byte_389AB:	.BYTE	0,$10,	8,  6,	2,  3,	1,  1,	0,  0,	0,  0,	0,  0,	0,$80
					; DATA XREF: BANK_03:808Fo
		.BYTE	1,  1,	3,  2,	6,  8,$10,  0,$80,  0,	0,  0,	0,  0,	0,  0
byte_389CB:	.BYTE $10,$13,$20,$21,$44,$FF,$10,$22,	8,$FC,	8,$F8,	8,$FE,$40,$44
					; DATA XREF: BANK_03:8091o
		.BYTE $41,$F9,	0,  1,$1A,$E4,$41,  0,$4C,$50,$E0,$50,$48,$4E,$44,$80
byte_389EB:	.BYTE	8,  8,$FF,  8,	4,$24,$25,$26,$20,$24,$FE,$20,$90,$F8,	0,$40
					; DATA XREF: BANK_03:8093o
		.BYTE $24,  4,$3F,$24,$24,$24,$FF,  0,$20,  8,$FC,$48,$48,$48,$FE,  0
byte_38A0B:	.BYTE $10,$10,$21,$21,$45,$F9,$11,$21,	0,  8,$FC,  8,	8,  8,$F8,  8
					; DATA XREF: BANK_03:8095o
		.BYTE $41,$FD,$41,  1,$1D,$E1,$47,  0,	8,  8,$F8,  8,	8,  8,$FE,  0
byte_38A2B:	.BYTE	1,  1,	2,  4,	8,$10,$2F,$C0,	0,  0,$80,$40,$20,$10,$EE,  4
					; DATA XREF: BANK_03:8097o
		.BYTE	0,$1F,$10,$10,$10,$10,$1F,$10,$10,$F8,$10,$10,$10,$10,$F0,$10
byte_38A4B:	.BYTE	4,  4, $F,  8,$10,$3F,$40,$1F,	0,  0,$E0,$40,$88,$FC,	8,$F8
					; DATA XREF: BANK_03:8099o
		.BYTE	0,$3F,	2,$51,$50,$90, $F,  0,	8,$F8,	0,$84,$92,$12,$F0,  0
byte_38A6B:	.BYTE $10,$14,$12,$10,$FE,$11,$92,$54,$40,$40,$40,$44,$FE,  8,$88,$88
					; DATA XREF: BANK_03:809Bo
		.BYTE $18,$30,$54,$D2,$10,$10,$50,$23,$90,$50,$50,$20,$50,$50,$8E,  4
byte_38A8B:	.BYTE	0, $B,$7C,$49,$4F,$49,$48,$4B,$48,$FC,$40,$14,$FE,$10,	8,$FC
					; DATA XREF: BANK_03:809Do
		.BYTE $4A,$4A,$4A,$7A,$4A,  0,	1,  6,	8,$48,$48,$48,$48,$90, $C,  4
byte_38AAB:	.BYTE $3F,  1,$7F,$51,$89,$14,	7, $C,$F8,  0,$FE,$12,$24,$10,$E0,$40
					; DATA XREF: BANK_03:809Fo
		.BYTE $13, $C,$F2, $F,	2,  4,	8,$30,$80,$60,$1E,$E4,$20,$20,$A0,$40
byte_38ACB:	.BYTE $10,$11,$11,$1D,$21,$21,$7D,$91,	8,$FC,	8,  8,	8,$F8,	8,  8
					; DATA XREF: BANK_03:80A1o
		.BYTE $11,$FD,$11,$11,$15,$19,$12,  4,	8,$F8,	8,  8,	8,  8,$28,$10
byte_38AEB:	.BYTE	2,$3F,$22,$22,$3E,$22,$3E,  2,$40,$40,$40,$40,$48,$58,$60,$40
					; DATA XREF: BANK_03:80A3o
		.BYTE $FF,  8,$2A,$2F,$28,$58,$87,  0,$40,$44,$44,$3C,	0,  6,$FC,  0
byte_38B0B:	.BYTE $10,$15,$1F,$21,$21,$7C,$91,$14,$20,$24,$24,$24,$FC,  0,$FC,  4
					; DATA XREF: BANK_03:80A5o
		.BYTE $FE,$11,$11,$11,$15,$19,$10,  0,	4,$FC,	4,  0,	2,  2,$FE,  0
byte_38B2B:	.BYTE	0,$3F,$21,$21,$21,$3F,$21,$21,	8,$FC,	8,  8,	8,$F8,	8,  8
					; DATA XREF: BANK_03:80A7o
		.BYTE $21,$3F,$21,  1,	1,  1,	1,  1,	8,$F8,	8,  0,	0,  0,	0,  0
byte_38B4B:	.BYTE	0,$3F,$20,$20,$3F,$20,$20,$2F,$78,$80,$80,$84,$FE,$80,$88,$FC
					; DATA XREF: BANK_03:80A9o
		.BYTE $28,$2F,$28,$2F,$48,$48,$8F,  8,	8,$F8,	8,$F8,	8,  8,$F8,  8
byte_38B6B:	.BYTE	8,$48,$49,$49,$49,$7D,$41,$41,$40,$84,$FE,$24,$24,$FC,$24,$44
					; DATA XREF: BANK_03:80ABo
		.BYTE $79,$48,$49,$4F,$48,$48,$88,  8,$FC,$A0,$24,$FE,$20,$20,$20,$20
byte_38B8B:	.BYTE	0,  0,	8,  6,$22,$18,	8,  0,$80,$80,$80,$80,$80,$80,$80,$84
					; DATA XREF: BANK_03:80ADo
		.BYTE $FF,  0,	1,  1,	2,  4,$18,$60,$FE,$80,	0,$60,$10,  8, $C,  4
byte_38BAB:	.BYTE	2,  2,$FF,  4,	4, $A,	9,$11,	0,  4,$FE,$80,$90,$A0,$40,$20
					; DATA XREF: BANK_03:80AFo
		.BYTE $22,$44,$3F,$24,$24,$24,$FF,  0,$1C,  8,$F8,$48,$48,$48,$FE,  0
byte_38BCB:	.BYTE	0,  0,	3,  6, $C, $C, $C, $C,	0,  0,$E0,$30,$18,$18,$18,$18
					; DATA XREF: BANK_03:80B1o
		.BYTE  $C, $C, $C, $C,	6,  3,	0,  0,$18,$18,$18,$18,$30,$E0,	0,  0
byte_38BEB:	.BYTE	0,  0,	3,  6, $C, $C,	0,  0,	0,  0,$C0,$60,$30,$30,$30,$30
					; DATA XREF: BANK_03:80B3o
		.BYTE	0,  0,	1,  3,	6, $F,	0,  0,$60,$C0,$80,$10,$10,$F0,	0,  0
byte_38C0B:	.BYTE	0,  0,	3,  6, $C,  0,	0,  1,	0,  0,$C0,$60,$30,$30,$60,$C0
					; DATA XREF: BANK_03:80B5o
		.BYTE	0,  0,	0, $C,	6,  3,	0,  0,$60,$30,$30,$30,$60,$C0,	0,  0
byte_38C2B:	.BYTE $10,$10,$13,$12,$FC,$10,$15,$18,$40,$20,$FE,  2,$54,$88,	4,  0
					; DATA XREF: BANK_03:80B7o
		.BYTE $30,$D3,$10,$10,$10,$10,$57,$20,	8,$FC,$20,$20,$20,$24,$FE,  0
byte_38C4B:	.BYTE	4,$24,$25,$3F,$24,$44,$FF,  4,	4,  4,	4,$A4,$24,$A4,$E4,$24
					; DATA XREF: BANK_03:80B9o
		.BYTE $3F,$24,$24,$24,$26,$25,	4,  4,$A4,$A4,$A4,$84,$84,  4,$14,  8
byte_38C6B:	.BYTE	2,  1,$7F,$40,$80,$3F,	4,  8,	0,  0,$FE,  2,$14,$F8,	0,$20
					; DATA XREF: BANK_03:80BBo
		.BYTE $1F,  1,	1,$1F,	1,  1,$7F,  0,$F0,$10,	0,$F0,	0,  8,$FC,  0
byte_38C8B:	.BYTE	2,  2,	2,$7F,$42,$42,$7F,$42,	0,  0,$10,$F8,$10,$10,$F0,$10
					; DATA XREF: BANK_03:80BDo
		.BYTE $42,$7F,$42,  2,	2,  2,	1,  0,$10,$F0,$10,  0,	4,  4,$FC,  0
byte_38CAB:	.BYTE	2,  2,	2,  2,$7F,  2,	2,  2,	0,  0,	0,  8,$FC,  8,	8,  8
					; DATA XREF: BANK_03:80BFo
		.BYTE	2,  2,	2,  4,	4,  8,	8,$70,	8,  8,	8,  8,	8,$88,$50,$20
byte_38CCB:	.BYTE	4,  4,	7,  8,	8,$1F,$28,$48,	0,  0,$F0,$20,$48,$FC,$88,$88
					; DATA XREF: BANK_03:80C1o
		.BYTE	8, $F,	8,  8,	8,  8,	7,  0,$88,$F8,	8,  0,	2,  2,$FE,  0
byte_38CEB:	.BYTE	9,  9,$7F,  9,	9,$7F,$41,$81,$20,$28,$FC,$20,$20,$FE,	2,  4
					; DATA XREF: BANK_03:80C3o
		.BYTE $1F,$11,$11,$11,$11,$11,$11,  1,$F0,$10,$10,$10,$10,$50,$20,  0
byte_38D0B:	.BYTE	0,  1,	1,  2,$3F,$24,$24,$24,	0,  0,	0,  8,$FC,$48,$48,$48
					; DATA XREF: BANK_03:80C5o
		.BYTE $24,$24,$24,$24,$24,$24,$FF,  0,$48,$48,$48,$48,$48,$48,$FE,  0
byte_38D2B:	.BYTE	0,$40,$37,$10,$83,$60,$2F,  8,$40,$48,$FC,$40,$F8,$40,$FE,  8
					; DATA XREF: BANK_03:80C7o
		.BYTE $13,$22,$E3,$22,$23,$22,$22,$22,$FC,  8,$F8,  8,$F8,  8,$28,$10
byte_38D4B:	.BYTE	1,  1,	1,  1,$FF,  1,	3,  3,	0,  0,	0,  4,$FE,  0,$80,$40
					; DATA XREF: BANK_03:80C9o
		.BYTE	5,  9,$11,$21,$C1,  1,	1,  1,$20,$10,	8, $E,	4,  0,	0,  0
byte_38D6B:	.BYTE $10,$10,$20,$20,$4F,$FA,$11,$21,$80,$40,$40,  4,$FE,  8,$10,$10
					; DATA XREF: BANK_03:80CBo
		.BYTE $40,$FC,	0,  0,$1C,$E1,$42,  4,$A0,$A0,$40,$A0,$A0,$10, $E,  4
byte_38D8B:	.BYTE	1,$3F,	8,  4,$FF,  0,$1F,$10,	0,$F8,$20,$44,$FE,$10,$F8,$10
					; DATA XREF: BANK_03:80CDo
		.BYTE $1F,$10,$1F,  1,$FF,  1,	1,  1,$F0,$10,$F0,  4,$FE,  0,	0,  0
byte_38DAB:	.BYTE	4,  4,$3F,  4,	4,$FF,	1,$1F,$40,$50,$F8,$40,$44,$FE,$10,$F8
					; DATA XREF: BANK_03:80CFo
		.BYTE $11,$1F,$11,$1F,$10,  4,$18,$60,$10,$F0,$10,$F0,	0,$60,$18,  4
byte_38DCB:	.BYTE	1,  1,	2,  4,	8,$10,$2F,$C1,	0,  0,$80,$40,$20,$50,$EE,  4
					; DATA XREF: BANK_03:80D1o
		.BYTE	1,$1F,	1,$11,	9,  5,$7F,  0,	0,$F0,	0,$10,$20,$48,$FC,  0
byte_38DEB:	.BYTE	0,$1F,$10,$10,$10,$10,$10,$1F,$10,$F8,$10,$10,$10,$10,$10,$F0
					; DATA XREF: BANK_03:80D3o
		.BYTE $10,$10,$10,$10,$10,$1F,$10,  0,$10,$10,$10,$10,$10,$F0,$10,  0
byte_38E0B:	.BYTE	2,  1,	1,  0,$7F,  0,	0,  0,	0,  0,	0,  0,$F8,$10,$20,$40
					; DATA XREF: BANK_03:80D5o
		.BYTE	0,  1,	2, $C,$30,$48,	7,  0,$80,  0,	0,  0,	0,  6,$FC,  0
byte_38E2B:	.BYTE	0,$7F,$40,$84,$3E,  0,	2,$7F,	0,$FE,	2, $C,	8,  8,$FE,  8
					; DATA XREF: BANK_03:80D7o
		.BYTE $14,$14,$14,$14,$24,$24,$43,$80,$48,$28,	8,$28,$12,  2,$FE,  0
byte_38E4B:	.BYTE	0, $F,	8,  8,	8, $F,	8,  8,$10,$F8,$10,$10,$10,$F0,$10,$10
					; DATA XREF: BANK_03:80D9o
		.BYTE	8, $F,	8,  8,$10,$10,$20,$40,$10,$F0,$10,$10,$10,$10,$50,$20
byte_38E6B:	.BYTE	0,$3F,$20,$3F,$20,$3F,	1,$21,	8,$FC,	8,$F8,	8,$F8,	0,  8
					; DATA XREF: BANK_03:80DBo
		.BYTE $3F,$21,$41,$BF,	1,  1,$FF,  0,$FC,  0,$10,$F8,	0,  4,$FE,  0
byte_38E8B:	.BYTE	0,$3F,$20,$28,$24,$22,$22,$21,$10,$F8,$10,$50,$50,$90,$90,$10
					; DATA XREF: BANK_03:80DDo
		.BYTE $21,$22,$22,$24,$28,$30,$40,$80,$10,$90,$90,$50,$50,$12, $A,  6
byte_38EAB:	.BYTE	2,  1,$7F,$40,$80,  0,$3F,  1,	0,  0,$FE,  2,	4,$10,$F8,  0
					; DATA XREF: BANK_03:80DFo
		.BYTE	1,$1F,	1,  1,	1,  1,$7F,  0,$20,$F0,	0,$60,$20,  8,$FC,  0
byte_38ECB:	.BYTE	0,  0,$FF,  2,	2,  4,	4,  8,	0,  4,$FE,  0,	0,  0,	0,  8
					; DATA XREF: BANK_03:80E1o
		.BYTE $1F,$28,$48,$88,	8,  8, $F,  8,$FC,  8,	8,  8,	8,  8,$F8,  8
byte_38EEB:	.BYTE	2,  2,	2,$7F,	2,  2,	2,  2,	0,$10, $C,$E4,$20,$20,$20,$20
					; DATA XREF: BANK_03:80E3o
		.BYTE $FF,  2,	2,  2,	2,  2,	2,  2,$FC,  4,	4,  4,	4,$28,$10,  0
byte_38F0B:	.BYTE	8,  8,$14,$12,$21,$20,$7E,$A2,	4,  4,	4,$24,$A4,$A4,$24,$24
					; DATA XREF: BANK_03:80E5o
		.BYTE $22,$2A,$24,$20,$21,$21,$1F,  0,$24,$24,$24,  4,	4,  4,$14,  8
byte_38F2B:	.BYTE	1,$11,$11,$11,$11,$FF,$11,$11,$10,$10,$10,$10,$14,$FE,$10,$10
					; DATA XREF: BANK_03:80E7o
		.BYTE $11,$11,$11,$11,$10,$10,$1F,  0,$10,$10,$F0,$10,	0,  8,$FC,  0
byte_38F4B:	.BYTE	0,$3F,$22,$24,$2C,$35,$24,$24,$80,$FE,$50,$7C,$D0,$7C,$50,$5C
					; DATA XREF: BANK_03:80E9o
		.BYTE $21,$27,$24,$24,$47,$40,$9F,  0,	0,$F0,$90,$20,$FC,  4,$E4, $C
byte_38F6B:	.BYTE $12,$12,$2A,$2A,$4F,$90,$1F,$24,$10,$10,$90,$90,$BE,$44,$84,$A4
					; DATA XREF: BANK_03:80EBo
		.BYTE $6F,$A2,$25,$2F,$22,$2A,$32,$26,$24,$24,$28,$98,$10,$A8,$46,$84
byte_38F8B:	.BYTE	0,$44,$2B,$12,$2A,$4B,$8A, $A,$80,$48,$FC,  8,	8,$F8,	8,  8
					; DATA XREF: BANK_03:80EDo
		.BYTE $1B,$2A,$4A,$8A, $A, $A,$53,$22,$F8,$84,$48,$30,$10,$8E,	4,  0
byte_38FAB:	.BYTE	0,  0,$7F,$44,$44,$44,$44,$44,	0,  4,$FE,$44,$44,$44,$44,$44
					; DATA XREF: BANK_03:80EFo
		.BYTE $44,$44,$48,$50,$40,$7F,$40,  0,$44,$3C,	4,  4,	4,$FC,	4,  0
byte_38FCB:	.BYTE	8, $F,$10,$20,$5F,$91,$11,$1F,	0,$E0,$40,$88,$FC,  8,	8,$F8
					; DATA XREF: BANK_03:80F1o
		.BYTE $11,$11,$1F,$11,$11,$21,$41,$80,	8,  8,$F8,  8,	8,  8,$28,$10
byte_38FEB:	.BYTE	0,$7F,$11,$11,$11,$11,$11,$FF,$80,$C4, $C,$10,$20,$44, $C,$D0
					; DATA XREF: BANK_03:80F3o
		.BYTE $11,$11,$11,$11,$21,$21,$41,  1,$20,$42,	6,  8,$10,$20,$40,$80
byte_3900B:	.BYTE $10,$10,$11,$11,$FD,$11,$15,$19,	0,  4,$FE,$24,$24,$24,$24,$FC
					; DATA XREF: BANK_03:80F5o
		.BYTE $31,$D1,$11,$11,$11,$11,$50,$20,	4,  0,	0,  0,	2,  2,$FE,  0
byte_3902B:	.BYTE	0,  4,	2,  3,	1,$FF,	0,  0,	0,  0,	0,  0,	4,$FE,	0,  0
					; DATA XREF: BANK_03:80F7o
		.BYTE	4, $C,	8,$10,$10,$20,$40,  0,$40,$20,$10,$18, $C, $C,	4,  0
byte_3904B:	.BYTE $10,$10,$10,$13,$FC,$10,$14,$18,	0,  0,	4,$FE,$20,$20,$20,$20
					; DATA XREF: BANK_03:80F9o
		.BYTE $30,$D0,$10,$10,$10,$10,$50,$20,$20,$20,$20,$20,$20,$20,$A0,$40
byte_3906B:	.BYTE $10,$10,$11,$11,$FD,$11,$31,$39,	0,$10,$F8,$10,$10,$10,$10,$10
					; DATA XREF: BANK_03:80FBo
		.BYTE $55,$51,$91,$11,$11,$12,$14,$18,$10,$10,$10,$10,$12,$12, $E,  0
byte_3908B:	.BYTE	0,$78,$48,$50,$51,$62,$55,$48,$40,$40,$A0,$A0,$10, $E,$F4,$40
					; DATA XREF: BANK_03:80FDo
		.BYTE $48,$4F,$68,$51,$42,$44,$41,$40,$50,$FC,$40,$50,$4C,$44,$40,$80
byte_390AB:	.BYTE	8,  4,$7F,$11, $A,  4, $A,$31,	4,$84,$C4,$24,$24,$24,$24,$A4
					; DATA XREF: BANK_03:80FFo
		.BYTE $D1,$11,$11,$11,$11,$21,$41,  0,$64,$24,$24,$24,	4,  4,$14,  8
byte_390CB:	.BYTE	0,  0,$1F,$10,$11,$11,$21,$7F,$20,$F0,	0,  0,	0,  0,	4,$FE
					; DATA XREF: BANK_03:8101o
		.BYTE	1,  1,	9,  9,$11,$21,$45,  2,	0,  0,$20,$10,	8, $C,	4,  0
byte_390EB:	.BYTE	1,$40,$27,$20,	2,  1,$EF,$20,$10,$A0,$FC,$A0,$A8,$B0,$FE,  8
					; DATA XREF: BANK_03:8103o
		.BYTE $23,$22,$22,$23,$2A,$32,$23,  2,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_3910B:	.BYTE	0,$40,$32,$12,$82,$63,$2E,  2,$40,$40,$40,$48,$7C,$C8,$48,$48
					; DATA XREF: BANK_03:8105o
		.BYTE $12,$22,$E2,$22,$22,$22,$21,$20,$48,$48,$68,$50,$42,  2,$FE,  0
byte_3912B:	.BYTE	0,$7D,$44,$44,$44,$44,$7D,$44,	4,$FE,$44,$44,$84,$94,	8,$FC
					; DATA XREF: BANK_03:8107o
		.BYTE $44,$44,$44,$7C,	0,$24,$62,$82,$84,$84,$84,$FC,	0,$88,$46,$42
byte_3914B:	.BYTE	0,  4,$7E,$44,$44,$44,$7C,$44,	4,$FE,$84,$84,$84,$FC,$84,$84
					; DATA XREF: BANK_03:8109o
		.BYTE $44,$44,$7C,$44,	1,  1,	2,  4,$84,$FC,$84,$84,	4,  4,$14,  8
byte_3916B:	.BYTE	0,  0,$38,$18,$1C,$16,$16,$13,	0,  0, $E, $C,$1C,$2C,$2C,$6C
					; DATA XREF: BANK_03:810Bo
		.BYTE $13,$11,$11,$10,$10,$38,	0,  0,$4C,$4C,$CC,$8C,$8C,$1E,	0,  0
byte_3918B:	.BYTE	0,  0,	3,  6, $C,$18,$18,$18,	0,  0,$E0,$30,$18, $C, $C, $C
					; DATA XREF: BANK_03:810Do
		.BYTE $18,$18,$18, $C,	6,  3,	0,  0, $C, $C, $C,$18,$30,$E0,	0,  0
byte_391AB:	.BYTE	1,$21,$11,  9,	9,  1,$FF,  4,	0,  8, $C,$10,$20,  4,$FE,$40
					; DATA XREF: BANK_03:810Fo
		.BYTE	4,  4,	4,  8,	8,$10,$20,$40,$40,$40,$40,$40,$42,$42,$3E,  0
byte_391CB:	.BYTE	0,  9,$FD,$13,$11,$21,$25,$3F,$50,$50,$54,$FE,$50,$50,$70,  0
					; DATA XREF: BANK_03:8111o
		.BYTE $65,$A4,$27,$24,$24,$3D,$22,  0,$FC,$20,$FE,$70,$A8,$26,$24,$20
byte_391EB:	.BYTE	2,  1,$7F,$40,$84, $C,$10,$20,	0,  0,$FE,  2,$44,$30,$18,  8
					; DATA XREF: BANK_03:8113o
		.BYTE	0,$3F,	1,  1,	1,  1,$FF,  0,	0,$F8,	0,  0,	0,  4,$FE,  0
byte_3920B:	.BYTE $42,$25,$28,$FE,$24,$24,$24,$24,	4,$FE,$80,$88,$FC,$88,$88,$C8
					; DATA XREF: BANK_03:8115o
		.BYTE $FF,$24,$24,$25,$25,$45,$85,  4,$A8,$A8,$88,  8,$28,$CA, $A,  6
byte_3922B:	.BYTE	0,$1F,$10,$10,$10,$1F,$10,  2,$10,$F8,$10,$10,$10,$F0,$10,  4
					; DATA XREF: BANK_03:8117o
		.BYTE $7F,$42,$42,$42,$42,$42,$7E,$42,$FE,$84,$84,$84,$84,$84,$FC,$84
byte_3924B:	.BYTE	1,  1,	1,  1,	1,$7D,	5,  5,	0,  0,	0,  8,$18,$20,$C0,$80
					; DATA XREF: BANK_03:8119o
		.BYTE	9,  9,$11,$21,$41,$81,	5,  2,$40,$20,$10, $E,	4,  0,	0,  0
byte_3926B:	.BYTE	0,  0,$1E, $C, $C, $C, $C, $C,	0,  0,$1C,  8,	8,  8,	8,  8
					; DATA XREF: BANK_03:811Bo
		.BYTE  $C, $C, $C, $C,	6,  3,	0,  0,	8,  8,	8,$18,$30,$E0,	0,  0
byte_3928B:	.BYTE	0,  0,$1F, $C, $C, $C, $C, $F,	0,  0,$E0,$38,$18,$18,$30,$F0
					; DATA XREF: BANK_03:811Do
		.BYTE  $C, $C, $C, $C, $C,$1F,	0,  0,$18, $C, $C, $C,$38,$E0,	0,  0
byte_392AB:	.BYTE	0,$1F,$10,$10,$10,$1F,	0,$FF,$10,$F8,$10,$10,$10,$F0,	4,$FE
					; DATA XREF: BANK_03:811Fo
		.BYTE	4,  8,$1F,  0,	0,  0,	0,  0,	0,$10,$F8,$10,$10,$10,$A0,$40
byte_392CB:	.BYTE	0,  0,$1C, $E, $B, $B,	9,  9,	0,  0,$38,$10,$10,$10,$90,$90
					; DATA XREF: BANK_03:8121o
		.BYTE	8,  8,	8,  8,	8,$1C,	0,  0,$D0,$D0,$70,$70,$30,$10,	0,  0
byte_392EB:	.BYTE	0,  0,$1F, $C, $C, $C, $C, $C,	0,  0,$E0,$30,$18,$18,$18,$30
					; DATA XREF: BANK_03:8123o
		.BYTE  $F, $C, $C, $C, $C,$1E,	0,  0,$E0,  0,	0,  0,	0,  0,	0,  0
byte_3930B:	.BYTE	0,  0,	0,  0,	0,  0,	0, $F,	0,  0,	0,  0,	0,  0,	0,$F8
					; DATA XREF: BANK_03:8125o
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3932B:	.BYTE	0,  0,	0,  1,	3,  2,	6, $C,	0,$40,$C0,$C0,$C0,$C0,$C0,$C0
					; DATA XREF: BANK_03:8127o
		.BYTE  $C,$18,$1F,  0,	0,  1,	0,  0,$C0,$C0,$F0,$C0,$C0,$E0,	0,  0
byte_3934B:	.BYTE	0,  0,	3,  6, $C, $C, $D, $E,	0,  0,$C0,$60,$30,  0,$C0,$60
					; DATA XREF: BANK_03:8129o
		.BYTE  $C, $C, $C, $C,	6,  3,	0,  0,$30,$30,$30,$30,$60,$C0,	0,  0
byte_3936B:	.BYTE	0,  0, $F, $F,	8,  0,	0,  0,	0,  0,$F0,$F0,$30,$60,$C0,$C0
					; DATA XREF: BANK_03:812Bo
		.BYTE	1,  1,	3,  3,	3,  3,	0,  0,$80,$80,	0,  0,	0,  0,	0,  0
byte_3938B:	.BYTE	0,  0,	0,  3,	1,  1,	1,  1,	0,  0,$80,$80,$80,$80,$80,$80
					; DATA XREF: BANK_03:812Do
		.BYTE	1,  1,	1,  1,	1,  3,	0,  0,$80,$80,$80,$80,$80,$C0,	0,  0
byte_393AB:	.BYTE	0,  0,$3C,$18,$18,$18, $C, $C,	0,  0,$1C,  8,	8,$10,$10,$20
					; DATA XREF: BANK_03:812Fo
		.BYTE  $C,  6,	6,  2,	3,  1,	0,  0,$20,$40,$40,$80,$80,  0,	0,  0
byte_393CB:	.BYTE	0,  0,	1,  0,	0,  0,	0,  0,	0,  0,$E0,$C0,$C0,$C0,$C0,$C0
					; DATA XREF: BANK_03:8131o
		.BYTE	0,  0,	0,$38,$18, $F,	0,  0,$C0,$C0,$C0,$C0,$C0,$80,	0,  0
byte_393EB:	.BYTE	0,  0,$1E, $C, $C, $C, $C, $C,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:8133o
		.BYTE  $C, $C, $C, $C, $C,$1F,	0,  0,	0,  0,	0,  8,$18,$F8,	0,  0
byte_3940B:	.BYTE	0,  0,$3F,$31,$21,$21,	1,  1,	0,  0,$FC,$8C,$84,$84,$80,$80
					; DATA XREF: BANK_03:8135o
		.BYTE	1,  1,	1,  1,	1,  3,	0,  0,$80,$80,$80,$80,$80,$C0,	0,  0
byte_3942B:	.BYTE $11,$1F,$21,$FF,	0,$1F,$10,$1F,$20,$F0,	4,$FE,	0,$F0,$10,$F0
					; DATA XREF: BANK_03:8137o
		.BYTE	2,$7E,	2,$3E,	2,$7E,	2,  2,$80,$FC,$80,$F8,$80,$FC,$80,$80
byte_3944B:	.BYTE	2,  1,$7F,$40,$80,  8,	8,  8,	0,  0,$FE,  2,	4,  0,$20,$60
					; DATA XREF: BANK_03:8139o
		.BYTE	9, $E,	8,  8,	8,  8,	7,  0,$80,  0,	0,  0,	8,  8,$F8,  0
byte_3946B:	.BYTE	0,$FF,	0,  0,$1F,$10,$10,$10,	4,$FE,$10,$90,$D0,$90,$90,$90
					; DATA XREF: BANK_03:813Bo
		.BYTE $10,$10,$1F,$10,	0,  0,	0,  0,$90,$90,$90,$90,$10,$10,$50,$20
byte_3948B:	.BYTE	2,  1,$7F,$40,$80,$1F,	0,  0,	0,  0,$FE,  2,$24,$F0,	0,  8
					; DATA XREF: BANK_03:813Do
		.BYTE $7F,  4,	4,  4,	8,  8,$10,$60,$FC,$80,$80,$80,$82,$82,$7E,  0
byte_394AB:	.BYTE	0,$FF,	0,  0,	1,  1,	3,  5,	4,$FE,$80,$80,	0,  0,$40,$20
					; DATA XREF: BANK_03:813Fo
		.BYTE	9,$11,$21,$41,	1,  1,	1,  1,$18, $C,	4,  0,	0,  0,	0,  0
byte_394CB:	.BYTE	0,  0,	0,$3F,$20,$20,$20,$3E,$80,$A0,$90,$FC,$80,$80,$84,$44
					; DATA XREF: BANK_03:8141o
		.BYTE $22,$22,$22,$2A,$24,$40,$81,  0,$48,$48,$30,$20,$62,$92, $A,  6
byte_394EB:	.BYTE	8,  8, $B,$10,$10,$30,$50,$9F,	0,$18,$E0,$40,$40,$40,$44,$FE
					; DATA XREF: BANK_03:8143o
		.BYTE $10,$10,$10,$10,$10,$17,$10,$10,$40,$40,$40,$40,$48,$FC,	0,  0
byte_3950B:	.BYTE	8,  8, $F,$18,$26,$41,	6,$1A,	0,  0,$F0,$20,$C0,  0,$C0,$30
					; DATA XREF: BANK_03:8145o
		.BYTE $E2,$1F,	2,  2,	4,  4,	8,$30, $E,$F4,$10,$10,$10,$10,$A0,$40
byte_3952B:	.BYTE	2,  2,	2,$FF,	4,  9,$11,$3F,	0,  0,	8,$FC,	0,  0,	8,$FC
					; DATA XREF: BANK_03:8147o
		.BYTE $51,$91,$11,$11,$11,$11,	1,  1,	8,  8,	8,  8,$28,$10,	0,  0
byte_3954B:	.BYTE	0,$3F,$21,$21,$3F,$21,$21,$21,	8,$FC,	8,  8,$F8,  8,	8,  8
					; DATA XREF: BANK_03:8149o
		.BYTE $3F,  1,	1,$7F,	1,  1,$FF,  0,$F8,  0,	8,$FC,	0,  4,$FE,  0
byte_3956B:	.BYTE $21,$21,$27,$21,$20,$F8,$21,$22,$10,$10,$FC,$10,$40,$A0,$10, $E
					; DATA XREF: BANK_03:814Bo
		.BYTE $2D,$20,$23,$3A,$E2,$42,	3,  2,$F4,  8,$FC,  8,	8,  8,$F8,  8
byte_3958B:	.BYTE	0,  0,	3,  6, $C, $C, $C, $C,	0,  0,$C0,$60,$30,$30,$30,$30
					; DATA XREF: BANK_03:814Do
		.BYTE	6,  3,	0, $C,	6,  3,	0,  0,$70,$F0,$30,$30,$60,$C0,	0,  0
byte_395AB:	.BYTE	0,  0,$1F, $C, $C, $C, $C, $F,	0,  0,$F8,$18,	8,  0,$20,$E0
					; DATA XREF: BANK_03:814Fo
		.BYTE  $C, $C, $C, $C, $C,$1E,	0,  0,$20,  0,	0,  0,	0,  0,	0,  0
byte_395CB:	.BYTE	0,  0,	7, $C,$18,$18, $E,  3,	0,  0,$E8,$18,	8,  0,	0,$E0
					; DATA XREF: BANK_03:8151o
		.BYTE	0,  0,	0,$10,$1C,$17,	0,  0,$30,$18,$18,$18,$30,$C0,	0,  0
byte_395EB:	.BYTE	0,$3F,	1,$7F,$41,$9D,	1,$1D,$10,$F8,	0,$FE,	2,$74,	0,$70
					; DATA XREF: BANK_03:8153o
		.BYTE	1,$3F,$21,$21,$3F,$21,$21,$3F,	0,$F8,	8,  8,$F8,  8,	8,$F8
byte_3960B:	.BYTE $10,$11,$14,$FE,$11,$55,$55,$55,	4,$FE,$20,$44,$FE,  4,$24,$24
					; DATA XREF: BANK_03:8155o
		.BYTE $55,$7D,$55,$11,$14,$18,$10,  3,$24,$24,$24,$24,$20,$50,$8C,  4
byte_3962B:	.BYTE $1F,  1,$7F,$51,$8D,$12,$3F,$12,$F0,  0,$FE,$12,$64,$10,$20,$24
					; DATA XREF: BANK_03:8157o
		.BYTE $FF,$21,$3F,$21,$3F,$21,$25,$22,$FE,  4,$44,$28,$10,$28,$46,$84
byte_3964B:	.BYTE	8,$48,$2B,  8,$18,$29,$4A,  9,$40,$48,$FC,$40,$50,$F8,	0,  4
					; DATA XREF: BANK_03:8159o
		.BYTE $FF,  2,	4, $C,$14,$65,	6,  4,$FE,  8,$90,$A0,$40,$30, $E,  4
byte_3966B:	.BYTE	2,  2,	2,$FF,	4,  4,	4,  8,	0,  0,	8,$FC,	0,  0,	0,$10
					; DATA XREF: BANK_03:815Bo
		.BYTE  $F,$10,$10,$20,$40,$80,$7F,  0,$F8,$80,$80,$80,$80,$84,$FE,  0
byte_3968B:	.BYTE $10,$10,$20,$FC,$21,$51,$52,$FD,$40,$40,$A0,$A0,$10,  8, $E,  4
					; DATA XREF: BANK_03:815Do
		.BYTE $11,$11,$1D,$F1,$51,$11,$10,$10,$10,$30,$C0,  0,	4,  4,$FC,  0
byte_396AB:	.BYTE	0,$3F,	0,  0,	0,  1,	1,$FF,	0,$F0,$10,$20,$40,$80,	4,$FE
					; DATA XREF: BANK_03:815Fo
		.BYTE	1,  1,	1,  1,	1,  1,	5,  2,	0,  0,	0,  0,	0,  0,	0,  0
byte_396CB:	.BYTE	0,  0,$1E, $C, $C, $C, $D, $F,	0,  0,$7C,$30,$60,$C0,$80,$80
					; DATA XREF: BANK_03:8161o
		.BYTE  $D, $C, $C, $C, $C,$1E,	0,  0,$C0,$E0,$70,$38,$1C,$1E,	0,  0
byte_396EB:	.BYTE	1,$7F,$12,$12,$12,$FF,$12,$12,	4,$84,$24,$24,$24,$A4,$24,$24
					; DATA XREF: BANK_03:8163o
		.BYTE $12,$23,$41,$7F,	1,  1,$FF,  0,	4,$14,	8,$FC,	0,  4,$FE,  0
byte_3970B:	.BYTE	1,$11,$11,$21,$7F,  2,	2,  7,	0,$20,$10,  4,$FE,  0,	0,$F0
					; DATA XREF: BANK_03:8165o
		.BYTE	6, $A,	9,$10,$21,$42,$8C,$30,$10,$20,$40,$80,$40,$30, $E,  4
byte_3972B:	.BYTE	8,$12,$3F,$22,$22,$3F,$22,$3E,	8,  8,	8,  8,	8,$FE,	8,  8
					; DATA XREF: BANK_03:8167o
		.BYTE $22,$22,$FE, $A,$12,$22,$CA,  4,$88,$48,$48,  8,	8,  8,$28,$10
byte_3974B:	.BYTE $3E,$22,$22,$22,$3E,  1,	1,$FF,$F8,$88,$88,$88,$F8,$20,$14,$FE
					; DATA XREF: BANK_03:8169o
		.BYTE	2, $C,$30,$FE,$22,$22,$22,$3E,$80,$60,$18,$FE,$88,$88,$88,$F8
byte_3976B:	.BYTE	2,  2,	7,  8,$18,$25,	2, $C,	0,  0,$F0,$20,$40,$80,$80,$80
					; DATA XREF: BANK_03:off_3816Bo
		.BYTE $71,  2, $C,$12,$21,  1, $E,$70,$FC,  8,$10,$20,$C0,  0,	0,  0
byte_3978B:	.BYTE $10,$1F,$28,$45,	1,$7F,$40,$9F,$40,$7C,$90,  8,	0,$FE,	2,$F4
					; DATA XREF: BANK_03:816Do
		.BYTE $10,$1F,$10,$1F,$10,$10,$1F,$10,$10,$F0,	0,$F0,$10,$10,$F0,  0
byte_397AB:	.BYTE $10,$10,$22,$7F,$42,$43,$42,$42,$40,$40,$44,$7E,$84,  4,	4,$84
					; DATA XREF: BANK_03:816Fo
		.BYTE $7E,$42,$42,$42,$42,$7E,$42,  0,$64,$24,	4,  4,	4,  4,$28,$10
byte_397CB:	.BYTE	2,  2,	2,  3,	2,  2,$3F,$20,	0,  0,	8,$FC,	0,$10,$F8,$10
					; DATA XREF: BANK_03:8171o
		.BYTE $20,$20,$3F,  0,$29,$24,$44,$80,$10,$10,$F0,  0,$10,$C8,$44,  4
byte_397EB:	.BYTE	0,  0, $F, $C, $C, $C, $F, $E,	0,  0,$F0,  0,	0,  0,$C0,$60
					; DATA XREF: BANK_03:8173o
		.BYTE	0,  0,	0, $C,	6,  3,	0,  0,$30,$30,$30,$30,$60,$C0,	0,  0
byte_3980B:	.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:8175o
		.BYTE  $C,$1E,$1E, $C,	4,  8,$10,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3982B:	.BYTE	1,  1,	1,$3F,	2,  2,$FF,  4,	0,  0,$10,$F8,	0,  4,$FE,  0
					; DATA XREF: BANK_03:8177o
		.BYTE	4, $F,	0,  0,	0,  6,	1,  0,	0,$F8,$10,$20,$40,$80,$80,$40
byte_3984B:	.BYTE	0,$3F,$21,$21,$21,$3F,$21,$21,	8,$FC,	8,  8,	8,$F8,	8,  8
					; DATA XREF: BANK_03:8179o
		.BYTE $21,$3F,$21,$21,$21,$41,$41,$80,	8,$F8,	8,  8,	8,  8,$28,$10
byte_3986B:	.BYTE $10,$10,$24,$44,$FE,  2,$7C,$44,$80,$88,$98,$A0,$C0,$84,$84,$7C
					; DATA XREF: BANK_03:817Bo
		.BYTE $7C,$44,$44,$7C,$44,$44,$54,$48,	0,$88,$98,$A0,$C0,$82,$82,$7E
byte_3988B:	.BYTE $10,  8,	4,$3F,$21,$21,$3F,$21,$10,$20,$48,$FC,	8,  8,$F8,  8
					; DATA XREF: BANK_03:817Do
		.BYTE $21,$3F,$21,  1,$FF,  1,	1,  1,	8,$F8,	0,  4,$FE,  0,	0,  0
byte_398AB:	.BYTE	0,$44,$28,$10,$2B,$4A,$8A,$1A,$40,$40,$40,$48,$FC,$48,$48,$48
					; DATA XREF: BANK_03:817Fo
		.BYTE $2A,$4B, $A,  8,	8,  8,$57,$20,$48,$F8,$48,$40,$48,$78,$84,  4
byte_398CB:	.BYTE $10,$10,$1F,$20,$27,$64,$A4,$24,$40,$44,$FE,$40,$FC,$44,$44,$44
					; DATA XREF: BANK_03:8181o
		.BYTE $27,$24,$22,$21,$20,$21,$26,$28,$FC,$44,$40,$80,$C0,$30, $E,  4
byte_398EB:	.BYTE	1,  1,	1,$7F,	1,$21,$19,  9,	0,  0,	8,$FC,	0,$10,$30,$44
					; DATA XREF: BANK_03:8183o
		.BYTE $FF,  3,	5,  9,$31,$C1,	1,  1,$FE,$80,$40,$30,$1E,  4,	0,  0
byte_3990B:	.BYTE	0,$40,$31,$11,$82,$67,$20,  8,$80,$80,	0,$10,	8,$FC,	0,  8
					; DATA XREF: BANK_03:8185o
		.BYTE $13,$22,$E2,$22,$22,$22,$23,$22,$FC,  8,	8,  8,	8,  8,$F8,  8
byte_3992B:	.BYTE	1,  0,$1F,$10,$90,$57,$50,$10,	0,$84,$FE,  0,	0,$F8,$10,$20
					; DATA XREF: BANK_03:8187o
		.BYTE $30,$50,$D0,$10,$20,$22,$41,  0,$40,$40,$40,$40,$40,$40,$40,$80
byte_3994B:	.BYTE	9,  9, $A,$13,$14,$38,$50,$97,	0,  0,	4,$FE,$80,$80,$88,$FC
					; DATA XREF: BANK_03:8189o
		.BYTE $10,$10,$10,$11,$11,$12,$14,$18,$88,$88,$88,  8,	8,  8,$50,$20
byte_3996B:	.BYTE	0,  0,$3F,$20,$20,$20,$20,$20,	0,  8,$FC,  8,	8,  8,	8,  8
					; DATA XREF: BANK_03:818Bo
		.BYTE $20,$20,$20,$20,$3F,$20,	0,  0,	8,  8,	8,  8,$F8,  8,	0,  0
byte_3998B:	.BYTE	1,  1,	1,$7F,$41,$41,$41,$41,	0,  0,	4,$FE,	4,  4,	4,  4
					; DATA XREF: BANK_03:818Do
		.BYTE $7F,$41,	1,  1,	1,  1,	1,  1,$FC,  4,	0,  0,	0,  0,	0,  0
byte_399AB:	.BYTE	1,$3F,	1,$1F,	1,$7F,	0,$1F,$10,$F8,	0,$F0,	0,$FC,	0,$F0
					; DATA XREF: BANK_03:818Fo
		.BYTE $12,$11,$FF,$22,$21,$3F,	0,  0,$10,$14,$FE,$10,$10,$F8,$10,$60
byte_399CB:	.BYTE	8,  8,	8,$48,$28,$2F,	8,  8,$40,$50,$48,$40,$44,$FE,$40,$40
					; DATA XREF: BANK_03:8191o
		.BYTE $18,$28,$49,$C9,	9, $A, $C,  8,$A0,$A0,$10,$10,	8, $E,	4,  0
byte_399EB:	.BYTE	1,  1,$FF,  1,	2,  4, $A,$31,	0,  4,$FE,  0,$80,$40,$30, $E
					; DATA XREF: BANK_03:8193o
		.BYTE $C0,  2,$29,$29,$28,$48,	7,  0,	4,  0,$10,  8,$24,$24,$E0,  0
byte_39A0B:	.BYTE	0,$FF,	2,  2,	4,$7F,$44,$44,	4,$FE,	0,  0,	4,$FE,$44,$44
					; DATA XREF: BANK_03:8195o
		.BYTE $44,$44,$44,$44,$44,$44,$44,$40,$44,$44,$44,$44,$44,$44,$54,  8
byte_39A2B:	.BYTE	0,$FF,	4,  4,$7F,$44,$44,$44,	4,$FE,$40,$44,$FE,$44,$44,$44
					; DATA XREF: BANK_03:8197o
		.BYTE $44,$44,$4A,$51,$62,$40,$40,$40,$44,$44,$A4,$1C, $C,  4,$14,  8
byte_39A4B:	.BYTE $10,$13,$12,$12,$FF,$12,$3A,$37,	8,$FC,$48,$48,$F8,$48,$48,$F8
					; DATA XREF: BANK_03:8199o
		.BYTE $50,$5F,$90,$10,$11,$12,$1C,$10,$40,$FE,$40,$E0,$50,$4E,$44,$40
byte_39A6B:	.BYTE	0,  0,$7F,  0,	0,  0,	0,$3F,	0,  8,$FC,  0,	0,  0,$10,$F8
					; DATA XREF: BANK_03:819Bo
		.BYTE	0,  0,	0,  0,	0,$FF,	0,  0,	0,  0,	0,  0,	4,$FE,	0,  0
byte_39A8B:	.BYTE	0,  4,$42,$43,$41,$40,$40,$40,	0,  8,	8,  8,	8,  8,	8,  8
					; DATA XREF: BANK_03:819Do
		.BYTE $41,$42,$44,$48,$50,$60,	1,  6,$10,$10,$10,$20,$30,$48,$84,  4
byte_39AAB:	.BYTE	8,  8, $F,$10,$10,$33,$52,$92,	0,  4,$FE,  8,$48,$E8,$48,$48
					; DATA XREF: BANK_03:819Fo
		.BYTE $12,$12,$13,$12,$10,$10,$10,$10,$48,$48,$C8,$48,	8,  8,$28,$10
byte_39ACB:	.BYTE	0,$7F,$44,$47,$4C,$52,$41,$42,	4,$FE,	4,$E4,$44,$84,	4,$84
					; DATA XREF: BANK_03:81A1o
		.BYTE $46,$49,$70,$46,$41,$40,$7F,$40,$44,$3C,$94,  4,	4,$84,$FC,  4
byte_39AEB:	.BYTE	1,$7F,$41,$82,$7F,  4, $C,  3,	0,$FE,	2,  4,$FC,$20,$40,$80
					; DATA XREF: BANK_03:81A3o
		.BYTE $1C,  1,$FF,  5,	9,$11,$61,  1,$70,  4,$FE,$40,$20,$1C,	8,  0
byte_39B0B:	.BYTE	2,  1,$7F,$40,$88, $F,	8,$10,	0,  0,$FE,  2,	4,$FE,$40,$88
					; DATA XREF: BANK_03:81A5o
		.BYTE $13,$32,$52,$93,$12,$12,$13,$12,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_39B2B:	.BYTE	1,  1,	2,  4,	8,$37,$C1,  1,	0,  0,$80,$40,$30,$CE,	4,$10
					; DATA XREF: BANK_03:81A7o
		.BYTE $3F,  1,	1,$1F,$10,$10,$1F,$10,$F8,  0,$10,$F8,$10,$10,$F0,$10
byte_39B4B:	.BYTE $10,$10,$18,$25,$24,$60,$BD,$24,$40,$40,$48,$FC,$50,$64,$FE,$88
					; DATA XREF: BANK_03:81A9o
		.BYTE $25,$26,$24,$25,$26,$24,$20,$20,$FC,$88,$88,$F8,$88,$88,$F8,$88
byte_39B6B:	.BYTE	2,  2,$FF,  4,	8, $B,$10,$10,	0,  4,$FE,  0,	0,$F8,$10,$20
					; DATA XREF: BANK_03:81ABo
		.BYTE $30,$5F,$90,$10,$10,$10,$11,$10,$44,$FE,$40,$40,$40,$40,$40,$80
byte_39B8B:	.BYTE	0,$20,$17,$10,	0,  0,$F0,$13,	0,  8,$FC,  8,	8,  8,	8,$F8
					; DATA XREF: BANK_03:81ADo
		.BYTE $12,$12,$12,$12,$16,$1A,$11,  0,	8,  0,	0,  2,	2,  2,$FE,  0
byte_39BAB:	.BYTE $10,$10,$13,$10,$58,$54,$50,$91,	0,  0,$F8,$10,$20,$40,$80,  0
					; DATA XREF: BANK_03:81AFo
		.BYTE $12,$12,$14,$14,$14,$14,$13,$10,	0,  0,	0,  0,	2,  2,$FE,  0
byte_39BCB:	.BYTE	0,$7F,$44,$44,$4F,$50,$40,$5F,	8,$FC,	0,$10,$F8,$80,$88,$FC
					; DATA XREF: BANK_03:81B1o
		.BYTE $40,$41,$41,$42,$4C,$40,$7F,  0,$80,$40,$30,$18,	8,  0,$FC,  0
byte_39BEB:	.BYTE	1,  1,	1,  1,	1,  1,	1,  1,	0,  0,	0,  0,$10,$F8,	0,  0
					; DATA XREF: BANK_03:81B3o
		.BYTE	1,  1,	1,  1,	1,  1,$FF,  0,	0,  0,	0,  0,	0,  4,$FE,  0
byte_39C0B:	.BYTE	0,$FF,	2,  4,$7F,$44,$44,$47,	4,$FE,	0,  4,$FE,$44,$44,$C4
					; DATA XREF: BANK_03:81B5o
		.BYTE $44,$44,$44,$47,$44,$44,$7F,$40,$44,$44,$44,$C4,$44,$44,$FC,  4
byte_39C2B:	.BYTE	2,  2,$FF,  4,	4, $F,	8,$18,	0,  4,$FE,  0,$10,$F8,$10,$10
					; DATA XREF: BANK_03:81B7o
		.BYTE $2F,$48,$88, $F,	8,  8,	8,  8,$F0,$10,$10,$F0,$10,$10,$50,$20
byte_39C4B:	.BYTE	0,  0,	0,  0,	0,  0,	0,$FF,	0,  0,	0,  0,	0,  0,	4,$FE
					; DATA XREF: BANK_03:81B9o
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_39C6B:	.BYTE	4,  4,$24,$27,$24,$24,$24,$27,$40,$40,$40,$4C,$70,$40,$42,$42
					; DATA XREF: BANK_03:81BBo
		.BYTE $FC,  0,	0,$1F,	0,  0,$7F,  0,$3E,  0,$20,$F0,	0,  8,$FC,  0
byte_39C8B:	.BYTE $10,$10,$13,$12,$FE,$12,$16,$1A,	8,$1C,$E0,$50,$50,$50,$50,$50
					; DATA XREF: BANK_03:81BDo
		.BYTE $32,$D2,$12,$12,$14,$14,$58,$20,$50,$48,$48,$48,$44,$44,$42,$40
byte_39CAB:	.BYTE	1,  0,$1F,$10,$97,$54,$57,$14,	0,$84,$FE,  8,$FC,  8,$F8,  8
					; DATA XREF: BANK_03:81BFo
		.BYTE $37,$54,$D4,$14,$24,$25,$46,  4,$F8,$84,$8C,$50,$20,$10, $E,  4
byte_39CCB:	.BYTE	1,$7F,$49,$49,$7F,$49,$49,$7F,$20,$A8,$40,$7E,$C8,$48,$7C,$48
					; DATA XREF: BANK_03:81C1o
		.BYTE $41,$5D,$55,$55,$5D,$51,$85,  2,$48,$7C,$48,$48,$48,$7E,$40,$40
byte_39CEB:	.BYTE	8,  4,	4,$FF,	4,  8,$10,$7F,	4,  4,$84,$C4,	4,$A4,$A4,$24
					; DATA XREF: BANK_03:81C3o
		.BYTE	2,  4,	9,$72,	6,$19,$E0,  0,$24,$A4,$24,$24,	4,$84,$94,  8
byte_39D0B:	.BYTE	8,  4,$7F,  1,$3F,  2,$FF,  4,$20,$48,$FC,  0,$F8,  0,$FE,$10
					; DATA XREF: BANK_03:81C5o
		.BYTE  $F,$18,$2F,$C8, $F,  8, $F,  8,$F8,$10,$F0,$10,$F0,$10,$F0,$10
byte_39D2B:	.BYTE	1,  1,	1,  1,	1,$FF,	1,  1,	0,  0,	0,  0,	4,$FE,	0,  0
					; DATA XREF: BANK_03:81C7o
		.BYTE	2,  2,	4,  6,	9,$31,$C0,  0,$80,$80,$40,$40,$30, $E,	4,  0
byte_39D4B:	.BYTE	0,$7D,$45,$49,$49,$51,$49,$49,	4,$FE,	4,  4,	4,  4,	4,$FC
					; DATA XREF: BANK_03:81C9o
		.BYTE $45,$45,$45,$69,$51,$41,$41,$41,	4,  4,	4,  4,	4,  4,$FC,  4
byte_39D6B:	.BYTE	1,$7F,	0,$1F,$10,$10,$1F,  0,	8,$FC,$10,$F8,$10,$10,$F0,  0
					; DATA XREF: BANK_03:81CBo
		.BYTE $7F,$40,$8F,  8,	8,  8,$10,$60,$FE,$22,$F4,$20,$20,$22,$22,$1E
byte_39D8B:	.BYTE	8,  8,	8,$10,$10,$30,$5F,$90,$80,$A0,$90,$90,$84,$FE,$80,$40
					; DATA XREF: BANK_03:81CDo
		.BYTE $10,$10,$10,$10,$10,$10,$10,$10,$40,$40,$20,$20,$12,$12, $A,  6
byte_39DAB:	.BYTE	1,  1,$7F,  1,$3F,  1,	1,$FF,	0,  8,$FC,  0,$F8,  0,	4,$FE
					; DATA XREF: BANK_03:81CFo
		.BYTE	2,  5, $C,$34,$C4,  5,	6,  4,	0,$10,$A0,$40,$30, $E,	4,  0
byte_39DCB:	.BYTE $20,$1B,	8,$40,$41,$41,$41,$41,	4,$FE,	4,  4,	4,  4,	4,  4
					; DATA XREF: BANK_03:81D1o
		.BYTE $42,$42,$44,$48,$40,$40,$40,$40,$84,$44,$24,$24,	4,  4,$14,  8
byte_39DEB:	.BYTE	2,  7,$38,$20,$20,$3E,$22,$22,	8,$1C,$E0,$80,$80,$84,$FE,$88
					; DATA XREF: BANK_03:81D3o
		.BYTE $22,$3E,$22,$20,$21,$42,$84,  0,$88,$88,$88,$88,	8,  8,	8,  8
byte_39E0B:	.BYTE	0,$FF,	2,  4,$1F,$10,$11,$11,	4,$FE,	0,$10,$F8,$10,$10,$10
					; DATA XREF: BANK_03:81D5o
		.BYTE $11,$11,$11,$11,$12,  4,	8,$30,$10,$10,$10,$10,$90,$60,$18,  8
byte_39E2B:	.BYTE $10,$12,$7F,$12,$14,$FF,	8,$12,	0,$7C,$44,$44,$48,$48,$50,$48
					; DATA XREF: BANK_03:81D7o
		.BYTE $3F,$62,$A2,$3E,$22,$22,$3E,$22,$44,$42,$42,$62,$54,$48,$40,$40
byte_39E4B:	.BYTE  $F,  8,	8, $F,	8,  8, $F,  0,$E0,$20,$20,$E0,$20,$20,$E0,  4
					; DATA XREF: BANK_03:81D9o
		.BYTE $FF,  1,	9,  9,	9,$15,$23,$40,$FE,  0,$20,$F0,	0,  0,	6,$FC
byte_39E6B:	.BYTE	2,  4,	8,$3F,$20,$20,$20,$20,	0,  0,	8,$FC,	8,  8,	8,  8
					; DATA XREF: BANK_03:81DBo
		.BYTE $3F,$20,$20,$20,$20,$3F,$20,  0,$F8,  8,	8,  8,	8,$F8,	8,  0
byte_39E8B:	.BYTE $10,$10,$10,$10,$FC,$11,$32,$38,$40,$40,$40,$84,$FE,  8,$88,$88
					; DATA XREF: BANK_03:81DDo
		.BYTE $54,$50,$90,$10,$10,$10,$11,$16,$88,$90,$50,$20,$50,$88, $E,  4
byte_39EAB:	.BYTE	1,$FF,$22,$23,$3E,$22,$22,$3E,	0,$80,	0,$FC,	4,$84,$88,$88
					; DATA XREF: BANK_03:81DFo
		.BYTE $22,$22,$22,$3E,$E2,$42,	3,  2,$48,$50,$20,$50,$48,$8E,	4,  0
byte_39ECB:	.BYTE	1,  1,$21,$21,$21,$21,$3F,$21,	0,  0,	8,  8,	8,  8,$F8,  8
					; DATA XREF: BANK_03:81E1o
		.BYTE	1,$41,$41,$41,$41,$41,$7F,$40,	0,  4,	4,  4,	4,  4,$FC,  4
byte_39EEB:	.BYTE $10,$10,$10,$FD,$20,$28,$4B,$7C,$40,$40,$48,$FC,$40,$44,$FE,$80
					; DATA XREF: BANK_03:81E3o
		.BYTE	8,  9,$1C,$E8,$48,  8,	8,  8,$80,$FC,	8,$10,$90,$60,$20,$10
byte_39F0B:	.BYTE	0,$7F,	1,  1,	1,  1,$11,$11,	8,$FC,	0,  0,	0,  0,$10,$F8
					; DATA XREF: BANK_03:81E5o
		.BYTE $11,$11,$11,$11,$11,$11,$FF,  0,	0,  0,	0,  0,	0,  4,$FE,  0
byte_39F2B:	.BYTE	4,  3,	1,  0,$FF,  4,	4,  7,	0,  0,	0,  4,$FE,  0,$10,$F8
					; DATA XREF: BANK_03:81E7o
		.BYTE	4,  4,	4,  8,	8,$10,$20,$40,$10,$10,$10,$10,$10,$10,$A0,$40
byte_39F4B:	.BYTE	0,$20,$10,$10,	7,  0,$F0,$10,$80,$80,$80,$88,$FC,$88,$88,$88
					; DATA XREF: BANK_03:81E9o
		.BYTE $11,$11,$11,$12,$14,$28,$47,  0,	8,  8,	8,$50,$20,  6,$FC,  0
byte_39F6B:	.BYTE	0,$40,$2F,$20,	0,$E0,$20,$21,	0,  4,$FE,$40,$40,$80,$80,$A0
					; DATA XREF: BANK_03:81EBo
		.BYTE $22,$24,$28,$20,$20,$50,$8F,  0,$98,$8C,$84,$80,$80,  6,$FC,  0
byte_39F8B:	.BYTE $10,$10,$1F,$20,$2F,$40,$BF,  0,	0,  8,$FC,  0,$F0,  0,$E0,$20
					; DATA XREF: BANK_03:81EDo
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,$20,$20,$20,$20,$22,$12, $A,  4
byte_39FAB:	.BYTE	0,$40,$30,$17,	0,  2,$F1,$10,$80,$40,$48,$FC,$10,$10,$20,$A0
					; DATA XREF: BANK_03:81EFo
		.BYTE $10,$10,$10,$11,$12,$28,$47,  0,$40,$40,$A0,$10,$10,  6,$FC,  0
byte_39FCB:	.BYTE	1,  1,$7F,  1,$3F,  2,$FF,  4,	0,  8,$FC,  0,$F8,  0,$FE,$40
					; DATA XREF: BANK_03:81F1o
		.BYTE	8,$37,$C1,$1F,	1,  2,	4,$38,$30,$CE,	4,$F0,	0,$C0,$30,  8
byte_39FEB:	.BYTE	0,  8,$7D,$49,$49,$49,$49,$49,$40,$88,$FC,  8,$48,  8,$28,$10
					; DATA XREF: BANK_03:81F3o
		.BYTE $49,$49,$78,$48,	7,  0,	0,  0,	4,$FE,	4,$24,$F4,  4,$14,  8
byte_3A00B:	.BYTE	4,  4,	4,  4,$7F,$44,$44,$44,$40,$40,$40,$44,$FE,$44,$44,$44
					; DATA XREF: BANK_03:81F5o
		.BYTE $44,$7F,$44,$44,$44,$44,$7F,$40,$44,$FC,$44,$44,$44,$44,$FC,  4
byte_3A02B:	.BYTE $10,$11,$10,$20,$24,$64,$A4,$24,	0,  8,$88,$48,$48,  8,	8,  8
					; DATA XREF: BANK_03:81F7o
		.BYTE $24,$24,$24,$25,$26,$24,$20,$21,	8,$10,$90,$20,$28,$46,$82,  0
byte_3A04B:	.BYTE	0,$3F,	1,  1,$11, $D,	5,  1,$78,$80,	0,  0,$10,$30,$40,  4
					; DATA XREF: BANK_03:81F9o
		.BYTE $FF,  1,	1,  1,	1,  1,	5,  2,$FE,  0,	0,  0,	0,  0,	0,  0
byte_3A06B:	.BYTE	2,  7,$78,  8, $A,$FF,	8,$18,	0,  0,	0,  4,$FE,$84,$84,$84
					; DATA XREF: BANK_03:81FBo
		.BYTE $1C,$2A,$2A,$48,$88,  8,	8,  8,$84,$84,$84,$84,$FC,$84,	0,  0
byte_3A08B:	.BYTE	8,  8,$FF,  9,	1,$7F,	1,  9,$20,$24,$FE,$20,	8,$FC,	0,$20
					; DATA XREF: BANK_03:81FDo
		.BYTE	5,$FF,	3,  5,	9,$31,$C1,  1,$44,$FE,$80,$40,$30, $E,	4,  0
byte_3A0AB:	.BYTE $10,$10,$2F,$20,$47,$94,$14,$27,$40,$44,$FE,$40,$FC,$A4,$A4,$FC
					; DATA XREF: BANK_03:81FFo
		.BYTE $60,$AF,$20,$21,$25,$25,$28,$20,	0,$FE,$40,$20,$24, $A,$FA,  0
byte_3A0CB:	.BYTE	1,$FE,$24,$24,$3D,$24,$24,$24,	4,$CC,$50,  0,$FC,$20,$20,$24
					; DATA XREF: BANK_03:8201o
		.BYTE $3F,$24,$24,$24,$3E,$E4,	5,  6,$FE,$20,$20,$50,$50,$88, $E,  4
byte_3A0EB:	.BYTE $10,$10,$20,$21,$4A,$F8,$10,$20,$80,$80,$FC,  4,$88,$50,$20,$50
					; DATA XREF: BANK_03:8203o
		.BYTE $41,$FB,	5,  1,$19,$E1,$41,  1,$8E,$FC,	4,  4,	4,  4,$FC,  4
byte_3A10B:	.BYTE	0,$7F,	0,  0,	0,  1,	1,  1,	0,$F8,$10,$20,$40,$80,	0,  0
					; DATA XREF: BANK_03:8205o
		.BYTE	1,  1,	1,  1,	1,  1,	5,  2,	0,  0,	0,  0,	0,  0,	0,  0
byte_3A12B:	.BYTE $10,$10,$50,$53,$7C,$90,$17,$18,$40,$40,$48,$FC,$40,$44,$FE,$10
					; DATA XREF: BANK_03:8207o
		.BYTE $30,$D7,$11,$10,$10,$10,$10,$10,$14,$FE,$10,$90,$90,$10,$50,$20
byte_3A14B:	.BYTE $20,$10,$10,  0,$FF,$20,$24,$3E,$40,$40,$40,$84,$FE,  8,$88,$88
					; DATA XREF: BANK_03:8209o
		.BYTE $24,$24,$24,$24,$44,$54,$89,  2,$50,$50,$20,$50,$50,$88, $E,  4
byte_3A16B:	.BYTE	8,  8,	8,$10,$10,$30,$50,$90,$80,$80,$80,$88,$98,$A0,$C0,$80
					; DATA XREF: BANK_03:820Bo
		.BYTE $11,$12,$14,$10,$10,$10,$10,$10,$80,$80,$80,$80,$82,$82,$7E,  0
byte_3A18B:	.BYTE $22,$11,$11,  0,$7F,$40,$80,$1F,	8,  8,$10,$20,$FE,  2,	4,$E0
					; DATA XREF: BANK_03:820Do
		.BYTE	0,  1,$FF,  1,	1,  1,	5,  2,$40,$84,$FE,  0,	0,  0,	0,  0
byte_3A1AB:	.BYTE $11,$11,$51,$51,$7B,$54,$90,$1C,	0,  0,	0,  4,$FE,$A4,$A4,$A4
					; DATA XREF: BANK_03:820Fo
		.BYTE $31,$D1,$12,$12,$14,$10,$11,$10,$24,$44,$44,$44,$84,$84,$28,$10
byte_3A1CB:	.BYTE	0,  8,$FC,$11,$11,$11,$7D,$11,$20,$20,$20,$FE,$22,$24,$20,$FC
					; DATA XREF: BANK_03:8211o
		.BYTE $11,$11,$1E,$F2,$42,  4,	8,  3,	4,$88,$48,$50,$20,$50,$8E,  4
byte_3A1EB:	.BYTE	0,$10,$FF,$20,$22,$22,$FB,$23,$40,$24,$FE,$90,$64,$94, $C,$FC
					; DATA XREF: BANK_03:8213o
		.BYTE $20,$27,$24,$3C,$E5,$44,	4,  4,$40,$FE,$42,$92,$FA,  2, $A,  4
byte_3A20B:	.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:8215o
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3A22B:	.BYTE	0,$3F,	2,  2,	2,  2,$7F,  2,$20,$F0,	0,  0,	0,  8,$FC,$80
					; DATA XREF: BANK_03:8217o
		.BYTE	2,  4,	4,  8,	8,$10,$20,$40,$80,$80,$80,$80,$82,$82,$7E,  0
byte_3A24B:	.BYTE $11,$11,$11,$23,$22,$64,$A8,$20,	0,  0,	0,$FC,	4,  8,$40,$40
					; DATA XREF: BANK_03:8219o
		.BYTE $21,$21,$22,$24,$20,$20,$21,$20,$50,$48,$4C,$44,$40,$40,$40,$80
byte_3A26B:	.BYTE	2,  2,	2,$FF,	4,  4,	8,  8,	0,  0,	4,$FE,	0,$40,$40,$50
					; DATA XREF: BANK_03:821Bo
		.BYTE $13,$30,$50,$90,$10,$10,$17,$10,$F8,$40,$40,$40,$40,$44,$FE,  0
byte_3A28B:	.BYTE	4,  4,	4,  4,	4,  4,	4,  4,$40,$40,$40,$40,$40,$40,$40,$40
					; DATA XREF: BANK_03:821Do
		.BYTE	4,  4,	8,  8,$10,$20,$40,$80,$40,$40,$40,$42,$42,$42,$3E,  0
byte_3A2AB:	.BYTE $10,$10,$11,$91,$73,$34,$10,$10,$80,$80,$F8,  8,$10,$A0,$40,$94
					; DATA XREF: BANK_03:821Fo
		.BYTE $1F,$30,$52,$D1,$10,$10,$10,$10,$FE,$10,$10,$90,$90,$10,$50,$20
byte_3A2CB:	.BYTE	0,  9,$FD,$11,$11,$11,$11,$7D,	8,$FC,	8,$28,$28,$28,$28,$48
					; DATA XREF: BANK_03:8221o
		.BYTE $11,$11,$10,$1C,$F0,$41,	2, $C,$48,$48,$40,$A0,$A0,$22,$22,$1E
byte_3A2EB:	.BYTE	2,  1,	1,  1,	8,  8,$48,$48,	0,  0,$20,$30,$20,$40,$48,$46
					; DATA XREF: BANK_03:8223o
		.BYTE $48,$89, $A, $C,$18,$28,$47,  0,$82,  0,	0,$10,$10,$10,$F0,  0
byte_3A30B:	.BYTE	4,  4,	4,$24,$24,$24,$27,$24,$40,$40,$40,$44,$4C,$50,$60,$40
					; DATA XREF: BANK_03:8225o
		.BYTE $24,$24,$24,$24,$27,$F8,$40,  0,$40,$40,$40,$40,$42,$42,$3E,  0
byte_3A32B:	.BYTE $10,$12,$11,$24,$24,$64,$A4,$24,	0,  4,$7E,$84,	4,  4,	4,  4
					; DATA XREF: BANK_03:8227o
		.BYTE $24,$24,$24,$24,$24,$24,$24,$24,	4,  4,	4,  4,	4,  4,$14,  8
byte_3A34B:	.BYTE $40,$37,$14,  4,$87,$64,$24, $F,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:8229o
		.BYTE $10,$24,$E7,$24,$24,$24,$25,$26,$40,$48,$58,$60,$40,$C2,$42,$3E
byte_3A36B:	.BYTE $10,$11,$10,$10,$FC,$24,$24,$27,	0,$FC,	4,  8,$10,$20,$24,$FE
					; DATA XREF: BANK_03:822Bo
		.BYTE $24,$44,$28,$10,$28,$44,$84,  0,$20,$20,$20,$20,$20,$20,$A0,$40
byte_3A38B:	.BYTE	9,  9, $A,$17,$1C,$37,$50,$91,	0,$F0,$24,$FE,$44,$FC,$80,$44
					; DATA XREF: BANK_03:822Do
		.BYTE $16,$10,$17,$10,$11,$16,$10,$10,$68,$B0,$30,$68,$A6,$20,$A0,$40
byte_3A3AB:	.BYTE $40,$31,$11,  1,$81,$62,$24,  3,$10,$F8,$10,$10,$10, $E,	0,$F8
					; DATA XREF: BANK_03:822Fo
		.BYTE $12,$21,$E1,$20,$20,$20,$23,$2C,	8,$10,$10,$A0,$40,$A0,$1E,  8
byte_3A3CB:	.BYTE	0,$7F,	4,$3F,$24,$24,$3F,  2,	8,$FC,$40,$F8,$48,$48,$F8,  0
					; DATA XREF: BANK_03:8231o
		.BYTE	2,$FF,	4,  8,	6,  1,	6,$38,	4,$FE,$20,$20,$40,$80,$60,$10
byte_3A3EB:	.BYTE	0, $B,$7C,$49,$49,$49,$49,$49,$10,$F8,$10,$10,$10,$10,$10,$14
					; DATA XREF: BANK_03:8233o
		.BYTE $49,$48,$48,$7F,$48,  0,	0,  0,$FE,  4,$24,$F4,	4,  4,$14,  8
byte_3A40B:	.BYTE	0,  0,	7,$18,$30,$38,	0,  0,	0,  0,$F0,$18, $C, $C,$38,$E0
					; DATA XREF: BANK_03:8235o
		.BYTE	0,  0,	0,  0,	1,  3,	1,  0,$C0,$80,	0,  0,$80,$C0,$80,  0
byte_3A42B:	.BYTE	0,$FF,	0,  1,	3,  5,	9,$31,	4,$FE,$80,  0,	0,$60,$18,  6
					; DATA XREF: BANK_03:8237o
		.BYTE $C1,$1F,$10,$10,$10,$10,$1F,$10,$12,$F8,$10,$10,$10,$10,$F0,$10
byte_3A44B:	.BYTE $1F,  1,$7F,$51,$8D,$11,	1,$FF,$F0,  0,$FE,$12,$64,$10,	4,$FE
					; DATA XREF: BANK_03:8239o
		.BYTE	2,  4,$3F,$24,$24,$24,$24,$20,	0,  8,$FC,$88,$88,$88,$A8,$10
byte_3A46B:	.BYTE	0,$3F,	1,  1,	1,$3F,	1,  1,$F0,  0,	0,  0,$10,$F8,	0,  0
					; DATA XREF: BANK_03:823Bo
		.BYTE	1,$FF,	2,  4,	8,$10,$3F,  0,	4,$FE,	0,  0,$20,$10,$F8,  8
byte_3A48B:	.BYTE	2,  1,$7F,  2,	4,  8,$1F,  4,	0,  8,$FC,  0,$40,$20,$F0,$50
					; DATA XREF: BANK_03:823Do
		.BYTE	4,$FF,	4,  4,	4,  8,$30,  0,$44,$FE,$40,$40,$40,$40,$40,$40
byte_3A4AB:	.BYTE	0,$FF,	1,$3F,$21,$21,$3F,$21,	4,$FE,	8,$FC,	8,  8,$F8,  8
					; DATA XREF: BANK_03:823Fo
		.BYTE $21,$3F,$29,  5,	2,  5,$18,$E0,	8,$F8,	8,  0,	0,$80,$70, $E
byte_3A4CB:	.BYTE	1,  1,	1,  1,	1,$FF,	1,  2,	0,  0,	0,  0,	4,$FE,	0,$80
					; DATA XREF: BANK_03:8241o
		.BYTE	2,  2,	4,  4,	8,$10,$60,  0,$80,$40,$40,$20,$10, $E,	4,  0
byte_3A4EB:	.BYTE	0,$3F,$20,$3F,$20,$2F,$21,$22,	8,$FC,	8,$F8,	0,$FC,	0,$20
					; DATA XREF: BANK_03:8243o
		.BYTE $27,$20,$20,$3F,$40,$40,$BF,  0,$F0,$80,$88,$FC,$80,$84,$FE,  0
byte_3A50B:	.BYTE	8,  8,$FF,  8,	8,  8,$10,$10,$20,$24,$FE,$20,$20,$80,$88,$98
					; DATA XREF: BANK_03:8245o
		.BYTE $30,$50,$90,$11,$12,$14,$10,$10,$A0,$C0,$80,$80,$82,$82,$7E,  0
byte_3A52B:	.BYTE	0,$7F,$40,$4F,$40,$40,$5F,$44,	4,$FE,$44,$E4,	4,$24,$F4,$84
					; DATA XREF: BANK_03:8247o
		.BYTE $44,$44,$44,$48,$50,$40,$7F,$40,$84,$84,$94,$94,$74,  4,$FC,  4
byte_3A54B:	.BYTE	2,  1,$7F,$48,$86,  2,$10, $C,	0,  0,$FE,  2,$84,$80,$80,$80
					; DATA XREF: BANK_03:8249o
		.BYTE	4,$FF,	1,  1,	2,  4,$18,$60,$84,$FE,	0,$40,$20,$10, $C,  4
byte_3A56B:	.BYTE	8,$FC,	8,$48,$49,$4A,$4D,$48,$40,$40,$A0,$A0,$10, $E,$F4,  0
					; DATA XREF: BANK_03:824Bo
		.BYTE $7C,  6,	5,$1D,$E5,$44,$17,  8,$48,$48,$48,$50,$10,$24,$FE,  0
byte_3A58B:	.BYTE $FF,  4,$3F,$24,$3F,$12,$23,$4A,$FE,$40,$F8,$48,$F8,  0,$FC,  0
					; DATA XREF: BANK_03:824Do
		.BYTE $17,$32,$53,$91,$13,$1D,$10,$17,$F8,$48,$F8,  0,$F8,$10,$E2,$1C
byte_3A5AB:	.BYTE	8,  4,$7F,  1,	1,$3F,	1,  1,$20,$48,$FC,  0,$10,$F8,	0,  8
					; DATA XREF: BANK_03:824Fo
		.BYTE $7F,  0,$3F,$24,$24,$24,$FF,  0,$FC,  0,$F8,$48,$48,$48,$FE,  0
byte_3A5CB:	.BYTE	0,$3F,	0,  0,$1F,  0,	0,$FF,$10,$F8,$10,$10,$F0,$10,$14,$FE
					; DATA XREF: BANK_03:8251o
		.BYTE	1,$11,	9,  5,	9,$11,$65,  2,	8,$10,$A0,$40,$20,$1E,	4,  0
byte_3A5EB:	.BYTE	8, $B, $A,$12,$12,$33,$32,$50,	8,$FC,	8,  8,	8,$F8,$40,$44
					; DATA XREF: BANK_03:8253o
		.BYTE $9F,$10,$10,$11,$12,$14,$18,$10,$FE,$40,$E0,$50,$48,$4E,$44,$40
byte_3A60B:	.BYTE	0,  0,	0,  0,	0,  0,$31,$7B,	0,  0,	0,  0,	0,  0,$8C,$DE
					; DATA XREF: BANK_03:8255o
		.BYTE $7B,$31,	0,  0,	0,  0,	0,  0,$DE,$8C,	0,  0,	0,  0,	0,  0
byte_3A62B:	.BYTE	0,  0,	3,  6, $C, $C,	6,  3,	0,  0,$C0,$60,$30,$30,$60,$C0
					; DATA XREF: BANK_03:8257o
		.BYTE	6, $C, $C, $C,	6,  3,	0,  0,$60,$30,$30,$30,$60,$C0,	0,  0
byte_3A64B:	.BYTE	8,  8,$1F,$11,$21,$41,$1F,$11,	0,  8,$FC,  0,	0,$10,$F8,  0
					; DATA XREF: BANK_03:8259o
		.BYTE $11,$11,$FF,  1,	1,  1,	1,  1,	0,  4,$FE,  0,	0,  0,	0,  0
byte_3A66B:	.BYTE	2,  2,	2,  2,	2,  2,	3,$FE,	0,  0,	0,  0,	0,  4,$FE,  0
					; DATA XREF: BANK_03:825Bo
		.BYTE	2,  2,	2,  2,	2,  2,	1,  0,	0,  0,	0,  4,	4,  4,$FC,  0
byte_3A68B:	.BYTE	1,  9,	9,  9,	9,$FF,	0,$1F,	0,$10,$F8,  0,	4,$FE,$10,$F8
					; DATA XREF: BANK_03:825Do
		.BYTE $10,$1F,$10,$1F,$10,$10,$10,$10,$10,$F0,$10,$F0,$10,$10,$50,$20
byte_3A6AB:	.BYTE	2,  1,	0,$FF,	1,  1,$3F,$21,	0,  0,	4,$FE,	0,  8,$FC,  8
					; DATA XREF: BANK_03:825Fo
		.BYTE $21,$21,$21,$21,$21,$21,	1,  1,	8,  8,	8,  8,$28,$10,	0,  0
byte_3A6CB:	.BYTE $10,  8,	9,$FF,	0,$14,$22,$41,	0,$7C,$44,$C4,$48,$48,$50,$48
					; DATA XREF: BANK_03:8261o
		.BYTE $A2,$14,	8,$14,$12,$22,$40,  0,$C4,$42,$42,$62,$54,$48,$40,$40
byte_3A6EB:	.BYTE	0,$3F,$20,$28,$24,$22,$21,$20,	8,$FC,	0,  8,$18,$20,$40,$80
					; DATA XREF: BANK_03:8263o
		.BYTE $21,$22,$24,$28,$20,$20,$3F,  0,$40,$30,$18,  8,	0,  4,$FE,  0
byte_3A70B:	.BYTE	1,  1,$3F,  3,	5,$19,$61,  9,	0,  8,$FC,$80,$60,$1C,	8,$20
					; DATA XREF: BANK_03:8265o
		.BYTE	8,$7E,	8,$1C,$2A,$C9,	8,  8,$28,$FC,$20,$70,$AE,$24,$20,$20
byte_3A72B:	.BYTE	4, $E,$78,  8,	8,$FF,	8,  8,$80,$A0,$90,$90,$84,$FE,$80,$90
					; DATA XREF: BANK_03:8267o
		.BYTE  $A, $C,$18,$68,	9, $A,$28,$10,$90,$60,$40,$A0,$20,$14,$14, $C
byte_3A74B:	.BYTE $3F,$20,$3F,$20,$2F,$20,$2F,$28,$F8,  8,$F8,  0,$F8,$80,$F8,$88
					; DATA XREF: BANK_03:8269o
		.BYTE $2F,$20,$3F,$50,$50,$57,$90,$10,$F8,$84,$FE,$84,$94,$F4,$14,  8
byte_3A76B:	.BYTE	0,$7F,$44,$48,$48,$51,$49,$49,	4,$FE,	8,  8,$28,$F8,$28,$28
					; DATA XREF: BANK_03:off_3826Bo
		.BYTE $45,$45,$45,$69,$51,$40,$40,$40,$28,$28,$28,$E8,$28,  8,$28,$10
byte_3A78B:	.BYTE	8, $C,	8,$1F,$20,$41,$81,  1,	0,  0,	8,$FC,	8,$10,	0,  0
					; DATA XREF: BANK_03:826Do
		.BYTE	9,  9,$11,$11,$21,  1,	5,  2,$40,$20,$10,$18,	8,  0,	0,  0
byte_3A7AB:	.BYTE	0,$40,$30,$10,$87,$60,$20,  8,$40,$40,$40,$48,$FC,$40,$40,$44
					; DATA XREF: BANK_03:826Fo
		.BYTE $17,$20,$E0,$20,$21,$22,$27,$20,$FE,$40,$40,$80,$10,  8,$FC,  4
byte_3A7CB:	.BYTE	1,  1,	1,  1,	1,  5,	5,  9,	0,  0,	0,  0,	0,$40,$20,$10
					; DATA XREF: BANK_03:8271o
		.BYTE	9,$11,$21,$41,	1,  1,	5,  2,	8,  4,	4,  0,	0,  0,	0,  0
byte_3A7EB:	.BYTE	0,$7C,$44,$48,$48,$50,$48,$48,$40,$40,$40,$40,$40,$40,$40,$40
					; DATA XREF: BANK_03:8273o
		.BYTE $44,$44,$44,$69,$51,$42,$44,$48,$A0,$A0,$A0,$10,$10,  8,	6,  4
byte_3A80B:	.BYTE	0,$FF,	0,  0,	0,  0,	0,  0,$20,$F0,$20,$24,$2C,$30,$20,$30
					; DATA XREF: BANK_03:8275o
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,$2C,$24,$20,$20,$10,$12, $A,  4
byte_3A82B:	.BYTE	8, $B,$10,$20,$40,  8,$17,$30,	8,$FC,	0,  0,	0,  4,$FE,$10
					; DATA XREF: BANK_03:8277o
		.BYTE $50,$90,$10,$10,$10,$10,$10,$10,$10,$10,$10,$10,$10,$10,$50,$20
byte_3A84B:	.BYTE	0,  0,$FF,  4,	4,  4,$7F,$44,	0,  4,$FE,$40,$40,$44,$FE,$44
					; DATA XREF: BANK_03:8279o
		.BYTE $44,$44,$44,$48,$50,$40,$7F,$40,$44,$44,$44,$34,	4,  4,$FC,  4
byte_3A86B:	.BYTE	4,  4,	4,  4,	4,$7C,	4,  4,$80,$80,$88,$98,$A0,$C0,$80,$80
					; DATA XREF: BANK_03:827Bo
		.BYTE	4,  4,	4,  4,$1C,$E4,$44,  0,$80,$80,$80,$80,$82,$82,$7E,  0
byte_3A88B:	.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:827Do
		.BYTE	0,  0,$3C,$66,$66,$66,$3C,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3A8AB:	.BYTE	0,$3F,	0,  0,$1F,  0,	0,$3F,$10,$F8,$10,$10,$F0,$10,$10,$F0
					; DATA XREF: BANK_03:827Fo
		.BYTE	0,  0,$FF,  8,	4,  4,	0,  0,$20,$24,$FE,$20,$20,$20,$A0,$40
byte_3A8CB:	.BYTE $10,$10,$10,$10,$FC,$13,$10,$1C,$80,$A0,$90,$84,$9E,$E0,$80,$88
					; DATA XREF: BANK_03:8281o
		.BYTE $30,$D0,$10,$10,$11,$12,$54,$20,$50,$60,$40,$C0,$20,$12, $A,  6
byte_3A8EB:	.BYTE $10,$10,$10,$10,$FF,$10,$14,$18,$80,$80,$80,$90,$F8,$90,$90,$90
					; DATA XREF: BANK_03:8283o
		.BYTE $31,$D0,$11,$11,$11,$12,$54,$28,$90,$90,$50,$52,$12,$12, $E,  0
byte_3A90B:	.BYTE	1,$11,$11,$11,$1F,$21,$41,  1,	0,  0,	0,$10,$F8,  0,	0,  4
					; DATA XREF: BANK_03:8285o
		.BYTE $FF,  1,	2,  2,	4,  8,$10,$60,$FE,  0,$80,$80,$40,$30, $E,  4
byte_3A92B:	.BYTE	0,$78,$4B,$4A,$4C,$79,$50,$10,$40,$20,$FE,  2,	4,$FC,	0,  4
					; DATA XREF: BANK_03:8287o
		.BYTE $13,$5C,$50,$51,$5D,$F2,$40,  0,$FE,$20,$A8,$24,$22,$22,$A0,$40
byte_3A94B:	.BYTE $10,$10,$10,$13,$FC,$11,$15,$19,$80,$40,$48,$FC,	0,  8,	8,  8
					; DATA XREF: BANK_03:8289o
		.BYTE $30,$D0,$10,$10,$10,$10,$57,$20,$90,$90,$90,$A0,$20,$44,$FE,  0
byte_3A96B:	.BYTE	0,$7F,	8,  8, $F,  8,	8, $A,	8,$FC,	0,$20,$F0,$20,$20,$20
					; DATA XREF: BANK_03:828Bo
		.BYTE $11,$11,$10,$24,$28,$30,$60,  0,$20,$20,$20,$22,$22,$22,$1E,  0
byte_3A98B:	.BYTE	8,  8,	8,$10,$12,$32,$53,$9E,$40,$40,$40,$40,$48,$7C,$C8,$48
					; DATA XREF: BANK_03:828Do
		.BYTE $12,$12,$12,$12,$12,$12,$11,$10,$48,$68,$50,$40,$42,  2,$FE,  0
byte_3A9AB:	.BYTE $1F,$10,$1F,$10,$1F,  0,$FF,$22,$F0,$10,$F0,$10,$F0,  4,$FE,  0
					; DATA XREF: BANK_03:828Fo
		.BYTE $3F,$22,$3E,$22,$3E,$E2,	2,  3,$FC,$84,$88,$50,$20,$58,$8E,  4
byte_3A9CB:	.BYTE	0,$40,$33,$12,	2,  2,$F3,$12,	8,$1C,$E0,  0,	0,  8,$FC,$20
					; DATA XREF: BANK_03:8291o
		.BYTE $12,$12,$12,$14,$10,$28,$44,  3,$20,$20,$20,$20,$20,$20,	6,$FC
byte_3A9EB:	.BYTE	1,$11,$11,$11,$3F,$21,$41,$41,	0,  0,	0,  8,$FC,  0,	0,  0
					; DATA XREF: BANK_03:8293o
		.BYTE $81,$3F,	1,  1,	1,  1,$FF,  0,$10,$F8,	0,  0,	0,  4,$FE,  0
byte_3AA0B:	.BYTE	8,  8,	8,$7E,	8,  8,$FE,  8,	0,  8,$FC,  8,	8,  8,$F8,$88
					; DATA XREF: BANK_03:8295o
		.BYTE $28,$2E,$28,$28,$28,$58,$8F,  0,$80,$84,$84,$7C,	0,  6,$FC,  0
byte_3AA2B:	.BYTE	0,  0,$20,$50,$48,$44,$42,$41,	0,$10,$10,$24,$24,$44,$84,  4
					; DATA XREF: BANK_03:8297o
		.BYTE $42,$44,$48,$50,$40,$7F,$40,  0,$84,$44,$34,$14,	4,$FC,	4,  0
byte_3AA4B:	.BYTE $10,  8,	6,  1,	2, $C,$31,  1,$10,$30,$C0,  0,$C0,$30,	8,  0
					; DATA XREF: BANK_03:8299o
		.BYTE $FF,  3,	5,  9,$11,$61,	5,  2,$FE,$80,$40,$20,$1C,  8,	0,  0
byte_3AA6B:	.BYTE	2,$42,$33,$12,	4,  0,$F0,$1F,	0,  8,$FC,$40,$40,$40,$44,$FE
					; DATA XREF: BANK_03:829Bo
		.BYTE $10,$10,$10,$12,$14,$18,$10,  0,$40,$40,$40,$40,$40,$40,$40,$40
byte_3AA8B:	.BYTE	1,  1,	1,  1,	1,  1,	1,  2,	0,  0,	0,  0,	0,  0,	0,$80
					; DATA XREF: BANK_03:829Do
		.BYTE	2,  2,	4,  4,	8,$10,$20,$40,$80,$80,$40,$40,$20,$10, $E,  4
byte_3AAAB:	.BYTE $20,$10,$10,  5,$FD,  9,$11,$35,$20,$20,$20,$FE,$22,$24,$20,$20
					; DATA XREF: BANK_03:829Fo
		.BYTE $59,$95,$11,$12,$12,$14,$18,$13,$FC,  4,$88,$50,$20,$50,$8E,  4
byte_3AACB:	.BYTE $20,$20,$22,$3F,$28,$48,$88,  9,	0,  0,	4,$7E,$44,$44,$44,$44
					; DATA XREF: BANK_03:82A1o
		.BYTE $FF,  8,	8,$14,$12,$22,$40,$80,$C4,$44,$44,$44,$44,$7C,$44,  0
byte_3AAEB:	.BYTE	2,  2,	7,  4, $C,$12,	1,  6,	0,  0,$F0,$10,$20,$40,$80,  0
					; DATA XREF: BANK_03:82A3o
		.BYTE $18,$EF,	8,  8,	8,  8, $F,  8,	8,$FC,	8,  8,	8,  8,$F8,  8
byte_3AB0B:	.BYTE $10,$17,$12,$11,$58,$54,$50,$93,	8,$FC,	8,$10,$A0,$40,$B0, $E
					; DATA XREF: BANK_03:82A5o
		.BYTE $1C,$10,$17,$10,$10,$10,$1F,$10,$44,$40,$FC,$40,$40,$44,$FE,  0
byte_3AB2B:	.BYTE	0,$FF,	8,  8,$10,$1F,$21,$21,	4,$FE,$40,$40,$40,$44,$4C,$50
					; DATA XREF: BANK_03:82A7o
		.BYTE $62,$92, $C,  4,	8,$10,$20,$40,$60,$40,$40,$40,$42,$42,$3E,  0
byte_3AB4B:	.BYTE	1,  1,$7F,  1,$3F,  2,$FF,  4,	0,  8,$FC,  0,$F8,  0,$FE,$40
					; DATA XREF: BANK_03:82A9o
		.BYTE	9,$31,$CF,  1,$1F,  1,	1,  1,$20,$1E,$E4,  0,$F0,  0,	0,  0
byte_3AB6B:	.BYTE	1,  1,	2,  4,	8,$3F,$C0,$3E,	0,  0,$80,$40,$30,$FE,	8,$FC
					; DATA XREF: BANK_03:82ABo
		.BYTE $22,$22,$22,$22,$3E,$22,	0,  0,$88,$88,$88,$C8,$A8,$90,$80,$80
byte_3AB8B:	.BYTE $40,$27,$24,  4,	5,$E4,$24,$27,	4,$FE,$44,$44,$F4,$44,$54,$FC
					; DATA XREF: BANK_03:82ADo
		.BYTE $24,$25,$25,$2D,$35,$25,	8,$10,	4,$F4,$14,$14,$F4,  4,$14,  8
byte_3ABAB:	.BYTE	1,  1,$FF,  5,	9,$11,$3F,$D0,	0,  4,$FE,$40,$20,$10,$FE,$14
					; DATA XREF: BANK_03:82AFo
		.BYTE $10,$1F,$10,$10,$1F,  0,$FF,  0,$10,$F0,$10,$10,$F0,  4,$FE,  0
byte_3ABCB:	.BYTE $10,$10,$17,$24,$24,$64,$A7,$24,	0,  8,$FC,  8,	8,  8,$F8,  8
					; DATA XREF: BANK_03:82B1o
		.BYTE $24,$24,$27,$20,$20,$3F,$20,$20,	8,  8,$F8,  0,	4,$FE,	0,  0
byte_3ABEB:	.BYTE	1,  1,	1,$7F,	1,  1,	1,  1,	0,  0,	8,$FC,	0,  0,	0,  4
					; DATA XREF: BANK_03:82B3o
		.BYTE $FF,  2,	2,  4,	8,$10,$3F,  0,$FE,  0,	0,$40,$20,$10,$F8,  8
byte_3AC0B:	.BYTE $10,  8,	2,$FF,	0,$3F,$22,$22,$40,$50,$48,$40,$44,$FE,$40,$50
					; DATA XREF: BANK_03:82B5o
		.BYTE $22,$3E,	8,$2A,$49,$88,$29,$12,$50,$50,$50,$50,$52,$92, $E,  0
byte_3AC2B:	.BYTE	1,  1,	1,$FF,	3,  5,	9,$31,	0,  0,	4,$FE,$80,$40,$30, $E
					; DATA XREF: BANK_03:82B7o
		.BYTE $DF,$10,$10,$1F,$10,$10,$1F,$10,$F4,$10,$10,$F0,$10,$10,$F0,$10
byte_3AC4B:	.BYTE	2,  1,$3F,  8,	4,  4,$FF,  0,	0,$10,$F8,$20,$20,$44,$FE,$10
					; DATA XREF: BANK_03:82B9o
		.BYTE $1F,$10,$10,$1F,$10,$10,$1F,$10,$F8,$10,$10,$F0,$10,$10,$F0,$10
byte_3AC6B:	.BYTE	0,$47,$30,$11,	1,  1,$F1,$11,$10,$F8,$10,$10,$10,$10,$10,$50
					; DATA XREF: BANK_03:82BBo
		.BYTE $17,$11,$11,$11,$15,$19,$11,  1,$F0,$10,$10,$10, $A, $A,	6,  0
byte_3AC8B:	.BYTE	1,  1,$FF,  1,	1,$1F,$10,$10,	0,  4,$FE,  0,$10,$F8,$10,$10
					; DATA XREF: BANK_03:82BDo
		.BYTE $10,$1F,$14,  4,	4,  8,$10,$60,$10,$F0,$50,$40,$40,$42,$42,$3E
byte_3ACAB:	.BYTE $22,$22,$7F,$22,$22,$3E,$22,$22,	8,$1C,$60,$40,$40,$40,$7E,$48
					; DATA XREF: BANK_03:82BFo
		.BYTE $3E,$22,$22,$FF,	0,$15,$22,$40,$48,$48,$48,$48,$88,  8,	8,  8
byte_3ACCB:	.BYTE $10,$10,$10,$10,$5B,$54,$50,$90,$80,$80,$80,$88,$FC,$88,$88,$88
					; DATA XREF: BANK_03:82C1o
		.BYTE $10,$1F,$10,$11,$11,$12,$14,$18,$88,$FE,$80,$40,$20,$10, $E,  4
byte_3ACEB:	.BYTE	0,$7F,	2,$7F,	4,$FF,	8,$1F,$70,$80,$10,$F8,	0,$FE,$10,$F8
					; DATA XREF: BANK_03:82C3o
		.BYTE $30,$5F,$90,$1F,$10,$10,$1F,$10,$10,$F0,$10,$F0,$10,$10,$F0,$10
byte_3AD0B:	.BYTE	0,$7F,	9,  9,$7F,  9,	9,  9,	4,$7E,$44,$44,$48,$48,$50,$48
					; DATA XREF: BANK_03:82C5o
		.BYTE $7F,  9,	9,$11,$11,$25,$42,  0,$44,$42,$42,$62,$54,$48,$40,$40
byte_3AD2B:	.BYTE	1,  1,$7F,  1,	1,$1F,$10,$1F,	0,  8,$FC,  0,$10,$F8,$10,$F0
					; DATA XREF: BANK_03:82C7o
		.BYTE $10,$1F,$10,$1F,$10,$10,$FF,  0,$10,$F0,$10,$F0,$10,$14,$FE,  0
byte_3AD4B:	.BYTE	1,  7,$7C,  4,	4,  4,	4,$FF,$20,$A0,$20,$20,$20,$20,$24,$FE
					; DATA XREF: BANK_03:82C9o
		.BYTE	4,  4,	4,  8,	8,$10,$20,  0,$20,$20,$20,$20,$20,$20,$20,$20
byte_3AD6B:	.BYTE	1,  1,$3F,  2,	4,  8,$FF,  0,	0,$10,$F8,$80,$60,$24,$FE,$10
					; DATA XREF: BANK_03:82CBo
		.BYTE	0,$1F,$10,$10,$1F,$10,	0,  0,$90,$D0,$90,$90,$90,$90,$50,$20
byte_3AD8B:	.BYTE	4,  7,	8,$14,$23,  2, $C,$30,	0,$F0,$20,$40,$80,$80,$60,$1E
					; DATA XREF: BANK_03:82CDo
		.BYTE $DF,$11,$11,$1F,$11,$11,$1F,$10,$F4,$10,$10,$F0,$10,$10,$F0,$10
byte_3ADAB:	.BYTE	0,$40,$20,$17,	0,  0,$F1,$10,$10,$10,$10,$FC,$10,$10,$10,$90
					; DATA XREF: BANK_03:82CFo
		.BYTE $10,$10,$10,$10,$10,$28,$47,  0,$90,$10,$10,$50,$20,  6,$FC,  0
byte_3ADCB:	.BYTE	8, $B,$12,$12,$23,$4A,$8A,$13,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:82D1o
		.BYTE $32,$52,$92,$12,$12,$12,$13,$12,$84,$8C,$50,$20,$10,$88, $E,  4
byte_3ADEB:	.BYTE	2,$41,$37,$10,	1,  3,$F2,$13,	8,$10,$FC,$80,	8,$FC,	8,$F8
					; DATA XREF: BANK_03:82D3o
		.BYTE $12,$12,$13,$12,$12,$2B,$44,  3,	8,  8,$F8,  8,	8,$F8,	6,$FC
byte_3AE0B:	.BYTE	0,$3F,$21,$21,$22,$2F,$28,$2F,	8,$FC,	0,  0,	8,$FC,	8,$F8
					; DATA XREF: BANK_03:82D5o
		.BYTE $28,$2F,$20,$24,$44,$48,$92,  1,	8,$F8,$80,$90,$88,$84,$84,  0
byte_3AE2B:	.BYTE	0,$7F,$41,$41,$41,$5F,$41,$41,	4,$FE,	4,  4,$24,$F4,	4,  4
					; DATA XREF: BANK_03:82D7o
		.BYTE $42,$42,$44,$48,$50,$40,$7F,$40,$84,$84,$44,$34,$14,  4,$FC,  4
byte_3AE4B:	.BYTE	0, $B,$7E,$4B,$4A,$4A,$4A,$4B,	8,$FC,$48,$58,$E8,$48,$48,$F8
					; DATA XREF: BANK_03:82D9o
		.BYTE $48,$4B,$48,$4F,$78,$4A,	2,  4,$40,$F8,$40,$FE,	0,$A8,$A4,  4
byte_3AE6B:	.BYTE $10,$10,$20,$21,$45,$FA,$14,$20,$80,$80,$80,  4,$FE,  4,	4,$84
					; DATA XREF: BANK_03:82DBo
		.BYTE $40,$FC,	0,  0,$1C,$E0,$40,  0,$64,$24,	4,  4,	4,$44,$28,$10
byte_3AE8B:	.BYTE	4,$7E,	8,  8,$3E,  8,	8,$7E,	8,$FC,$20,$20,$F8,$20,$28,$FC
					; DATA XREF: BANK_03:82DDo
		.BYTE	2,  1,$11,$50,$51,$96,$18,$6F,	0,$20,$40,$84,	2, $A,	8,$F8
byte_3AEAB:	.BYTE	1,  1,	1,$7F,	1,  1,	1,$FF,	0,  0,	8,$FC,	0,  0,	4,$FE
					; DATA XREF: BANK_03:82DFo
		.BYTE	1,  2,	2,  4,	4,  8,$10,$60,	0,$80,$80,$40,$40,$30, $E,  4
byte_3AECB:	.BYTE	1,$3F,$21,$21,$21,$3F,$28,  9,	4,$84,	4,$24,$24,$24,$24,$24
					; DATA XREF: BANK_03:82E1o
		.BYTE $FF,  9,	9,$11,$11,$25,$42,  0,$A4,$24,$24,$24,	4,  4,$14,  8
byte_3AEEB:	.BYTE	1,  1,	1,$3F,	1,  1,$FF,  1,	0,  0,$10,$F8,	0,  4,$FE,  0
					; DATA XREF: BANK_03:82E3o
		.BYTE	9,  9,	9,  9,	9,$15,$23,$40,	0,$10,$F8,  0,	0,  6,$FC,  0
byte_3AF0B:	.BYTE $10,$11,$11,$11,$FD,$25,$25,$25,	4,$FE,$10,$10,$14,$7E,$44,$44
					; DATA XREF: BANK_03:82E5o
		.BYTE $25,$45,$29,$11,$29,$45,$85,  0,$44,$44,$7C,$10,$10,$14,$FE,  0
byte_3AF2B:	.BYTE	8,$10,$3C,$24,$3C,$24,$3D,$24,	8,$FC,$88,$88,$88,$88,$26,$24
					; DATA XREF: BANK_03:82E7o
		.BYTE $FF,$14,$14,$24,$24,$45,$96,  8,$FE,$60,$70,$B0,$A8,$26,$24,$20
byte_3AF4B:	.BYTE	1,$7F,	8,$10,$22,$41,$7F,  8,	4,$84,	4,$24,$24,$24,$A4,$A4
					; DATA XREF: BANK_03:82E9o
		.BYTE  $A,$7F,	8,  8,	8, $F,$F8,  0,$24,$24,$24,$24,	4,$84,$14,  8
byte_3AF6B:	.BYTE	1,$41,$29,$25,	5,  1,$E3,$25,$40,$40,$48,$58,$60,$40,$60,$50
					; DATA XREF: BANK_03:82EBo
		.BYTE $29,$21,$22,$24,$28,$50,$88,  7,$50,$40,$44,$44,$3C,  0,	6,$FC
byte_3AF8B:	.BYTE	2,$42,$22,$2F,	2,  2,$E2,$22,$20,$20,$28,$FC,$20,$20,$20,$28
					; DATA XREF: BANK_03:82EDo
		.BYTE $2F,$22,$22,$22,$24,$50,$8F,  0,$FC,$20,$20,$20,$20,$26,$FC,  0
byte_3AFAB:	.BYTE $10,$10,$10,$13,$FC,$10,$38,$35,$40,$40,$48,$FC,$80,$80,$A0,$24
					; DATA XREF: BANK_03:82EFo
		.BYTE $53,$50,$91,$11,$12,$14,$10,$10,$FE,$20,$28,$24,$22,$22,$A0,$40
byte_3AFCB:	.BYTE $10,$12,$11,$10,$FF,$11,$3A,$34,$40,$48,$50,$44,$FE,$50,$4C,$44
					; DATA XREF: BANK_03:82F1o
		.BYTE $50,$5F,$91,$12,$11,$10,$11,$16,$80,$FE,	8,  8,$B0,$40,$B0,  8
byte_3AFEB:	.BYTE	0,$40,$30,$10,	0,  0,$F0,$10,$40,$40,$40,$40,$40,$40,$A0,$A0
					; DATA XREF: BANK_03:82F3o
		.BYTE $10,$11,$11,$15,$1A,$12,	4,  8,$A0,$10,$10,$10,	8,  8,	6,  4
byte_3B00B:	.BYTE	0,$10, $C,  4,	0,$FF,	1,  1,$80,$80,$80,$80,$84,$FE,	4,  4
					; DATA XREF: BANK_03:82F5o
		.BYTE	2,  2,	4,  8,$10,$20,$40,  0,	4,$84,$64,$24,	4,  4,$28,$10
byte_3B02B:	.BYTE	1,  1,	2,  4,	8,$10,$2F,$C0,	0,  0,$80,$40,$20,$10,$EE,  4
					; DATA XREF: BANK_03:82F7o
		.BYTE	0,$3F,	2,  2,	4,  8,$1F,  0,$10,$F8,	0,  0,$40,$20,$F0,$10
byte_3B04B:	.BYTE	2,  1,$7F,$40,$82,  2,	2,$FF,	0,  0,$FE,  2,	4,  0,	4,$FE
					; DATA XREF: BANK_03:82F9o
		.BYTE	4,  8,$18,  6,	1,  2, $C,$30,$20,$20,$20,$40,$80,$40,$30,$10
byte_3B06B:	.BYTE	1,  1,	2,  4,	8,$10,$2F,$C1,	0,  0,$80,$40,$20,$50,$EE,  4
					; DATA XREF: BANK_03:82FBo
		.BYTE	1,  1, $F,  1,	1,  1,$7F,  0,	0,$40,$E0,  0,	0,  8,$FC,  0
byte_3B08B:	.BYTE	0,$13,$FA,$22,$23,$22,$FA,$23,	8,$FC,$48,$48,$F8,$48,$48,$F8
					; DATA XREF: BANK_03:82FDo
		.BYTE $20,$20,$23,$3C,$E0,$40, $F,  0,$40,$50,$F8,$40,$40,$44,$FE,  0
byte_3B0AB:	.BYTE	0,$1F,$10,$10,$1F,  0,$3F,$20,$10,$F8,$10,$10,$F0,  8,$FC,  8
					; DATA XREF: BANK_03:82FFo
		.BYTE $21,$21,$21,$21,$22,  4,$18,$60,	8,  8,	8,  8,	8,$60,$18,  4
byte_3B0CB:	.BYTE	8,$FD,$10,$10,$20,$20,$7C,$A7,	8,$FC,$88,$88,$88,$88,$88,$FE
					; DATA XREF: BANK_03:8301o
		.BYTE $24,$24,$24,$25,$3D,$22,	4,  0,$88,$88,$88,  8,	8,  8,	8,  8
byte_3B0EB:	.BYTE	2,  1,$7F,$44,$88,$12,	2,$3F,	0,  0,$FE,$42,$34,$10,$20,$F0
					; DATA XREF: BANK_03:8303o
		.BYTE	2,  2,	4,  4,	8,  8,$10,$60,$20,$20,$20,$20,$22,$22,$1E,  0
byte_3B10B:	.BYTE	0,$43,$32,$13,	0, $F,$F0,$13,$48,$FC,$48,$F8,$40,$FE,	8,$FC
					; DATA XREF: BANK_03:8305o
		.BYTE $12,$12,$12,$10,$11,$2A,$44,  3,	8,$48,$48,$A0,$18,  8,	6,$FC
byte_3B12B:	.BYTE	0,  7,$74,$57,$54,$55,$54,$55,	4,$FE,	4,$FC,	0,$FC,$20,$FC
					; DATA XREF: BANK_03:8307o
		.BYTE $55,$55,$54,$77,$4A,$12,$22,  2,$24,$FC,$20,$FE,$22,$2A,$FA,  6
byte_3B14B:	.BYTE $10,$10,$17,$10,$FC,$13,$32,$3B,$40,$48,$FC,$40,$48,$FC,	8,$F8
					; DATA XREF: BANK_03:8309o
		.BYTE $56,$53,$92,$13,$12,$12,$1F,$10,	8,$F8,	8,$F8,	8,  8,$FE,  0
byte_3B16B:	.BYTE $10,$11,$11,$11,$FD,$11,$15,$19,	8,$FC,	8,  8,$28,$10,	0,$F8
					; DATA XREF: BANK_03:830Bo
		.BYTE $31,$D1,$11,$11,$11,$11,$51,$21,	8,$90,$50,$20,$50,$8E,	4,  0
byte_3B18B:	.BYTE	1,$11,$11,$1F,$11,$21,	1,$FF,	0,  0,$10,$F8,	0,  0,	4,$FE
					; DATA XREF: BANK_03:830Do
		.BYTE	0,$1F,$10,$10,$10,$10,$1F,$10,$10,$F8,$10,$10,$10,$10,$F0,$10
byte_3B1AB:	.BYTE	0,$20,$23,$22,$22,$22,$22,$23,	0,  4,$FE,  4,	4,  4,	4,$FC
					; DATA XREF: BANK_03:830Fo
		.BYTE $22,$22,$22,$22,$22,$23,$22,$20,	4,  4,	4,  4,	4,$FC,	4,  0
byte_3B1CB:	.BYTE $10,$10,$23,$22,$46,$FA,$12,$23,	0,$3C,$E0,$20,$20,$20,$28,$FC
					; DATA XREF: BANK_03:8311o
		.BYTE $42,$FE,	2,  2,$1E,$E2,$43,  2,$20,$20,$20,$20,$10,$92, $A,  6
byte_3B1EB:	.BYTE	8,  8,	8,$17,$10,$30,$5F,$90,$40,$40,$48,$FC,$40,$44,$FE,$80
					; DATA XREF: BANK_03:8313o
		.BYTE $11,$13,$10,$11,$10,$10,$10,$10,	0,$FC,	8,$10,$A0,$40,$60,$20
byte_3B20B:	.BYTE	1,  1,$7F,  1,$1F,$10,$1F,$10,	0,  8,$FC,$10,$F8,$10,$F0,$10
					; DATA XREF: BANK_03:8315o
		.BYTE $1F,$10,$1F,$10,$FF,  8,$10,$20,$F0,$10,$F0,$14,$FE,$20,$18,  8
byte_3B22B:	.BYTE	2,  1,$7F,$42,$89,$28,$4B, $C,	0,  0,$FE,  2,$24,$C8,	4,$10
					; DATA XREF: BANK_03:8317o
		.BYTE $77,  1,$21,$21,$21,$21,$3F,$20,$F0,  0,	8,  8,	8,  8,$F8,  8
byte_3B24B:	.BYTE	8,$FF,$10,$11,$21,$25,$3F,$65,$10,$F8,$10,$10,$10,$10,$10,$14
					; DATA XREF: BANK_03:8319o
		.BYTE $A5,$24,$24,$27,$24,$3C,$24,  0,$FE,  4,$24,$F4,	4,  4,$14,  8
byte_3B26B:	.BYTE	0,$7F,	4,  4,	8,$3F,	1,  2,$38,$C0,	0,$10,$20,$C0,	0,$20
					; DATA XREF: BANK_03:831Bo
		.BYTE	4,$3F,	1,  9,	9,$11,$25,  2,$10,$F8,	8,$20,$10,  8,	8,  0
byte_3B28B:	.BYTE $10,$10,$20,$27,$48,$F9,$12,$27,$80,$40,$48,$FC,$80,$10,	8,$FC
					; DATA XREF: BANK_03:831Do
		.BYTE $41,$F9,$41,  1,$1A,$E2,$44,  8,$24,$20,$20,$20,$22,$22,$1E,  0
byte_3B2AB:	.BYTE	8,  8, $F,$10,$10,$37,$50,$90,$80,$44,$FE,  0,	8,$FC,	0,  8
					; DATA XREF: BANK_03:831Fo
		.BYTE $17,$10,$13,$12,$12,$12,$13,$12,$FC,  0,$F8,  8,	8,  8,$F8,  8
byte_3B2CB:	.BYTE	1,  1,	2,  4, $A,$11,$21,$C0,	0,  0,$80,$40,$20,$10, $E,  4
					; DATA XREF: BANK_03:8321o
		.BYTE $1F,  0,	0,  4,	2,  1,	0,  0,$F0,$10,$20,$40,$80,  0,$80,$80
byte_3B2EB:	.BYTE $10,$14,$3E,$49,$90,$7D,$10,$7C,$40,$48,$FC,$20,$90,$FC,$90,$94
					; DATA XREF: BANK_03:8323o
		.BYTE $13,$FE,$11,$39,$55,$91,$11,$11,$FE,  8,$FC,  8,$F8,  8,$F8,  8
byte_3B30B:	.BYTE	1,  1,	2,  4,	8,$12,$21,$C0,	0,  0,$80,$40,$20,$10,$8E,$84
					; DATA XREF: BANK_03:8325o
		.BYTE	0,$1F,	0,  0,	0,  0,	0,  1,	0,$F0,$10,$20,$20,$40,$80,  0
byte_3B32B:	.BYTE	0,$7F,	1,  1,	1,  1,$FF,  1,	8,$FC,	0,  0,	0,  4,$FE,  0
					; DATA XREF: BANK_03:8327o
		.BYTE	2,  2,	4,  4,	8,$10,$20,$C0,$80,$80,$40,$40,$20,$10, $E,  4
byte_3B34B:	.BYTE	0,  8,$7D,$4A,$4C,$4B,$4A,$7A,$80,$80,$F8,$10,$24,$FE,$44,$44
					; DATA XREF: BANK_03:8329o
		.BYTE $4A,$4B,$4A,$48,$78,$49,	2,  4,$44,$FC,$64,$A0,$A2,$22,$1E,  0
byte_3B36B:	.BYTE	0,$7F,	4,  4,	4,  4,$44,$24,	8,$FC,$40,$40,$40,$40,$48,$4C
					; DATA XREF: BANK_03:832Bo
		.BYTE $24,$14,$14,  4,	4,  4,$FF,  0,$50,$50,$60,$40,$40,$44,$FE,  0
byte_3B38B:	.BYTE	1,  7,$7C,  4,	4,  5,$FF, $C,	4,$84,	4,$24,$24,$24,$A4,$24
					; DATA XREF: BANK_03:832Do
		.BYTE  $E,$15,$14,$24,$44,  4,	4,  4,$24,$A4,$A4,$24,	4,  4,$14,  8
byte_3B3AB:	.BYTE	8,$FD,$10,$10,$10,$13,$7C,$10,	8,$FC,	0,  0,	4,$FE,$90,$90
					; DATA XREF: BANK_03:832Fo
		.BYTE $10,$10,$10,$1C,$F1,$41,	2,  4,$90,$90,$90,$90,$12,$12, $E,  0
byte_3B3CB:	.BYTE $10,$11,$11,$11,$FD,$11,$15,$19,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:8331o
		.BYTE $30,$D7,$10,$11,$11,$11,$52,$24,	0,$FE,$20,$28,$3C,$20,$A6,$7C
byte_3B3EB:	.BYTE	1,$FF,$10,$1F,	0,$1F,$10,$1F,	0,$FE,	0,$F0,	0,$F0,$10,$F0
					; DATA XREF: BANK_03:8333o
		.BYTE	0,$77,$54,$75,$55,$71,$52,$B4,	0,$DC,$54,$54,$5C,$14,$96,$62
byte_3B40B:	.BYTE $10,$11,$11,$FF,$11,$31,$39,$55,	8,$FC,	8,  8,$F8,  8,$F8,  8
					; DATA XREF: BANK_03:8335o
		.BYTE $91,$11,	0,$12,$51,$50,$90, $F,	8,$F8,	0,  0,$84,$92,$12,$F0
byte_3B42B:	.BYTE	2,  1,$7F,$40,$80,$1F,	1,  1,	0,  0,$FE,  2,$24,$F0,	0,  0
					; DATA XREF: BANK_03:8337o
		.BYTE $11,$11,$11,$11,$11,$29,$47,$80,$20,$F0,	0,  0,	0,  6,$FC,  0
byte_3B44B:	.BYTE	2,  2,	2,$3F,	2,  2,$FF,  1,	0,  0,$88,$D8,$20,$44,$FE,  0
					; DATA XREF: BANK_03:8339o
		.BYTE	2,  4, $C,$14,$27,$44,$84,  3,	0,$10,$30,$C0,	0,  4,	4,$FC
byte_3B46B:	.BYTE	0,  0,$3F,  1,	1,  1,	1,$FF,$20,$F0,	0,  0,	0,  0,	4,$FE
					; DATA XREF: BANK_03:833Bo
		.BYTE	1,  1,	1,  1,	1,  1,	1,  1,	0,  0,	0,  0,	0,  0,	0,  0
byte_3B48B:	.BYTE	1,$40,$2F,  0,	1,  1,$E2,$27,	0,$84,$FE,$80,	0,$10,$10,$E0
					; DATA XREF: BANK_03:833Do
		.BYTE $20,$20,$20,$25,$2A,$30,$23, $C,$48,$48,$90,$20,$50,$88,	4,  4
byte_3B4AB:	.BYTE	2,  1,$7F,$40,$80,$3F,	4,$1A,	0,  0,$FE,  2,	4,$F8,	0,$10
					; DATA XREF: BANK_03:833Fo
		.BYTE $63,  5,$19,$63,	5,$19,$65,  2,$30,$40,$80,$40,$30, $E,	4,  0
byte_3B4CB:	.BYTE	8,  8,	8,$10,$12,$32,$52,$94,$40,$40,$40,$40,$44,$4C,$50,$60
					; DATA XREF: BANK_03:8341o
		.BYTE $10,$10,$10,$11,$11,$12,$14,$18,$40,$A0,$A0,$10,$10,  8, $E,  4
byte_3B4EB:	.BYTE	1,  1,	2,  4,	8,$11,$21,$C1,	0,  0,$80,$40,$20,$10, $E,  4
					; DATA XREF: BANK_03:8343o
		.BYTE	1,  1,	1,  1,	1,  1,	1,  1,	0,  0,	0,  0,	0,  0,	0,  0
byte_3B50B:	.BYTE	2,  1,$FF,  0,$1F,$10,$10,$1F,	0,  4,$FE,  0,$F0,$10,$10,$F0
					; DATA XREF: BANK_03:8345o
		.BYTE	0,$7F,$40,$4F,$48,$48,$4F,$40,	4,$FE,	4,$E4,$24,$24,$E4, $C
byte_3B52B:	.BYTE $10,$17,$21,$21,$49,$F9,$11,$21,	8,$FC,	8,  8,$10,$10,$3C,$84
					; DATA XREF: BANK_03:8347o
		.BYTE $41,$F9,	2,  2,$1A,$E4,$49,  2,$88,$48,$50,$20,$50,$88, $E,  4
byte_3B54B:	.BYTE	0,$40,$30,$10,	0,  0,$F0,$10,$40,$40,$40,$40,$48,$7C,$40,$40
					; DATA XREF: BANK_03:8349o
		.BYTE $10,$10,$10,$12,$14,$18,$17,  0,$40,$40,$40,$40,$40,$44,$FE,  0
byte_3B56B:	.BYTE	8,$49,$2A,$2C,	8,$FF,	8,$18,	8,  8,$48,$28,	8,$48,$28,$28
					; DATA XREF: BANK_03:834Bo
		.BYTE $1C,$2B,$2A,$48,$88,  8,	8,  8, $E,$F8,	8,  8,	8,  8,	8,  8
byte_3B58B:	.BYTE	8,$1C,$F0,$10,$11,$FF,$11,$39,$20,$20,$20,$24,$FE,$24,$24,$24
					; DATA XREF: BANK_03:834Do
		.BYTE $35,$55,$51,$90,$10,$10,$10,$10,$24,$FC,$24,$20,$20,$20,$20,$20
byte_3B5AB:	.BYTE $10, $A,$7F,  0,$22,$14,$FF, $A,	8,$1C,$60,$40,$40,$44,$FE,$48
					; DATA XREF: BANK_03:834Fo
		.BYTE $7F,  8, $A,$29,$48,$89,$28,$10,$48,$48,$48,$88,$88,  8,	8,  8
byte_3B5CB:	.BYTE	2,$45,$29,$11,$29,$49,$88,  9,	4,$FE,	4,$FC,	4,$FC,$20,$24
					; DATA XREF: BANK_03:8351o
		.BYTE $19,$2A,$4C,$89,	8,  8,$57,$20,$FE,$20,$28,$FC,$20,$24,$FE,  0
byte_3B5EB:	.BYTE $10,$10,$20,$20,$49,$FA,$14,$23,$40,$40,$A0,$A0,$10, $E,	4,$F8
					; DATA XREF: BANK_03:8353o
		.BYTE $40,$F8,$43,  2,$1A,$E2,$43,  2,	0,  8,$FC,  8,	8,  8,$F8,  8
byte_3B60B:	.BYTE	0, $B,$7E,$4A,$4B,$4A,$4A,$4B,	8,$FC,$48,$48,$F8,$48,$48,$F8
					; DATA XREF: BANK_03:8355o
		.BYTE $48,$4F,$4A,$7A,$4A,  2,	3,  2,	0,$FE,$88,$50,$20,$90, $E,  4
byte_3B62B:	.BYTE $11,$10,$1E,$25,$28,$7E,$AA,$2B,	4,$88,$54,$FE,$20,$20,$28,$FC
					; DATA XREF: BANK_03:8357o
		.BYTE $3E,$2A,$2A,$3F,	0, $E,$F0,$40,$20,$20,$24,$FE,$20,$20,$20,$20
byte_3B64B:	.BYTE	1,  1,	1,$7F,$41,$41,$42,$44,	0,  0,	4,$FE,	4,  4,$84,$64
					; DATA XREF: BANK_03:8359o
		.BYTE $49,$41,$42,$44,$48,$40,$40,$40,$24,  4,$84,$64,$24,  4,$14,  8
byte_3B66B:	.BYTE $10,$10,$17,$10,$FC,$10,$14,$18,	0,  8,$FC,$88,$88,$90,$94,$BE
					; DATA XREF: BANK_03:835Bo
		.BYTE $30,$D0,$11,$11,$11,$12,$54,$28,$84,$84,	4,  4,	4,$44,$28,$10
byte_3B68B:	.BYTE $40,$30,$17,  0,$80,$60,$2F,  8,$10,$38,$C0,$40,$40,$44,$FE,$40
					; DATA XREF: BANK_03:835Do
		.BYTE $10,$23,$E2,$22,$22,$22,$23,$22,$48,$FC,	8,  8,	8,  8,$F8,  8
byte_3B6AB:	.BYTE	2,$44,$2B,$10,$28,$4B,$88,  9,$40,$44,$F8,$50,$64,$FE,$80,  8
					; DATA XREF: BANK_03:835Fo
		.BYTE $1B,$2D,$49,$89,	9,  9,$29,$11,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_3B6CB:	.BYTE	2,  1,	1,  0,$7F,  0,	0,$10,	0,  0,	0,  8,$FC,  0,$10,$10
					; DATA XREF: BANK_03:8361o
		.BYTE	8,  8,	4,  4,	4,  0,$FF,  0,$20,$20,$40,$40,$80,  4,$FE,  0
byte_3B6EB:	.BYTE $24,$24,$2F,$24,$FC,$27,$2C,$34,$80,$8C,$F0,$A0,$A0,$A4,$BE,$A8
					; DATA XREF: BANK_03:8363o
		.BYTE $27,$E4,$24,$3F,$20,$24,$A8,$40,$A8,$A8,$A8,$E8,$28,$A8,$48,  8
byte_3B70B:	.BYTE	0,  4,	4,  8,	8,$10,$20,$4F,$80,$80,$40,$40,$20,$10,	8,$EE
					; DATA XREF: BANK_03:8365o
		.BYTE $84,  4,	4,  4,	4,  8,$11,$20,$24,$20,$20,$20,$20,$20,$40,$80
byte_3B72B:	.BYTE	0,  0,$7F,  2,	2,  2,	2,$3F,	0,  8,$FC,  0,	0,  0,$10,$FC
					; DATA XREF: BANK_03:8367o
		.BYTE	4,  4,	4,  8,	8,  8,$FF,  0,$10,$10,$10,$10,$10,$14,$FE,  0
byte_3B74B:	.BYTE	1,$FF,$10,$1F,$31,$4A,	4,$39,	4,$84,$24,$24,$24,$24,$24, $C
					; DATA XREF: BANK_03:8369o
		.BYTE	1,$FF,	2,  4, $C,$15,$66,  4,	4,$FE,	8,$90,$60,$30, $E,  4
byte_3B76B:	.BYTE	0,$1F,$10,$10,$1F,$10,$10,$1F,$10,$F8,$10,$10,$F0,$10,$10,$F0
					; DATA XREF: BANK_03:off_3836Bo
		.BYTE $11,  1,$FF,  1,	1,  1,	1,  1,$10,  4,$FE,  0,	0,  0,	0,  0
byte_3B78B:	.BYTE $10,$10,$10,$1C,$21,$21,$7D,$91,$20,$20,$20,$24,$FE,$24,$24,$24
					; DATA XREF: BANK_03:836Do
		.BYTE $11,$FD,$11,$10,$14,$18,$10,  0,$24,$FC,$24,$20,$20,$20,$20,$20
byte_3B7AB:	.BYTE	2,  2,	2,$FF,	4,  4,	8,  8,	0,  0,	4,$FE,	0,  0,	0,  8
					; DATA XREF: BANK_03:836Fo
		.BYTE $1F,$28,$48,$88,	8,  8, $F,  8,$FC,  8,	8,  8,	8,  8,$F8,  8
byte_3B7CB:	.BYTE	2,  1,$7F,$44,$88,$11,	1,  1,	0,  0,$FE,$42,$34,$10,$40,$24
					; DATA XREF: BANK_03:8371o
		.BYTE $FF,  1,	2,  2,	4,  8,$30,$C0,$FE,  0,$80,$80,$40,$30, $E,  4
byte_3B7EB:	.BYTE $10,$10,$10,$1E,$22,$33,$4A,$A4,$20,$20,$28,$24,$20,$FE,$20,$50
					; DATA XREF: BANK_03:8373o
		.BYTE $14,  8,$11,$22,$40,$24,$24,$40,$50,$88, $E,  4,	0,$48,$46,  2
byte_3B80B:	.BYTE	0,  4,$7E,$44,$44,$44,$44,$44,	4,  4,$84,$84,$84,$84,$84,$84
					; DATA XREF: BANK_03:8375o
		.BYTE $44,$44,$44,$7C,$44,  0,	0,  0,$84,$84,$9C,$E4,$84,  4,	4,  4
byte_3B82B:	.BYTE	4,$FE,$28,$28,$FE,$AA,$AA,$AE,	4,$FE,$84,$FC,$84,$FC,$20,$A0
					; DATA XREF: BANK_03:8377o
		.BYTE $C2,$83,$82,$FE,$82,$82,$FF,$82,$FC,$20,$20,$FC,$20,$24,$FE,  0
byte_3B84B:	.BYTE	2,  1,$7F,$44,$88,  0,$3F,  8,	0,  0,$FE,$42,$24,  0,$F8,$40
					; DATA XREF: BANK_03:8379o
		.BYTE $10,$3F,	1,  2,	4,$18,$61,  0,$48,$FC,$40,$40,$40,$40,$40,$80
byte_3B86B:	.BYTE	0,$7C,$44,$48,$4F,$50,$48,$48,$80,$40,$40,  4,$FE,$80,$88,$FC
					; DATA XREF: BANK_03:837Bo
		.BYTE $44,$44,$44,$68,$51,$41,$42,$44,$88,$88,$88,$88,	8,  8,$50,$20
byte_3B88B:	.BYTE $10,$10,$10,$13,$FE,$12,$16,$1B,$80,$60,$24,$FE,	4,  4,	4,$FC
					; DATA XREF: BANK_03:837Do
		.BYTE $32,$D2,$12,$12,$12,$14,$54,$28,	4,  0,	0,  0,	0,  0,	0,  0
byte_3B8AB:	.BYTE	2,$3F,$22,$22,$22,$3E,$22,$22,	8,$FC,$88,$88,$88,$98,$80,$FC
					; DATA XREF: BANK_03:837Fo
		.BYTE $22,$3E,$22,$22,$22,$22,$4A,$84,$A4,$A4,$A8,$90,$A8,$A8,$C6,$84
byte_3B8CB:	.BYTE	1,  1,	1,$11,$11,$11,$1F,$F1,	0,  0,	0,  0,$30,$D0,$10,$10
					; DATA XREF: BANK_03:8381o
		.BYTE $11,$11,$11,$11,$10,$10, $F,  0,$10,$50,$20,  2,	2,  2,$FE,  0
byte_3B8EB:	.BYTE	0,  8,$7D,$49,$49,$49,$49,$49,$10,$38,$C0,  0,	0,  4,$FE,$10
					; DATA XREF: BANK_03:8383o
		.BYTE $49,$49,$49,$4A,$7A,$44,	8,  0,$10,$10,$10,$10,$10,$10,$10,$10
byte_3B90B:	.BYTE	0,$22,$11,$10,	3,  2,$F2,$12,	0,  8,$10,$A0,$F8,  8,	8,  8
					; DATA XREF: BANK_03:8385o
		.BYTE $13,$12,$10,$10,$15,$19,$12,  4,$F8,$A8,$A0,$A0,$22,$22,$1E,  0
byte_3B92B:	.BYTE	0,$20,$22,$22,$22,$22,$FB,$26,$40,$40,$40,$40,$48,$7C,$C8,$48
					; DATA XREF: BANK_03:8387o
		.BYTE $22,$22,$22,$22,$3A,$E2,$41,  0,$48,$48,$68,$50,$42,  2,$FE,  0
byte_3B94B:	.BYTE	0,$FF,	2,  2,	2,  2,	2,  2,	4,$FE,	0,  0,	0,$80,$40,$30
					; DATA XREF: BANK_03:8389o
		.BYTE	2,  2,	2,  2,	2,  2,	2,  2,$10,  0,	0,  0,	0,  0,	0,  0
byte_3B96B:	.BYTE	1,  1,$FF,  1,$3F,$21,$3F,  1,	0,  4,$FE,  0,$F8,  8,$F8,  0
					; DATA XREF: BANK_03:838Bo
		.BYTE $3F,  1,$FF,  1,$3F,  1,	5,  2,$F8,  8,$FE,  8,$F8,  8,	0,  0
byte_3B98B:	.BYTE $10,$10,$10,$14,$FE,$11,$12,$10,$40,$40,$40,$44,$FE,  8,$88,$88
					; DATA XREF: BANK_03:838Do
		.BYTE $7C,$44,$44,$44,$44,$7C,$44,  3,$88,$88,$50,$20,$20,$50,$8E,  4
byte_3B9AB:	.BYTE	2,  1,$3F,$20,$20,$2F,$28,$28,	0,  4,$FE,  0,$70,$80,$80,$88
					; DATA XREF: BANK_03:838Fo
		.BYTE $2F,$28,$28,$28,$4A,$4D,$88,  0,$FC,$80,$80,$40,$40,$A4,$94, $C
byte_3B9CB:	.BYTE	0,  8,$7B,$48,$48,$4F,$79,$49,	0,$18,$E0,$40,$48,$FC,$50,$54
					; DATA XREF: BANK_03:8391o
		.BYTE $4F,$79,$49,$49,$4F,$78,$48,  3,$FE,$50,$50,$50,$FC,$40,$50,$F8
byte_3B9EB:	.BYTE $12,  9,	9,$7F,$40,$80,$1F,$10,$10,$10,$20,$FE,	2,$14,$F8,$10
					; DATA XREF: BANK_03:8393o
		.BYTE $11,$11,$11,$12,$12,  4,	8,$70,$10,$10,$90,$90,$90,$84,$84,$7C
byte_3BA0B:	.BYTE	0,  8,	8,  8,	8,  8,	8,  8,	0,$20,$20,$20,$20,$20,$20,$50
					; DATA XREF: BANK_03:8395o
		.BYTE	8,  8,$14,$12,$21,$21,$42,$84,$50,$50,$50,$88,$88, $C,	6,  4
byte_3BA2B:	.BYTE	1,  9,$7D,$49,$4A,$4C,$48,$78,	0,  0,	4,$FE,$80,$80,$90,$F8
					; DATA XREF: BANK_03:8397o
		.BYTE $48,$48,$48,$48,$78,$48,	0,  0,$80,$80,$88,$FC,$80,$80,$80,$80
byte_3BA4B:	.BYTE	1,  2,	4,$1F,$10,$10,$1F,$10,	0,  0,$10,$F8,$10,$10,$F0,$10
					; DATA XREF: BANK_03:8399o
		.BYTE $10,$10,$1F,$10,$10,$10,$1F,$10,$10,$10,$F0,$10,$10,$10,$F0,$10
byte_3BA6B:	.BYTE	0,  0,$7F,  0,	0,  0,	0,$3F,	0,$10,$F8,$10,$10,$10,$10,$F0
					; DATA XREF: BANK_03:839Bo
		.BYTE $20,$20,$20,$20,$20,$20,$1F,  0,$10,  0,	0,  0,	4,  4,$FC,  0
byte_3BA8B:	.BYTE	0,$7F,	8,  8,	8,  8,	8,$FF,	8,$FC,$20,$20,$20,$20,$24,$FE
					; DATA XREF: BANK_03:839Do
		.BYTE	8,  8,	8,  8,$10,$10,$20,$40,$20,$20,$20,$20,$20,$20,$20,$20
byte_3BAAB:	.BYTE $10,$10,$10,$10,$FC,$25,$27,$24,$40,$40,$40,$80,$88,  4,$FE,  2
					; DATA XREF: BANK_03:839Fo
		.BYTE $24,$49,$29,$11,$29,$45,$85,  1,	4,$FE,	4,  4,	4,  4,$FC,  4
byte_3BACB:	.BYTE	1,  0,$3F,$22,$22,$25,$2C,$34,	0,$84,$FE,$10,$14,$FE,$90,$10
					; DATA XREF: BANK_03:83A1o
		.BYTE $24,$2F,$29,$2A,$48,$49,$8A,  8,$B4,$FE,$44,$A4,$84,$44,$34,  8
byte_3BAEB:	.BYTE $10,$11,$10,$54,$58,$57,$50,$90,	0,  8,$90,$A0,	4,$FE,	0,  0
					; DATA XREF: BANK_03:83A3o
		.BYTE $10,$13,$10,$28,$24,$40,$8F,  0,	8,$FC,	0,  0,	0,  4,$FE,  0
byte_3BB0B:	.BYTE	0, $F,	8,  8,	8, $F,	8,  8,$20,$F0,$20,$20,$20,$E0,$20,$20
					; DATA XREF: BANK_03:83A5o
		.BYTE	8, $F,	8,  8,	8,  8,$FF,  0,$20,$E0,$20,$20,$20,$24,$FE,  0
byte_3BB2B:	.BYTE	4,  4,	4,$FC,	4,  4,	4,$7C,$40,$40,$44,$7E,$40,$40,$48,$7C
					; DATA XREF: BANK_03:83A7o
		.BYTE	4,  4,	4,  4,$FC,  4,	4,  4,$40,$40,$40,$44,$7E,$40,$40,$40
byte_3BB4B:	.BYTE	1,$11,	9,$7F,$40,$8F,	8, $F,	0,$10,$20,$FE,	2,$E4,$20,$E0
					; DATA XREF: BANK_03:83A9o
		.BYTE	1,$1F,$11,$11,$11,$11,	1,  1,$10,$F8,$10,$10,$10,$50,$20,  0
byte_3BB6B:	.BYTE	1,  0,$1F,$11,$90,$5F,$50,$10,	0,$84,$FE,$10,$A4,$FE,$40,$48
					; DATA XREF: BANK_03:83ABo
		.BYTE $37,$50,$D0,$1F,$20,$20,$40,  0,$FC,$40,$44,$FE,$40,$40,$40,$40
byte_3BB8B:	.BYTE	0,$40,$30,$10,	7,  8,$10,$10,$80,$80,$80,$88,$FC,$88,$88,$88
					; DATA XREF: BANK_03:83ADo
		.BYTE $20,$EF,$20,$21,$21,$22,$24,$28,$88,$FE,$80,$40,$20,$10, $E,  4
byte_3BBAB:	.BYTE	2,  2,	2,$FF,	4,  9,	9,$11,	0,  0,	4,$FE,	0,  0,	0,$10
					; DATA XREF: BANK_03:83AFo
		.BYTE $3F,  1,	9,  9,$11,$21,$45,  2,$F8,  0,$40,$20,$10,$18,	8,  0
byte_3BBCB:	.BYTE	4,$44,$28,$11,$29,$4A,	8,  9,$80,$80,$84,$FE,	4,  4,$24,$F4
					; DATA XREF: BANK_03:83B1o
		.BYTE $19,$29,$49,$89,	9,  8,$50,$20,$24,$24,$24,$E4,	4,  4,$28,$10
byte_3BBEB:	.BYTE	0,  8,$7C,$48,$49,$4A,$4D,$48,$80,$80,$88,$FC,	0,  0,$F8,$10
					; DATA XREF: BANK_03:83B3o
		.BYTE $48,$48,$48,$79,$4A,  2,	1,  0,$20,$40,$80,  0,	2,  2,$FE,  0
byte_3BC0B:	.BYTE	4,  4,$7C,  4,$1C,$E4,$40,$1F,$40,$44,$78,$42,$42,$3E,$10,$F8
					; DATA XREF: BANK_03:83B5o
		.BYTE $10,$1F,$10,$1F,$10,$10,$10,$10,$10,$F0,$10,$F0,$10,$10,$50,$20
byte_3BC2B:	.BYTE $11,$11,$21,$27,$49,$F1,$27,$41,	0,$3E,$22,$E4,$24,$28,$E4,$24
					; DATA XREF: BANK_03:83B7o
		.BYTE $F9,$47,	1,$19,$E2,$42,	4,  0,$22,$E2,$22,$34,$28,$20,$20,$20
byte_3BC4B:	.BYTE $10,$17,$24,$24,$44,$FF,$14,$24,	4,$BE,$A4,$A4,$A4,$BC,$A4,$A4
					; DATA XREF: BANK_03:83B9o
		.BYTE $44,$FF,$44,  4,$1C,$E4,$4A,$11,$A4,$BC,$A4,$A4,$A4,$C4,$94,  8
byte_3BC6B:	.BYTE	0,  0,$3F,$20,$20,$3F,$20,$20,$10,$78,$80,  0,	4,$FE,	0,  8
					; DATA XREF: BANK_03:83BBo
		.BYTE $27,$24,$24,$24,$44,$44,$87,  4,$FC,  8,	8,  8,	8,  8,$F8,  8
byte_3BC8B:	.BYTE	0,$43,$32,$12,	2,  2,$F3,$12,$1C,$E0,	0,  0,	0,  4,$FE,$20
					; DATA XREF: BANK_03:83BDo
		.BYTE $12,$12,$12,$16,$1A,$14,	8,  0,$20,$20,$60,$30,$2C,$24,$20,$20
byte_3BCAB:	.BYTE	0,$7F,	1,  1,$1F,$11,$11,$1F,	8,$FC,	0,$10,$F8,$10,$10,$F0
					; DATA XREF: BANK_03:83BFo
		.BYTE $11,$11,$FF,$10,$10,$10,$10,$10,$10,$14,$FE,$10,$10,$10,$50,$20
byte_3BCCB:	.BYTE	8,  8,$14,$22,$41,$BE,	9,  8,	0,$FC,	4,$48,$28,$10,$FE,$12
					; DATA XREF: BANK_03:83C1o
		.BYTE $7F, $A,$3F,$22,$22,$22,$3E,$22,$14,$10,$10,$10,$10,$10,$50,$20
byte_3BCEB:	.BYTE	9,$7D,$49,$4F,$49,$79,$49,$4F,	0,  4,$3E,$E4,$24,$24,$24,$E4
					; DATA XREF: BANK_03:83C3o
		.BYTE $49,$79,$4A,$4A,$4F,$48,$88,$18,$24,$24,$24,$B4,$E8,$60,$20,$20
byte_3BD0B:	.BYTE	0,$7F,$10,$10,$10,  8,	8,  4,	0,$F0,$10,$10,$20,$20,$40,$40
					; DATA XREF: BANK_03:83C5o
		.BYTE	4,  2,	1,  2,	4,  8,$30,$C0,$80,$80,	0,$80,$40,$30, $E,  4
byte_3BD2B:	.BYTE	8,$7C,$4B,$4A,$4C,$78,$48,$49,$40,$40,$FC,$44,$48,$80,$84,$4C
					; DATA XREF: BANK_03:83C7o
		.BYTE $4B,$7D,$49,$49,$49,$49,$49,$99,$50,$20,$20,$10, $E,$44,$80,  0
byte_3BD4B:	.BYTE	0,  4,$FE,  4,$44,$45,$2A,$28,$60,$50,$44,$FE,$90,$90,$FC,$90
					; DATA XREF: BANK_03:83C9o
		.BYTE $10,$10,$28,$24,$44,$80,	0,  0,$90,$FC,$90,$90,$94,$FE,$80,$80
byte_3BD6B:	.BYTE	0,$3F,$11,  9,	9,$7F,$40,$80,$78,$80,$10,$10,$20,$FE,	2,  4
					; DATA XREF: BANK_03:83CBo
		.BYTE $1F,  8,	4,  2,	1,  6,$18,$60,$F0,$20,$40,$80,	0,$C0,$3C,  8
byte_3BD8B:	.BYTE	1,  2,	4, $A,$31,$DF,$10,$1F,	0,$80,$40,$30, $E,$F4,$10,$F0
					; DATA XREF: BANK_03:83CDo
		.BYTE $10,$1F,$10,$13,$10,$14,$18,$10,$10,$F8,$10,$20,$C0,$30,$18,  8
byte_3BDAB:	.BYTE	0,  4,$7E,$44,$47,$44,$44,$7C,	8,  8,	8,  8,$FE,  8,	8,$88
					; DATA XREF: BANK_03:83CFo
		.BYTE $44,$44,$44,$44,$7C,$44,	0,  0,$48,$48,	8,  8,	8,$48,$28,$10
byte_3BDCB:	.BYTE	2,  1,	0,  0,	8,  8,$28,$28,	0,  0,$80,$C0,$80,  0,	8,  4
					; DATA XREF: BANK_03:83D1o
		.BYTE $28,$48,$88,  8,	8,  8,	7,  0,	2,  2,	2,  0,$10,$10,$F0,  0
byte_3BDEB:	.BYTE $10,$17,$10,$13,$58,$57,$50,$93,$48,$FC,$40,$F8,$40,$FE,	8,$FC
					; DATA XREF: BANK_03:83D3o
		.BYTE $12,$13,$12,$13,$12,$12,$12,$12,	8,$F8,	8,$F8,	8,  8,$28,$10
byte_3BE0B:	.BYTE	8,$49,$2A,  8,$FF,$19,$2C,$4A,$40,$40,$40,$84,$FE,  8,$88,$88
					; DATA XREF: BANK_03:83D5o
		.BYTE $10,$FE,$22,$22,$14,$18,$25,$42,$88,$90,$50,$20,$50,$88, $E,  4
byte_3BE2B:	.BYTE	0,$1F,$10,$10,$10,$1F,$10,$10,$10,$F8,$10,$10,$10,$F0,$10,$10
					; DATA XREF: BANK_03:83D7o
		.BYTE $10,$1F,$10,$10,$10,$1F,$10,  0,$10,$F0,$10,$10,$10,$F0,$10,  0
byte_3BE4B:	.BYTE	8, $F,$10,$3F,$61,$A1,$3F,  6,	0,$E0,$48,$FC,	8,  8,$F8,$10
					; DATA XREF: BANK_03:83D9o
		.BYTE $19,$62, $C,$31,	6,$18,$62,  1,$20,$C0,$C0,$A0,$90,$8E,$84,  0
byte_3BE6B:	.BYTE	1,  1,	1,  9,	9,$11,$11,$21,	0,  0,	0,$20,$10, $C,	4,$10
					; DATA XREF: BANK_03:83DBo
		.BYTE $41,  1,	1,  0,	1,  2, $C,$70,$10,$20,$40,$80,	0,  0,	0,  0
byte_3BE8B:	.BYTE	0, $F,	8,  8,	8,  8,	8,  8,$40,$E0,$40,$40,$40,$40,$40,$40
					; DATA XREF: BANK_03:83DDo
		.BYTE	8,  8,	8,  8,	8,$10,$20,$40,$40,$40,$40,$40,$42,$42,$3E,  0
byte_3BEAB:	.BYTE	8, $F,$18,$24,$43, $C,$30,$C1,	0,$F0,$20,$40,$80,$60,$1E,  4
					; DATA XREF: BANK_03:83DFo
		.BYTE	1,$3F,	1,  9,$11,$21,	5,  2,$10,$F8,	0,$20,$18,  8,	0,  0
byte_3BECB:	.BYTE	2,  1,$7F,$44,$44,$44,$7F,$44,	0,  8,$FC,$20,$20,$24,$FE,$20
					; DATA XREF: BANK_03:83E1o
		.BYTE $4E,$4D,$54,$54,$65,$44,$84,  4,$70,$68,$AE,$A4,$20,$20,$20,$20
byte_3BEEB:	.BYTE $10,$13,$10,$14,$59,$51,$51,$91,	4,$FE,$40,$88,$FC,  8,$28,$28
					; DATA XREF: BANK_03:83E3o
		.BYTE $11,$11,$11,$29,$24,$44,$81,  2,$28,$48,$48,$48,$80,$90, $C,  4
byte_3BF0B:	.BYTE	8, $B,$12,$13,$22,$4B,$88,$17,	8,$FC,	8,$F8,	8,$F8,	0,$FC
					; DATA XREF: BANK_03:83E5o
		.BYTE $30,$50,$9F,$12,$11,$11,$10,$10,$10,$14,$FE,$10,$10,$10,$50,$20
byte_3BF2B:	.BYTE	0,$1F,$10,$10,$1F,  1,	1,$3F,$10,$F8,$10,$10,$F0,  0,	8,$FC
					; DATA XREF: BANK_03:83E7o
		.BYTE $21,$21,$3F,  1,	1,  1,$7F,  0,	8,  8,$F8,  0,$10,$FC,	4,  0
byte_3BF4B:	.BYTE	1,  2, $F,  8, $F,  8, $F,  8,	0,$10,$F8,$10,$F0,$10,$F2,$14
					; DATA XREF: BANK_03:83E9o
		.BYTE	8,$7F,	0,  0,	3,$1C,$E0,  0,$18,$F0,$50,$90,$10,$10,$50,$20
byte_3BF6B:	.BYTE $10,$10,$10,$20,$2F,$62,$A2,$24,$80,$80,$80,$88,$FC,$A0,$A0,$90
					; DATA XREF: BANK_03:83EBo
		.BYTE $24,$28,$2B,$30,$20,$20,$20,$20,$90,$88,$EE,$84,$80,$80,$80,$80
byte_3BF8B:	.BYTE $10,$17,$14,$24,$24,$67,$A4,$24,	4,$BE,$84,$84,$84,$BC,	0,$7C
					; DATA XREF: BANK_03:83EDo
		.BYTE $27,$24,$24,$27,$24,$24,$25,$26,$84,$88,$50,$20,$50,$88, $E,  4
byte_3BFAB:	.BYTE	1,$21,$19,  9,	1,  1,$7F,  0,	0,  8,$18,$20,	0,  8,$FC,  8
					; DATA XREF: BANK_03:83EFo
		.BYTE	0,  0,$3F,  0,	0,  0,$7F,  0,	8,  8,$F8,  8,	8,  8,$F8,  8
byte_3BFCB:	.BYTE	1,  1,$FF,  1,	1,$7F,$48,$44,	0,  4,$FE,  0,	4,$FE,$24,$44
					; DATA XREF: BANK_03:83F1o
		.BYTE $5F,$41,$41,$5F,$41,$41,$41,$40,$F4,  4,	4,$F4,	4,  4,$14,  8
byte_3BFEB:	.BYTE	8,  6,	1,  6,$3A,  2,$FF,  4,$30,$C0,	0,$C0,$38,  0,$FE,$80
					; DATA XREF: BANK_03:83F3o
		.BYTE	8,$1F,$28,$C8,	8,  8,	0,  0,$88,$FC,$88,$88,$A8,$90,$80,$80
byte_3C00B:	.BYTE $20,$1B,$48,$40,$40,$40,$40,$40,	4,$FE,	4,  4,	4,  4,	4,  4
					; DATA XREF: BANK_03:83F5o
		.BYTE $40,$40,$40,$40,$40,$40,$40,$40,	4,  4,	4,  4,	4,  4,$14,  8
byte_3C02B:	.BYTE $10,$13,$20,$28,$6F,$A9,$29,$2B,$10,$F8,$10,$14,$FE,  0,	8,$FC
					; DATA XREF: BANK_03:83F7o
		.BYTE $2C,$28,$2F,$28,$28,$21,$22,$24,$40,$44,$FE,$40,$A0,$10, $E,  4
byte_3C04B:	.BYTE $14,$7F,$10,$3F,$55,$1D,	3,$FF,$40,$7C,$C8,$28,$10,$6E,	4,$FE
					; DATA XREF: BANK_03:83F9o
		.BYTE	0,$1F,	0,$1F,	0,$1F,$10,$1F,	0,$F0,	0,$F0,	0,$F0,$10,$F0
byte_3C06B:	.BYTE	0,  0,$7F,  2,	2,  2,	2,  2,	0,  8,$FC,  8,	8,  8,	8,  8
					; DATA XREF: BANK_03:83FBo
		.BYTE	2,  2,	2,  2,	2,  2,$FF,  0,	8,$28,$10,  0,	0,  4,$FE,  0
byte_3C08B:	.BYTE $10,$10,$12,$11,$FD,$10,$17,$18,$40,$40,$44,$4C,$50,$44,$FE,  4
					; DATA XREF: BANK_03:83FDo
		.BYTE $30,$D0,$13,$10,$10,$10,$57,$20,	4,  4,$FC,  4,	4,  4,$FC,  4
byte_3C0AB:	.BYTE	8,  8,	8,$17,$10,$30,$50,$90,$80,$40,$44,$FE,$40,$40,$40,$48
					; DATA XREF: BANK_03:83FFo
		.BYTE $17,$10,$10,$10,$10,$10,$1F,$10,$FC,$40,$40,$40,$40,$44,$FE,  0
byte_3C0CB:	.BYTE	0,  0,	4,  4,	8,  8,$11,$21,	0,$80,$80,$40,$40,$20,$10, $E
					; DATA XREF: BANK_03:8401o
		.BYTE $C2,  2,	4,  8,$10,$1F,	0,  0,	4,  0,	0,$40,$20,$F0,$10,  0
byte_3C0EB:	.BYTE	0,$3F,	0,  0,$FF,  0,	0,$3F,	8,$FC,	8,$48,$E8,  8,$88,$C8
					; DATA XREF: BANK_03:8403o
		.BYTE $20,$20,$20,$20,$3F,$20,	0,  0,$88,$88,$88,$88,$88,$88,$28,$10
byte_3C10B:	.BYTE $10,$12,$1F,$28,$45,  0,$3F,  1,$40,$48,$7C,$A0,$10,$F8,	0,  0
					; DATA XREF: BANK_03:8405o
		.BYTE	1,$FF,	2,  2,	4,  8,$10,$60,	4,$FE,	0,$80,$40,$30, $E,  4
byte_3C12B:	.BYTE	0,  8,$7F,$4A,$4A,$4A,$4A,$4A,	0,  8,$FC,$48,$48,$48,$48,$48
					; DATA XREF: BANK_03:8407o
		.BYTE $4B,$4A,$4A,$7A,$4A,  2,	1,  0,$F8,  8,	0,  0,	2,  2,$FE,  0
byte_3C14B:	.BYTE	0,  1,	3,  3,	3,  3,	3,  1,	0,$80,$C0,$C0,$C0,$C0,$C0,$80
					; DATA XREF: BANK_03:8409o
		.BYTE	1,  1,	0,  1,	3,  1,	0,  0,$80,$80,	0,$80,$C0,$80,	0,  0
byte_3C16B:	.BYTE $10,$10,$10,$17,$FC,$10,$10,$1F,$80,$88,$FC,$80,$48,$32,$D2, $E
					; DATA XREF: BANK_03:840Bo
		.BYTE $30,$D7,$11,$11,$11,$11,$52,$2C,	8,$FC,$20,$20,$22,$22,$1E,  0
byte_3C18B:	.BYTE	2,  1,$3F,  8,	4,$FF,	0,$1F,	0,$10,$F8,$20,$44,$FE,$10,$F8
					; DATA XREF: BANK_03:840Do
		.BYTE $10,$1F,$10,$1F,$14,  4,	8,$70,$10,$F0,$10,$F0,$50,$42,$42,$3E
byte_3C1AB:	.BYTE	2,$3F,$22,$3E,$21,$3E,$62,$BE,$20,$FC,$88,$50,$FE,$20,$F8,$20
					; DATA XREF: BANK_03:840Fo
		.BYTE	0,$1F,$10,$1F,$10,$1F,$10,$10,$20,$F0,$10,$F0,$10,$F0,$10,$30
byte_3C1CB:	.BYTE $10,$10,$10,$10,$FF,$12,$17,$1A,$48,$7C,$40,$48,$FC,  8,$F8,  8
					; DATA XREF: BANK_03:8411o
		.BYTE $33,$D2,$10,$1F,$10,$10,$50,$20,$F8,$40,$44,$FE,$40,$40,$40,$40
byte_3C1EB:	.BYTE $10,$10,$10,$10,$13,$FC,$10,$10,$80,$80,$80,$88,$FC,$88,$88,$88
					; DATA XREF: BANK_03:8413o
		.BYTE $10,$17,$1C,$F1,$41,  2,	4,  8,$88,$FE,$80,$40,$20,$10, $E,  4
byte_3C20B:	.BYTE	8,  8, $F,$14,$24,$47,	4,  4,	0,  8,$FC,  0,$20,$F0,	0,$20
					; DATA XREF: BANK_03:8415o
		.BYTE	7,  4,	4,$52,$51,$90, $F,  0,$F0,  0,	0,  4,$92,$92,$F0,  0
byte_3C22B:	.BYTE	1,  1,	2,  2,	4,  8,$10,$21,	0,  0,	0,  0,$40,$40,$80,  0
					; DATA XREF: BANK_03:8417o
		.BYTE $41,  2,	4,  8,$10,$3F,	0,  0,	0,  0,$20,$10,	8,$FC,	4,  0
byte_3C24B:	.BYTE $10,$10,$10,$14,$5F,$50,$50,$90,$80,$80,$88,$FC,$80,$50,$22,$D2
					; DATA XREF: BANK_03:8419o
		.BYTE $17,$10,$17,$29,$25,$45,$82, $C, $E,  8,$FC,$20,$20,$22,$22,$1E
byte_3C26B:	.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:841Bo
		.BYTE	0,  0,$30,$1E, $F,  7,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3C28B:	.BYTE $20,$20,$23,$3C,$24,$4B,$40,$A0,$10,$D0,$94,$92,$90,$FE,$90,$90
					; DATA XREF: BANK_03:841Do
		.BYTE $20,$21,$22,$20,$28,$30,$22,  1,$D4,$98,$90,$A8,$C8,$8A,$86,  2
byte_3C2AB:	.BYTE	0,$1F,$10,$11,$11,$11,$11,$11,$10,$F8,$10,$10,$10,$10,$10,$10
					; DATA XREF: BANK_03:841Fo
		.BYTE $11,$12,$12,  4,	4,  8,$30,$C0,$10,$10,$90,$80,$82,$82,$7E,  0
byte_3C2CB:	.BYTE	0,$40,$30,$10,	7,  0,$F0,$11,	8,  8,	8,  8,$FE,  8,	8,  8
					; DATA XREF: BANK_03:8421o
		.BYTE $10,$10,$10,$10,$14,$18,$10,  0,$88,$88,	8,  8,	8,  8,$28,$10
byte_3C2EB:	.BYTE	0,$3F,$20,$20,$20,$20,$3F,$20,	8,$FC,$80,$A0,$90,$94,$FE,$80
					; DATA XREF: BANK_03:8423o
		.BYTE $20,$21,$21,$22,$42,$44,$88,$10,$80,$40,$40,$20,$20,$10, $E,  4
byte_3C30B:	.BYTE	8,  8, $A,$7F,	8, $A,$FF,  8,	8,  8,	8,  8,	8,$FE,	8,  8
					; DATA XREF: BANK_03:8425o
		.BYTE  $A,$7F,	8,  8, $F,$78,$20,  0,$48,$28,$28,  8,	8,  8,$28,$10
byte_3C32B:	.BYTE $10,  8,	2,$7F,	0,$22,$14,$FF,	0,$7C,$44,$44,$48,$48,$50,$C8
					; DATA XREF: BANK_03:8427o
		.BYTE	2,$3F,$22,$22,$22,$3E,$22,  0,$44,$42,$42,$62,$54,$48,$40,$40
byte_3C34B:	.BYTE	3,$3C,	4,$FF,	4,$15,$75,$15,$84,  4,$84,$D4,$14,$14,$D4,$14
					; DATA XREF: BANK_03:8429o
		.BYTE $75, $C,$16,$25,$44,  4,	4,  4,$D4,$14,$14,$94,$84,  4,$14,  8
byte_3C36B:	.BYTE $12,$11,$10,$17,$FC,$10,$3B,$34,	8,$10,$A0,$FC,$40,$50,$F8,$40
					; DATA XREF: BANK_03:842Bo
		.BYTE $50,$50,$9F,$10,$10,$10,$10,$10,$40,$44,$FE,$40,$40,$40,$40,$40
byte_3C38B:	.BYTE	0,$7F,$40,$88,	8, $F,	8,  8,	0,$FE,	2,  4,$20,$F0,	0,  8
					; DATA XREF: BANK_03:842Do
		.BYTE  $F,  0,	0,$7F,	0,  0,	0,  0,$FC,  8,$48,$E8,	8,  8,$50,$20
byte_3C3AB:	.BYTE	0,$7F,	0,  0,$20,$20,$3F,$20,$10,$F8,$10,$10,$10,$10,$F0,$10
					; DATA XREF: BANK_03:842Fo
		.BYTE $20,$20,$20,$20,$20,$20,$1F,  0,	0,  0,	0,  4,	4,  4,$FC,  0
byte_3C3CB:	.BYTE $10,$13,$20,$20,$44,$FC,	8,$13,	0,$FC,	8,$10,$30,$48,$86,  2
					; DATA XREF: BANK_03:8431o
		.BYTE $20,$41,$FC,  0,$1C,$E0,$47,  0,	0,$FC,$20,$20,$20,$24,$FE,  0
byte_3C3EB:	.BYTE	0,  0,$7F,$40,$7F,$40,$5F,$51,$50,$48,$FC,$40,$C0,$48,$48,$50
					; DATA XREF: BANK_03:8433o
		.BYTE $51,$5F,$90,  2,$29,$28,$48,  7,$22,$52,$8E,  0,$90,$AC,$24,$E0
byte_3C40B:	.BYTE $20,$10,$43,$20,	8,$51,$22,$25,$80,$90,$F8,$90,$90,$12,$12, $E
					; DATA XREF: BANK_03:8435o
		.BYTE	1,$FF,	3,  5,	9,$11,$61,  1,	0,$FE,$80,$40,$20,$1C,	8,  0
byte_3C42B:	.BYTE	0,  0,$1F,$10,$10,$10,$10,$10,	0,$10,$F8,$10,$10,$10,$10,$10
					; DATA XREF: BANK_03:8437o
		.BYTE $1F,$10,	0,  4, $C,$10,$20,$40,$F0,$10,	0,$40,$20,$18, $C,  4
byte_3C44B:	.BYTE	0,  0,$1F,$10,$90,$57,$50,$10,$80,$44,$FE,  0,	8,$FC,$40,$44
					; DATA XREF: BANK_03:8439o
		.BYTE $37,$54,$94,$14,$25,$24,$44,  4,$FE,$44,$44,$A4,$14,  4,$14,  8
byte_3C46B:	.BYTE	9,  9,	9,$11,$12,$32,$54,$98,	0,  0,	4,$FE,$80,$80,$90,$F8
					; DATA XREF: BANK_03:843Bo
		.BYTE $10,$10,$10,$10,$10,$10,$10,$10,$80,$80,$88,$FC,$80,$80,$80,$80
byte_3C48B:	.BYTE $20,$1B,	8,$40,$4F,$48,$48,$48,	4,$FE,	4,$24,$F4,$24,$24,$24
					; DATA XREF: BANK_03:843Do
		.BYTE $4F,$48,$48,$48,$4F,$48,$40,$40,$E4,$24,$24,$24,$E4,$24,$14,  8
byte_3C4AB:	.BYTE	0,  0,$7D,  4,	8,$11,$21,$7D,	8,$1C,$E0,$20,$20,$28,$3C,$20
					; DATA XREF: BANK_03:843Fo
		.BYTE	5,  5,$49,$29,$10,$28,$47,$80,$20,$20,$28,$FC,	0,  6,$FC,  0
byte_3C4CB:	.BYTE $10,$13,$22,$21,$44,$FB,$10,$27, $C,$F0,$48,$50,$20,$FC,$40,$FE
					; DATA XREF: BANK_03:8441o
		.BYTE $40,$FC,	1,  1,$1A,$E4,$49,  2,$80,$FC,$88,$50,$20,$50,$8E,  4
byte_3C4EB:	.BYTE	0,  0,	0,$FC,	7,  4,$48,$29,$10,$10,$10,$14,$FE,$10,$10,$10
					; DATA XREF: BANK_03:8443o
		.BYTE $10,$10,$28,$24,$44,$80,	0,  0,$90,$90,$10,$10,$10,$10,$50,$20
byte_3C50B:	.BYTE $10,$10,$10,$7D,$11,$11,$FF,$11,$20,$28,$28,$FC,$20,$20,$28,$28
					; DATA XREF: BANK_03:8445o
		.BYTE $51,$5D,$51,$50,$70,$49,$44,$83,$70,$A0,$24,$54,$8C,  0,	6,$FC
byte_3C52B:	.BYTE $11,$11,$1F,$11,$FD,$13,$32,$3B,$10,$14,$FE,$10,$18,$FC,	8,$F8
					; DATA XREF: BANK_03:8447o
		.BYTE $56,$53,$90,$1F,$10,$10,$11,$16,	8,$F8,$40,$FE,$40,$B0, $E,  4
byte_3C54B:	.BYTE $11,$11,$55,$39,$17,$11,$FD,$33,	4,$3E,$24,$24,$E4,$3C,$24,$A4
					; DATA XREF: BANK_03:8449o
		.BYTE $3A,$56,$52,$93,$12,$10,$10,$11,$A4,$BC,$A4,$A4,$24,$44,$94,  8
byte_3C56B:	.BYTE	0,$42,$32,$13,	2,  4,$F7,$10,$40,$40,$48,$FC,$40,$44,$FE,$A0
					; DATA XREF: BANK_03:844Bo
		.BYTE $10,$10,$11,$11,$12,$2C,$44,  3,$A0,$A0,$22,$22,$1E,  0,	6,$FC
byte_3C58B:	.BYTE $10,$13,$11,$10,$FC,$10,$15,$1A,	0,$F8,$10,$A0,$40,$A0,$10,$4E
					; DATA XREF: BANK_03:844Do
		.BYTE $35,$D0,$10,$17,$10,$10,$50,$20,$F4,$40,$48,$FC,$40,$40,$40,$40
byte_3C5AB:	.BYTE	8,  8,$10,$23,$44,$78,	9,$10,$20,$20,$24,$FE,$20,$20,$FC,  0
					; DATA XREF: BANK_03:844Fo
		.BYTE $20,$7D,	1,  1, $D,$71,$21,  1,	4,$FE,	4,  4,	4,  4,$FC,  4
byte_3C5CB:	.BYTE	1,  1,$FF,  1,	1,$3F,$21,$21,	0,  4,$FE,  0,	8,$FC,	8,  8
					; DATA XREF: BANK_03:8451o
		.BYTE $21,$3F,$23,  5,	9,$31,$C1,  1,	8,$F8,$88,$40,$30, $E,	4,  0
byte_3C5EB:	.BYTE $10,  8,	4,  0,$1F,$10,$10,$10,$10,$20,$40,$10,$F8,$10,$10,$10
					; DATA XREF: BANK_03:8453o
		.BYTE $1F,$10,	2,$51,$50,$90, $F,  0,$F0,$10,	0,$84,$92,$12,$F0,  0
byte_3C60B:	.BYTE	0,$20,$20,$20,$20,$24,$3E,$20,$80,$80,$80,$80,$88,$98,$A0,$C0
					; DATA XREF: BANK_03:8455o
		.BYTE $20,$20,$20,$20,$26,$38,$60,  0,$80,$80,$80,$82,$82,$82,$7E,  0
byte_3C62B:	.BYTE	2,  1,$7F,  4,$14,$14,$24,$44,	0,  8,$FC,$40,$50,$48,$4C,$44
					; DATA XREF: BANK_03:8457o
		.BYTE $1F,  8,	4,  2,	1,  2, $C,$30,$F0,$20,$40,$80,	0,$C0,$3C,  8
byte_3C64B:	.BYTE $10,$1F,$10,$27,$24,$67,$A4,$2F,	4,$FE,	0,$FC,$44,$FC,$44,$FE
					; DATA XREF: BANK_03:8459o
		.BYTE $20,$27,$24,$27,$24,$27,$20,$2F,	0,$FC,$44,$FC,$44,$FC,	0,$FE
byte_3C66B:	.BYTE	0,$3F,$20,$20,$20,$20,$3F,$20,	8,$FC,	8,  8,	8,  8,$F8,  8
					; DATA XREF: BANK_03:845Bo
		.BYTE $20,$20,$20,$20,$20,$40,$40,$80,	0,  0,	0,  0,	0,  0,	0,  0
byte_3C68B:	.BYTE	2,  1,$FF,  4,$12,$11,$12,$14,	0,  4,$FE,$40,$90,$10,$90,$50
					; DATA XREF: BANK_03:845Do
		.BYTE $1F,  1,$7F,$42,$44,$4F,$40,$40,$F0,  4,$FE,  4,$44,$E4,$14,  8
byte_3C6AB:	.BYTE $10, $A,$FF,$20,$20,$26,$38,$20,	4,$7E,$44,$7C,$44,$7C,$44,$8C
					; DATA XREF: BANK_03:845Fo
		.BYTE	0,$3F,	1,$1F,	1,  1,$FF,  0,	0,$F8,	0,$F0,	0,  4,$FE,  0
byte_3C6CB:	.BYTE	0,$40,$2F,$20,	3,  2,$E2,$22,$80,$44,$FE,  8,$FC,  8,	8,  8
					; DATA XREF: BANK_03:8461o
		.BYTE $23,$20,$24,$29,$32,$24,	9,  0,$F8,$40,$40,$50,$4C,$46,$42,$80
byte_3C6EB:	.BYTE $10,$10,$14,$FE,$20,$29,$48,$7E,$40,$40,$40,$7C,$84,  8,$20,$20
					; DATA XREF: BANK_03:8463o
		.BYTE	8,  8, $E,$F8,$48,  8,	9, $A,$20,$20,$50,$50,$88,$88,	6,  4
byte_3C70B:	.BYTE	0,$7E,	2,  2,$7E,$40,$40,$7E,	4,$FE,	4,  4,$FC,$80,$84,$FE
					; DATA XREF: BANK_03:8465o
		.BYTE $22,$12,	6,$1A,$62,$22,	2,  4,$44,$24, $C,$34,$C4,$44,$14,  8
byte_3C72B:	.BYTE	0,$3F,$11,  9,$7F,$42,$82,$7F,$78,$80,$10,$20,$FE,  2,	4,$F8
					; DATA XREF: BANK_03:8467o
		.BYTE	4,  7, $A,  9,$10,$11,$22, $C,	0,$F0,$20,$40,$80,$60,$1C,  8
byte_3C74B:	.BYTE	0,$3F,	0,  8,	8,  8,	8,  8,$20,$F0,$20,$20,$20,$20,$20,$24
					; DATA XREF: BANK_03:8469o
		.BYTE  $F,  0,	0,$FF,	0,  0,	0,  0,$FE,  4,$24,$F4,	4,  4,$28,$10
byte_3C76B:	.BYTE	0,  0,$7F,  1,	1,  1,	1,  1,	0,  8,$FC,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:off_3846Bo
		.BYTE	1,  1,	1,  1,	1,  1,	5,  2,	0,  0,	0,  0,	0,  0,	0,  0
byte_3C78B:	.BYTE	4, $E,$F8,  8,	8,$FE,	8,$1C,$10,$10,$90,$50,$10,$90,$50,$14
					; DATA XREF: BANK_03:846Do
		.BYTE $1A,$29,$28,$48,$88,  8,	8,  8,$1E,$F0,$10,$10,$10,$10,$10,$10
byte_3C7AB:	.BYTE	0,$40,$30,$17,	4,$84,$44, $F,$40,$40,$40,$FC,$44,$48,$40,$F8
					; DATA XREF: BANK_03:846Fo
		.BYTE $14,$25,$E4,$24,$28,$29,$32,$24,	8,$10,$A0,$40,$A0,$10, $E,  4
byte_3C7CB:	.BYTE	0,$3F,$21,$21,$2F,$21,$22,$24,	8,$FC,	8,$48,$E8,  8,$88,$68
					; DATA XREF: BANK_03:8471o
		.BYTE $28,$3F,$20,  2,$51,$50,$90, $F,$28,$F8,	8,  0,$84,$92,$12,$F0
byte_3C7EB:	.BYTE $10,$10,$17,$10,$58,$57,$52,$92,$80,$44,$FE,  0,	8,$FC,	8,  8
					; DATA XREF: BANK_03:8473o
		.BYTE $12,$13,$10,$11,$12,$14,$11,$10,	8,$F8,$40,$50,$4C,$44,$40,$80
byte_3C80B:	.BYTE	0,$40,$37,$10,	7,  4,$F4,$17,$40,$44,$FE,$40,$FC,$44,$44,$FC
					; DATA XREF: BANK_03:8475o
		.BYTE $14,$10,$11,$12,$14,$28,$47,  0,$44,$E0,$58,$48,$40,$46,$FC,  0
byte_3C82B:	.BYTE	1,  0,$3F,$22,$22,$3F,$22,$23,	0,$84,$FE,$20,$28,$FC,$20,$E0
					; DATA XREF: BANK_03:8477o
		.BYTE $20,$2F,$22,$21,$20,$43,$8C,$30,	0,$F0,$20,$40,$80,$60,$1E,  4
byte_3C84B:	.BYTE	8,  8,	8,  8,	8,  9,	8,$FF,	0,$10,$30,$40,$80,  0,	4,$FE
					; DATA XREF: BANK_03:8479o
		.BYTE	9,  9,	8,  8,	8,  9, $E,  8,	0,  0,$80,$40,$20,$1C,	8,  0
byte_3C86B:	.BYTE	0,$1F,$10,$10,$1F,$10,$10,$1F,$10,$F8,$10,$10,$F0,$10,$10,$F0
					; DATA XREF: BANK_03:847Bo
		.BYTE $14,$44,$34,$14,	4,  4,$FF,  0,$50,$44,$4C,$50,$40,$44,$FE,  0
byte_3C88B:	.BYTE	8,  8,$FF,  8, $F,  8, $F,  8,$20,$28,$FC,$20,$E0,$20,$E0,$20
					; DATA XREF: BANK_03:847Do
		.BYTE	8,$FF,$10,$12,$14,$10,$1F,  0,$24,$FE,	0,$20,$10,  0,$F8,  0
byte_3C8AB:	.BYTE	0,$7F,	2,  4,	8,$10,$3F,  1,	8,$FC,	0,  0,$20,$10,$F8,  8
					; DATA XREF: BANK_03:847Fo
		.BYTE	1,  1,$3F,  1,	1,  1,$FF,  0,	0,$10,$F8,  0,	0,  4,$FE,  0
byte_3C8CB:	.BYTE	0,  0,	0,  0,$FF,  0,	0,$3E,$80,$A0,$90,$84,$FE,$80,$80,$80
					; DATA XREF: BANK_03:8481o
		.BYTE	8,  8,	8,  9, $E,$70,$20,  0,$80,$40,$40,$20,$22,$12, $A,  4
byte_3C8EB:	.BYTE	8,  4,	2,$7F,	1,$3F,	1,$FF,$20,$40,$88,$FC,	0,$F8,	0,$FE
					; DATA XREF: BANK_03:8483o
		.BYTE	4,  8,$34,$C4,	4,  4,	8,$10,$40,$30,$4E,$44,$40,$40,$40,$40
byte_3C90B:	.BYTE	0,  0,	0,  0,	0,  0,	6, $F,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:8485o
		.BYTE  $F,  6,	0,  6, $F, $F,	6,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3C92B:	.BYTE $10,$14,$3E,$49,$BF,  1,	1,$3F,$80,$88,$FC,$20,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:8487o
		.BYTE $21,$21,$3F,  3,	5,$19,$61,  1,	0,  4,$FE,  4,	4,$24,$18,  0
byte_3C94B:	.BYTE	3,$40,$30,$10,	3,  2,$F2,$13,$F8,$10,$A0,$48,$FC,$48,$48,$F8
					; DATA XREF: BANK_03:8489o
		.BYTE $12,$12,$13,$12,$12,$2A,$44,  3,$48,$48,$F8,$48,$68,$50,	6,$FC
byte_3C96B:	.BYTE	0,$47,$34,$18,$81,$62,$20,  8,	0,$FE,	2,$A4,$10,$48,$40,$44
					; DATA XREF: BANK_03:848Bo
		.BYTE $17,$20,$E1,$22,$2C,$20,$20,$20,$FE,$E0,$50,$4E,$44,$40,$40,$40
byte_3C98B:	.BYTE	4,  2,	1,  1,	1,  2,	2,  2,	0,  0,	0,  0,	0,$80,$80,$80
					; DATA XREF: BANK_03:848Do
		.BYTE	4,  4,	8,  8,$10,$20,$40,$80,$40,$40,$20,$20,$10,$10, $E,  4
byte_3C9AB:	.BYTE $10,$11,$11,$11,$FD,$11,$39,$35,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:848Fo
		.BYTE $55,$51,$91,$11,$11,$11,$11,$11,$44,$48,$30,$20,$10,$4E,$84,  0
byte_3C9CB:	.BYTE	1,  0,$1F,$10,$97,$54,$56,$15,	0,$84,$FE,  8,$FC,  8,$18,$18
					; DATA XREF: BANK_03:8491o
		.BYTE $34,$54,$D4,$14,$25,$2A,$48,$10,$A8,$48,$48,$A8,$18,$1A, $A,  6
byte_3C9EB:	.BYTE	0,  8,$FC,$13,$12,$22,$22,$7B,$20,$20,$20,$FE,$22,$24,$20,$FC
					; DATA XREF: BANK_03:8493o
		.BYTE $AA,$2A,$2A,$2A,$3C,$24,	8,$13,$84,$88,$48,$50,$20,$50,$8E,  4
byte_3CA0B:	.BYTE $10,$10,$17,$10,$FF,$12,$33,$3A,$90,$94,$FE,$90,$FC,$94,$FC,$94
					; DATA XREF: BANK_03:8495o
		.BYTE $57,$54,$91,$11,$11,$11,$11,$11,$FC,  8,$FC,  8,$F8,  8,$F8,  8
byte_3CA2B:	.BYTE	0,$10,$10,$10,$1E,$22,$22,$22,$40,$40,$40,$40,$40,$60,$50,$4C
					; DATA XREF: BANK_03:8497o
		.BYTE $54,$94,	8,$14,$14,$22,$41,$80,$44,$40,$40,$40,$40,  6,$FC,  0
byte_3CA4B:	.BYTE $10,$13,$12,$12,$FF,$12,$16,$1B,	4,$FE,	4,  4,$FC,$20,$24,$FE
					; DATA XREF: BANK_03:8499o
		.BYTE $32,$D2,$13,$15,$15,$15,$59,$21,$20,$24,$FE,  4,	4,  4,$FC,  4
byte_3CA6B:	.BYTE $10,$10,$10,$11,$FD,$13,$15,$19,$A0,$90,$84,$FE,$10,$10,$FC,$10
					; DATA XREF: BANK_03:849Bo
		.BYTE $31,$D1,$11,$11,$11,$11,$51,$21,$10,$FC,$10,$10,$14,$FF,	0,  0
byte_3CA8B:	.BYTE	0,$40,$27,$24,$85,$65,$25, $D,	0,$44,$E4,$54,$54,$54,$54,$54
					; DATA XREF: BANK_03:849Do
		.BYTE $15,$25,$E5,$21,$22,$24,$28,$20,$54,$54,$54,  4,$84,$44,$54,  8
byte_3CAAB:	.BYTE	8,  8,$7F,  8, $F,  8,	8, $F,$20,$28,$FC,$20,$E0,$20,$20,$E0
					; DATA XREF: BANK_03:849Fo
		.BYTE	1,$FF,	1,  3,	5,$19,$61,  1,	4,$FE,	0,$80,$60,$1C,	8,  0
byte_3CACB:	.BYTE	0,  0,$3F,$20,$20,$3F,$24,$24,$10,$78,$80,  0,	0,$F8,	8,$10
					; DATA XREF: BANK_03:84A1o
		.BYTE $22,$22,$21,$20,$41,$42,$84,$18,$10,$20,$40,$80,$40,$30, $E,  4
byte_3CAEB:	.BYTE	1,  0,$3F,$20,$21,$28,$24,$24,	0,$84,$FE,  0,	4,$84,$84,$48
					; DATA XREF: BANK_03:84A3o
		.BYTE $22,$22,$22,$22,$40,$40,$9F,  0,$48,$48,$10,$10,$20,$44,$FE,  0
byte_3CB0B:	.BYTE $10,$10,$10,$12,$FF,$12,$12,$12,	0,  0,	4,$7E,$44,$44,$44,$44
					; DATA XREF: BANK_03:84A5o
		.BYTE $12,$22,$22,$22,$22,$4A,$84,  0,$44,$44,$44,$44,$44,$7C,$44,  0
byte_3CB2B:	.BYTE	8,  8,	8,$10,$1F,$21,$21,$62,$40,$40,$40,$40,$40,$60,$50,$48
					; DATA XREF: BANK_03:84A7o
		.BYTE $92, $A,	4,  8,$10,$20,$40,  0,$46,$42,$40,$40,$40,$40,$40,$40
byte_3CB4B:	.BYTE $10,$10,$11,$11,$FD,$11,$31,$39,	8,$1C,$E0,  0,	0,$FC,	4,$48
					; DATA XREF: BANK_03:84A9o
		.BYTE $55,$51,$91,$12,$12,$14,$19,$10,$48,$50,$30,$20,$50,$8E,	4,  0
byte_3CB6B:	.BYTE	1,  1,$FF,  1,$7F,  0,$3F,$21,	0,  4,$FE,  0,$FC,  8,$FC,  8
					; DATA XREF: BANK_03:84ABo
		.BYTE $21,$3F,$20,$20,$20,$40,$40,$80,	8,$F8,	8,  0,	0,  0,	0,  0
byte_3CB8B:	.BYTE	4,  4,$FF,  4,$7A,$49,$4B,$78,$20,$24,$FE,$20,$48,$50,$FC,$80
					; DATA XREF: BANK_03:84ADo
		.BYTE $4F,$49,$7A,$4D,$48,$49,$8A,$18,$FE,$10,$4E,$54,$E0,$58,$48,$C0
byte_3CBAB:	.BYTE	0,  0,	8,$FD,$11,$12,$14,$11,$80,$80,$80,  8,$FC,$10,$10,$10
					; DATA XREF: BANK_03:84AFo
		.BYTE $11,$11,$10,$1C,$F0,$41,	2, $C,$20,$20,$C0,$40,$A0,$10, $E,  4
byte_3CBCB:	.BYTE	1,  1,	1,$7F,	1,  1,	1,  1,	0,  0,	8,$FC,	0,  0,	0,  4
					; DATA XREF: BANK_03:84B1o
		.BYTE $FF,  1,	1,$21,$21,$21,$3F,$20,$FE,  0,	0,  8,	8,  8,$F8,  8
byte_3CBEB:	.BYTE	0,$44,$2C,$13,$28,$48,$8F,  8,$90,$90,$90,$FC,$90,$94,$FE,  8
					; DATA XREF: BANK_03:84B3o
		.BYTE $19,$29,$49,$89,	9,  9,$51,$21,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_3CC0B:	.BYTE	4,$25,$25,$24,$24,$24,	7,  4,	0,$F8,$10,$A0,$40,$B0, $E,$24
					; DATA XREF: BANK_03:84B5o
		.BYTE $1F,  1,	2,$7F,	1,  9,$11,$63,$C0,  0,$10,$F8,	8,$20,$18,  8
byte_3CC2B:	.BYTE $10,$17,$14,$14,$FC,$17,$14,$1C,	4,$FE,$44,$44,$44,$FC,$44,$C4
					; DATA XREF: BANK_03:84B7o
		.BYTE $34,$D5,$16,$14,$14,$14,$57,$24,$E4,$5C,$4C,$44,$44,  4,$FC,  4
byte_3CC4B:	.BYTE	0,$40,$37,$10,$81,$61,$22, $A,$80,$44,$FE,$20,$20,$3C,$44,$64
					; DATA XREF: BANK_03:84B9o
		.BYTE $16,$2B,$E2,$22,$22,$22,$23,$22,$98,$48,$50,$20,$50,$8E,	4,  0
byte_3CC6B:	.BYTE	0,  7,$7A,$4A,$4A,$4A,$4B,$4A,	8,$FC,	8,  8,$10,$20,$3C,$84
					; DATA XREF: BANK_03:84BBo
		.BYTE $4A,$4A,$4A,$7A,$4C,  8,$11,  2,$88,$48,$50,$20,$50,$88, $E,  4
byte_3CC8B:	.BYTE	8,  8,	8,$48,$48,$49,$49,$4A,$80,$80,$80,$84,$FE,  8,$88,$88
					; DATA XREF: BANK_03:84BDo
		.BYTE $48,$58,$68,$48,	8,  8,	9, $E,$88,$50,$50,$20,$50,$88, $E,  4
byte_3CCAB:	.BYTE $20,$22,$3F,$48,	8,$FF,$10,$14,	0,  4,$7E,$44,$44,$C4,$44,$7C
					; DATA XREF: BANK_03:84BFo
		.BYTE $22,$42,$9F,$10,$1F,$10,$1F,$10,$44,$10,$F8,$10,$F0,$10,$F0,$10
byte_3CCCB:	.BYTE $21,$2F,$21,$27,$B0,$AF,$A0,$27,$14,$FE,$10,$FC,$40,$FE,$44,$FE
					; DATA XREF: BANK_03:84C1o
		.BYTE $24,$27,$24,$27,$20,$27,$20,$2F,$44,$FC,$44,$FC,$40,$FC,$40,$FE
byte_3CCEB:	.BYTE $10,  8,	4,  4,$7F,  1,	1,  1,$10,$18,$20,$48,$FC,  0,	0,  4
					; DATA XREF: BANK_03:84C3o
		.BYTE $FF,  1,	2,  2,	4,  8,$30,$C0,$FE,  0,$80,$80,$40,$30, $E,  4
byte_3CD0B:	.BYTE	1,  1,	1,$11,$11,$11,$11,$11,	0,  0,	0,  0,	0,$10,$F8,  0
					; DATA XREF: BANK_03:84C5o
		.BYTE $11,$11,$11,$11,$11,$11,$FF,  0,	0,  0,	0,  0,	0,  4,$FE,  0
byte_3CD2B:	.BYTE $10,$10,$57,$50,$7C,$50,$97,$1A,	0,  4,$FE,$90,$90,$94,$FE,$94
					; DATA XREF: BANK_03:84C7o
		.BYTE $32,$D2,$12,$12,$13,$12,$13,$12,$94,$94,$94,$8C,	4,  4,$FC,  4
byte_3CD4B:	.BYTE	8,$28,$29,$29,$3F,$4A,$8C, $A,$20,$20,$20,$28,$FC,$20,$20,$28
					; DATA XREF: BANK_03:84C9o
		.BYTE  $D,$38,$C8,  8,	8, $B,	8,  8,$FC,$20,$20,$20,$24,$FE,	0,  0
byte_3CD6B:	.BYTE $10,$11,$14,$FE,$20,$28,$4B,$7C,	0,$FC,	8,$10,$38,$CC,	2,  0
					; DATA XREF: BANK_03:84CBo
		.BYTE	8,  9, $E,$F8,$48,  8, $B,  8,	8,$FC,$20,$20,$20,$24,$FE,  0
byte_3CD8B:	.BYTE	2,  2,	2,  2,	2,$FF,	4,  4,	0,  0,	0,  0,	4,$FE,$20,$20
					; DATA XREF: BANK_03:84CDo
		.BYTE	8,$10, $C,  2,	1,  6,$18,$60,$20,$20,$40,$80,$80,$60,$18,  8
byte_3CDAB:	.BYTE $10,$10,$12,$12,$5B,$54,$54,$98,$40,$40,$40,$48,$FC,$40,$40,$40
					; DATA XREF: BANK_03:84CFo
		.BYTE $10,$13,$10,$10,$10,$10,$1F,$10,$50,$F8,$40,$40,$40,$44,$FE,  0
byte_3CDCB:	.BYTE	0,$4F,$30,$17,	4,  7,$F4,$17,$A4,$FE,$A0,$FC,$A4,$FC,$A4,$FC
					; DATA XREF: BANK_03:84D1o
		.BYTE $10,$13,$12,$13,$12,$13,$28,$47,	8,$FC,	8,$F8,	8,$F8,	6,$FC
byte_3CDEB:	.BYTE	0,  8,$7C,  0,	5,$FE,$10,$10,$40,$40,$40,$44,$FE,$44,$44,$44
					; DATA XREF: BANK_03:84D3o
		.BYTE $20,$24,$42,$FE,$41,  1,	2,  4,$44,$44,$84,$84,	4,  4,$28,$10
byte_3CE0B:	.BYTE	0,  4,$7E,$10,$10,$1F,$22,$22,$40,$50,$48,$40,$7C,$C0,$48,$7C
					; DATA XREF: BANK_03:84D5o
		.BYTE $65,$94,	8,  8,$10,$20,$43,$80,$C0,$48,$50,$20,$60,$92, $A,  6
byte_3CE2B:	.BYTE	4,$7E,$44,$45,$46,$44,$7C,$50,$40,$40,$FC,$88,$50,$20,$50,$8E
					; DATA XREF: BANK_03:84D7o
		.BYTE $13,$5D,$51,$51,$51,$5D,$E1,  1,	4,$FE,	4,  4,	4,  4,$FC,  4
byte_3CE4B:	.BYTE	8,  8,	8,$11,$11,$31,$51,$91,$40,$40,$84,$FE,	4,  4,	4,  4
					; DATA XREF: BANK_03:84D9o
		.BYTE $11,$11,$11,$11,$11,$11,$11,$10,$FC,  4,	4,  4,	4,$FC,	4,  0
byte_3CE6B:	.BYTE $40,$3F,$10,  0,$80,$67,$24, $C,	4,$FE,	8,  8,$48,$E8,$48,$48
					; DATA XREF: BANK_03:84DBo
		.BYTE $14,$24,$E7,$24,$20,$20,$20,$20,$48,$48,$C8,$48,	8,  8,$28,$10
byte_3CE8B:	.BYTE	0,$7C,$44,$49,$49,$53,$4D,$49,$88,$88,$88,  8,	8,$FE,	8,  8
					; DATA XREF: BANK_03:84DDo
		.BYTE $45,$45,$45,$69,$51,$41,$41,$41,$48,$28,$28,  8,	8,  8,$28,$10
byte_3CEAB:	.BYTE	0, $F,	8,  8, $F,  8, $F,  8,$20,$F0,$20,$20,$E0,$20,$E0,$20
					; DATA XREF: BANK_03:84DFo
		.BYTE  $F,  8,	8,$FF,	4, $C,$10,$20,$E0,$20,$24,$FE,$40,$20,$18,  8
byte_3CECB:	.BYTE	4,  4,	4,$FF,	4,  8,	8, $C,	0,  0,	4,$FE,$80,$80,$88,$98
					; DATA XREF: BANK_03:84E1o
		.BYTE $12,$10,$21,$41,$82,  2,	4,$18,$A0,$80,$40,$40,$20,$10, $E,  4
byte_3CEEB:	.BYTE $10,$10,$22,$7F,	0,$3E,$22,$3E,$80,$98,$E0,$84,$84,$7C,$80,$98
					; DATA XREF: BANK_03:84E3o
		.BYTE $22,$3E,$22,$26,	0,$48,$44,$80,$E0,$84,$84,$7C,	0,$88,$46,  2
byte_3CF0B:	.BYTE	0,  8,$7C,$4F,$48,$49,$4A,$4D,$80,$40,$44,$FE,	0,$10,	8,$14
					; DATA XREF: BANK_03:84E5o
		.BYTE $49,$48,$48,$48,$78,$49,	2, $C,$10,$A0,$A0,$40,$A0,$10, $E,  4
byte_3CF2B:	.BYTE	0,$1F,$10,$1F,$10,$FF,	0,$1F,$10,$F8,$10,$F0,$14,$FE,	0,$F0
					; DATA XREF: BANK_03:84E7o
		.BYTE $11,$1F,$11,$1F,	1,$1F,	1,$7F,$10,$F0,$10,$F0,	0,$F0,	0,$FC
byte_3CF4B:	.BYTE	0,$47,$24,$27,	4,  7,$E0,$2F,	8,$FC,$88,$F8,$88,$F8,$84,$FE
					; DATA XREF: BANK_03:84E9o
		.BYTE $28,$28,$2B,$28,$28,$50,$88,  7,$84,$A4,$F4,  4,$14,  8,	6,$FC
byte_3CF6B:	.BYTE	2,  1,$7F,$41,$9F,  1,$1F,  1,	0,  0,$FE,  2,$F4,  0,$F0,  0
					; DATA XREF: BANK_03:84EBo
		.BYTE $7F,  0,$1F,$10,$10,$10,$1F,$10,$FC,$10,$F8,$10,$10,$10,$F0,$10
byte_3CF8B:	.BYTE	2,  2,$3F,  2,	2,$FF,	2,  4,	0,$10,$E0,$40,$84,$FE,	0,$10
					; DATA XREF: BANK_03:84EDo
		.BYTE  $F,$18,$28,$4F,$88,  8, $F,  8,$F8,$10,$10,$F0,$10,$10,$F0,$10
byte_3CFAB:	.BYTE	0,$3E,	2,$12, $C,  8,$1F,$20,$80,$90,$A0,$48,$50,$20,$F0,$2E
					; DATA XREF: BANK_03:84EFo
		.BYTE $CF,  8,	8, $F,	4,  2,$7F,  0,$F4,$20,$20,$E0,$40,$88,$FC,  0
byte_3CFCB:	.BYTE	1,  1,	1,  1,$41,$41,$41,$41,	0,  0,	0,  0,	4,  4,	4,  4
					; DATA XREF: BANK_03:84F1o
		.BYTE $41,$41,$41,$41,$41,$7F,$40,  0,	4,  4,	4,  4,	4,$FC,	4,  0
byte_3CFEB:	.BYTE $28,$28,$FE,$29,$38,$10,$7F,$54,$20,$20,$28,$FC,$20,$24,$FE,$20
					; DATA XREF: BANK_03:84F3o
		.BYTE $54,$7C,$11,$FE,$10,$10,$13,$10,$20,$28,$FC,$20,$20,$24,$FE,  0
byte_3D00B:	.BYTE	2,  2,$7F,  4,	4, $B,$10,$22,$40,$28,$FC,$80,$F0,$84,$7C,  0
					; DATA XREF: BANK_03:84F5o
		.BYTE	1,$FF,	5,  9,$38,$CA, $C,  8,	4,$FE,	8,$10,$A0,$60,$1C,  8
byte_3D02B:	.BYTE	0,$41,$31,$11,$81,$61,$22, $C,$10,$F8,$10,$10,$10,$10,$10, $E
					; DATA XREF: BANK_03:84F7o
		.BYTE $10,$23,$E2,$22,$22,$22,$23,$22,	8,$FC,	8,  8,	8,  8,$F8,  8
byte_3D04B:	.BYTE	1,$21,$21,$3F,	0,$3F,$20,$2F,	0,  8,	8,$F8,	0,$FC,$10,$F8
					; DATA XREF: BANK_03:84F9o
		.BYTE $20,$20,$3F,$20,$20,$40,$80,  0,$80,$88,$FC,$80,$80,$80,$80,$80
byte_3D06B:	.BYTE $40,$3F,$10,  7,$84,$64,$27,  8,	4,$FE,$A0,$FC,$A4,$A4,$FC,  0
					; DATA XREF: BANK_03:84FBo
		.BYTE $13,$20,$EF,$20,$22,$24,$29,$20,$F8,  0,$FE,$40,$50,$4C,$44,$80
byte_3D08B:	.BYTE	0,$40,$37,$10,$80,$61,$27,  8,$80,$48,$FC,$40,$90,  8,$FC,  4
					; DATA XREF: BANK_03:84FDo
		.BYTE $11,$21,$E1,$21,$21,$21,$22,$24,$50,$50,$50,$50,$52,$52,$4E,$40
byte_3D0AB:	.BYTE $10, $C,	4,$FF,	0,$3E,$22,$22,$10,$30,$44,$FE,	0,  8,$48,$48
					; DATA XREF: BANK_03:84FFo
		.BYTE $3E,$22,$22,$3E,$22,$22,$2A,$24,$48,$48,$48,$48,	8,  8,$28,$10
byte_3D0CB:	.BYTE	8,  9,	9,$11,$12,$32,$54,$9B,$20,$20,$20,$10,$10, $E,	4,$F0
					; DATA XREF: BANK_03:8501o
		.BYTE $11,$11,$11,$11,$12,$12,$14,$10,$10,$10,$10,$10,$10,$10,$A0,$40
byte_3D0EB:	.BYTE	0,$3F,$21,$21,$2F,$21,$21,$3F,	8,$FC,	8,$48,$E8,  8,$28,$F8
					; DATA XREF: BANK_03:8503o
		.BYTE $20,$27,$24,$24,$24,$47,$84,  0,$48,$E8,$48,$48,$48,$C8,$28,$10
byte_3D10B:	.BYTE	4, $E,$78,  8,	9,$FE,	8,$1C,$40,$40,$80,$80,$FE,  4,$28,$20
					; DATA XREF: BANK_03:8505o
		.BYTE $1A,$28,$29,$49,$8A,  8,	8,  8,$A8,$A4,$26,$22,$20,$20,$A0,$40
byte_3D12B:	.BYTE $10,$10,$10,$10,$FE,$22,$22,$22,	0,  0,	0,  4,$FE,$84,$84,$84
					; DATA XREF: BANK_03:8507o
		.BYTE $22,$42,$24,$14,	8,$14,$22,$40,$84,$84,$84,$84,$84,$FC,$84,  0
byte_3D14B:	.BYTE	0,$3F,$20,$20,$20,$3F,$20,$20,$10,$F8,	0,  0,$10,$F8,$10,$10
					; DATA XREF: BANK_03:8509o
		.BYTE $20,$3F,$20,$20,$20,$20,$3F,  0,$10,$F0,$10,  0,	0,  8,$FC,  0
byte_3D16B:	.BYTE	1,  1,	1,  1,	1,$FF,	1,  1,	0,$40,$30,$10,	4,$FE,	0,  0
					; DATA XREF: BANK_03:850Bo
		.BYTE	2,  2,	4,  4,	8,$10,$60,  0,$80,$80,$40,$20,$10, $E,	4,  0
byte_3D18B:	.BYTE	1,$7F,	1,$3F,	0,$1F,$10,$1F,	8,$FC,	0,$F8,	0,$F0,$10,$F0
					; DATA XREF: BANK_03:850Do
		.BYTE	4,$FF,	0,$1F,$10,$10,$1F,$10,$44,$FE,$10,$F8,$10,$10,$F0,$10
byte_3D1AB:	.BYTE	0,  0,$FC,  4,$45,$46,$28,$28,$80,$80,$80,$FC,	4,$48,$40,$40
					; DATA XREF: BANK_03:850Fo
		.BYTE $10,$28,$24,$44,$81,  1,	2, $C,$40,$40,$A0,$A0,$10,  8, $E,  4
byte_3D1CB:	.BYTE	2,$7F,$22,$22,$FF,$22,$22,$7E,$82,$44,$28,$FE,$10,$10,$14,$FE
					; DATA XREF: BANK_03:8511o
		.BYTE $20,$42,$BF,$22,$22,$22,$3E,$22,$10,$10,$14,$FE,$10,$10,$10,$10
byte_3D1EB:	.BYTE	0,$7F,$49,$49,$7F,$49,$49,$7F,	0,$7C,	4,$28,$10,$10,$FE,$12
					; DATA XREF: BANK_03:8513o
		.BYTE	8, $A,$7F,  8,	8, $F,$F8,$40,$14,$10,$10,$10,$10,$10,$50,$20
byte_3D20B:	.BYTE	0,$1F,$10,$10,$10,$1F,$12,  2,$10,$F8,$10,$10,$10,$F0,	0,  8
					; DATA XREF: BANK_03:8515o
		.BYTE $7F,  2,	2,  4,	4,  8,$10,$60,$FC,  8,	8,  8,	8,$88,$50,$20
byte_3D22B:	.BYTE	8,$FF,	9,$48,$48,$48,$4B,$48,	0,$FC,$24,$88,$70,$88,$26,$24
					; DATA XREF: BANK_03:8517o
		.BYTE $7D,  5,$1D,$E5,$45,  4,$15,  8,$FE,$24,$24,$FC,$20,$28,$FC,  4
byte_3D24B:	.BYTE $10,$10,$10,$10,$FC,$13,$14,$18,$40,$50,$48,$40,$44,$FE,$40,$60
					; DATA XREF: BANK_03:8519o
		.BYTE $30,$D0,$10,$10,$11,$11,$52,$24,$A0,$A0,$A0,$A0,$22,$22,$1E,  0
byte_3D26B:	.BYTE	2,  1,	1,$7F,	1,  1,	1,  1,	0,  0,	8,$FC,	0,  0,	0,$10
					; DATA XREF: BANK_03:851Bo
		.BYTE $3F,  1,	1,  1,	1,  1,$FF,  0,$F8,  0,	0,  0,	0,  4,$FE,  0
byte_3D28B:	.BYTE	1,$11,	9,  1,$7F,  1,	5,  9,	0,$10,$20,  8,$FC,  0,$40,$30
					; DATA XREF: BANK_03:851Do
		.BYTE $11,  1,$FF,  2,	4,  8,$10,$60,$10,  4,$FE,$80,$40,$20,$1C,  8
byte_3D2AB:	.BYTE	4,  4,	7,  8,$14,$22,	1,  6,	0,  0,$F0,$10,$20,$40,$80,$60
					; DATA XREF: BANK_03:851Fo
		.BYTE $18,$E0, $F,  8,	8,  8, $F,  8,$1E,  4,$F0,$10,$10,$10,$F0,$10
byte_3D2CB:	.BYTE	8,  8,	8,$10,$17,$30,$52,$92,$80,$40,$40,  8,$FC,  0,	8,  8
					; DATA XREF: BANK_03:8521o
		.BYTE $11,$11,$10,$10,$10,$1F,$10,$10,$10,$10,$90,$A0,$24,$FE,	0,  0
byte_3D2EB:	.BYTE	0,$20,$13,$10,	0,  7,$F0,$10,$20,$28,$FC,$20,$20,$FE,$92,$54
					; DATA XREF: BANK_03:8523o
		.BYTE $11,$10,$17,$10,$14,$18,$10,  3,$10,$94,$FE,$20,$20,$50,$8C,  4
byte_3D30B:	.BYTE	0,$1F,$11,$11,$1F,$11,$11,$1F,$10,$F8,$10,$10,$F0,$10,$10,$F0
					; DATA XREF: BANK_03:8525o
		.BYTE	1,$FF,	3,  5,	9,$11,$61,  1,	4,$FE,$80,$40,$20,$1C,	8,  0
byte_3D32B:	.BYTE	4,$3E,$24,$24,$24,$3C,$24,$24,	0,  4,$FE,$84,$84,$84,$FC,$84
					; DATA XREF: BANK_03:8527o
		.BYTE $24,$3C,$24,$24,$24,$25,$54,$88,$84,$84,$FC,  0,	4,$FE,	0,  0
byte_3D34B:	.BYTE	0,$1F,$10,$10,$10,$10,$1F,$11,$10,$F8,$10,$10,$10,$10,$F0,$10
					; DATA XREF: BANK_03:8529o
		.BYTE	1,$11,$11,$11,$11,$29,$47,$80,	0,$10,$F8,  0,	0,  6,$FC,  0
byte_3D36B:	.BYTE $20,$20,$22,$3F,$42,$83,$7A,$4A,$20,$20,$7C,$44,$88,$50,$20,$50
					; DATA XREF: BANK_03:852Bo
		.BYTE $4A,$4B,$4A,$7A,$42, $A,	4,  0,$9E,$22,$44,$A8,$10,$20,$40,$80
byte_3D38B:	.BYTE	0,$7F,$40,$5F,$40,$5F,$40,$1F,	4,$FE,	4,$F4,	4,$F4,	4,$F0
					; DATA XREF: BANK_03:852Do
		.BYTE $10,$1F,$10,$1F,$10,$10,$1F,$10,$10,$F0,$10,$F0,$10,$10,$F0,$10
byte_3D3AB:	.BYTE	0,$40,$30,$11,	1,  2,	8,$10,$80,$80,$80,  8,$FC,  8,$50,$40
					; DATA XREF: BANK_03:852Fo
		.BYTE $20,$E0,$20,$20,$21,$22,$24,$28,$40,$40,$A0,$A0,$10,  8, $E,  4
byte_3D3CB:	.BYTE	0,$78,$48,$51,$52,$65,$50,$4A,$40,$40,$A0,$10,$2E,$F4,	0,$48
					; DATA XREF: BANK_03:8531o
		.BYTE $4A,$49,$69,$51,$41,$40,$4F,$40,$48,$48,$48,$50,$50,$24,$FE,  0
byte_3D3EB:	.BYTE	1,$3F,	4,  4,	4,  4,	4,$FF,	4,$84,	4,$24,$24,$24,$A4,$E4
					; DATA XREF: BANK_03:8533o
		.BYTE	4,  4,	4,  4,	4,  4,	4,  4,$24,$24,$24,$24,	4,  4,$14,  8
byte_3D40B:	.BYTE $10,$11,$10,$1C,$20,$21,$7D,$91,$20,$24,$A4,$A8,$24,$FE,	4,$24
					; DATA XREF: BANK_03:8535o
		.BYTE $11,$7D,$11,$11,$14,$18,$11,  6,$24,$24,$24,$24,$20,$58,$84,  2
byte_3D42B:	.BYTE	4, $E,$78,  8,	8,$FE,	8,$18,	0,  4,$FE,$84,$84,$84,$84,$84
					; DATA XREF: BANK_03:8537o
		.BYTE $1C,$2A,$28,$48,$88,  9, $A,  8,$FC,$84,	0,$88,$C4,  6,	2,  0
byte_3D44B:	.BYTE $10,$10,$1F,$21,$21,$61,$A1,$21,	0,  8,$FC,  8,	8,  8,$10,$14
					; DATA XREF: BANK_03:8539o
		.BYTE $21,$21,$22,$22,$22,$24,$28,$30,$3E,  4,	4,  4,	4,$44,$28,$10
byte_3D46B:	.BYTE	4,$44,$64,$55,$4E,$44,$7F,$44,	0, $C,$F0,$40,$40,$44,$7E,$48
					; DATA XREF: BANK_03:853Bo
		.BYTE $4E,$55,$64,$44,$44,$7F,$40,  1,$48,$48,$48,$48,$48,$48,$88,  8
byte_3D48B:	.BYTE	2,  1,	1,  0,$FF,$10,$10,$10,	0,  0,	0,  4,$FE,  0,	0,  0
					; DATA XREF: BANK_03:853Do
		.BYTE $10,$10,$10,$10,$10,$10, $F,  0,	0,  0,	0,  0,	0,  8,$FC,  0
byte_3D4AB:	.BYTE	0,$42,$31,$10,$83,$62,$22, $B,$40,$48,$50,$48,$FC,  8,	8,$F8
					; DATA XREF: BANK_03:853Fo
		.BYTE $12,$22,$E3,$22,$22,$22,$22,$22,	8,  8,$F8,  8,	8,  8,$28,$10
byte_3D4CB:	.BYTE	2,  4,$1F,$10,$10,$1F,$10,$1F,	0,$10,$F8,$10,$10,$F0,$10,$F0
					; DATA XREF: BANK_03:8541o
		.BYTE $10,$10,$1F,  2,$51,$50,$90, $F,$10,$10,$F0,  0,$84,$92,$12,$F0
byte_3D4EB:	.BYTE	1,  1,	1,  1,$7F,$41,$41,$41,	0,  0,	0,  4,$FE,  4,	4,  4
					; DATA XREF: BANK_03:8543o
		.BYTE $41,$7F,$41,$41,$41,$41,$7F,$40,	4,$FC,	4,  4,	4,  4,$FC,  4
byte_3D50B:	.BYTE	0,$3F,	1,  1,	1,  1,$FF,  1,$10,$F8,	0,  0,	0,  4,$FE,  0
					; DATA XREF: BANK_03:8545o
		.BYTE	1,  1,	1,  1,	1,  1,	5,  2,	0,  0,	0,  0,	0,  0,	0,  0
byte_3D52B:	.BYTE	0,$40,$2F,$21,	1,  2,$E7,$20,$80,$88,$FC,  0,$40,$50,$F8,$40
					; DATA XREF: BANK_03:8547o
		.BYTE $20,$20,$2F,$20,$20,$50,$8F,  0,$40,$48,$FC,$40,$40,$46,$FC,  0
byte_3D54B:	.BYTE $10,$10,$23,$20,$48,$FF,$11,$20,$40,$50,$F8,$40,$40,$FC,$24,$A8
					; DATA XREF: BANK_03:8549o
		.BYTE $42,$F9,	7,  0,$1C,$E0,$41,  2,$20,$24,$FE,$40,$60,$90, $C,  4
byte_3D56B:	.BYTE	8,  8,$10,$27,$40,  8,	8,$10,$80,$40,	8,$FC,$40,$40,$40,$48
					; DATA XREF: BANK_03:854Bo
		.BYTE $37,$50,$90,$10,$10,$10,$1F,$10,$FC,$40,$40,$40,$40,$44,$FE,  0
byte_3D58B:	.BYTE $10,$10,$10,$1F,$10,$10,$10,$1F,	0,  0,	8,$FC,	0,  0,	8,$FC
					; DATA XREF: BANK_03:854Do
		.BYTE	0,  0,	0,$FF,	0,  0,	0,  0,	8,  8,$48,$E8,	8,  8,$50,$20
byte_3D5AB:	.BYTE	0,$7F,$40,$40,$5F,$40,$40,$4F,	4,$FE,	4,$24,$F4,  4,$24,$F4
					; DATA XREF: BANK_03:854Fo
		.BYTE $48,$48,$48,$48,$4F,$48,$40,$40,$24,$24,$24,$24,$E4,$24,$14,  8
byte_3D5CB:	.BYTE	1,$41,$31,$13,	2,$16,$1B,$12,$40,$20,$24,$FE,$20,$28,$FC,$20
					; DATA XREF: BANK_03:8551o
		.BYTE $22,$E3,$22,$22,$22,$23,$22,  2,$28,$FC,$20,$20,$24,$FE,	0,  0
byte_3D5EB:	.BYTE	0,  0,	0,  1,	1,  2,	2,  4,	0,  0,$80,$C0,$40,$60,$60,$30
					; DATA XREF: BANK_03:8553o
		.BYTE	4,  7, $C,  8,	8,$1C,	0,  0,$30,$F0,$38,$18,$18,$3C,	0,  0
byte_3D60B:	.BYTE	0,  0,$1F, $C, $C, $C, $C, $C,	0,  0,$E0,$30,$18,$18,$18,$30
					; DATA XREF: BANK_03:8555o
		.BYTE  $F, $C, $C, $C, $C,$1E,	0,  0,$E0,$C0,$70,$30,$38,$1C,	0,  0
byte_3D62B:	.BYTE $10,$10,$11,$11,$FD,$11,$15,$19,$24,$AE,$24,$24,$AC,$24,$24,$FC
					; DATA XREF: BANK_03:8557o
		.BYTE $30,$D3,$10,$10,$10,$10,$50,$23,$20,$FC,$88,$50,$20,$50,$8E,  4
byte_3D64B:	.BYTE	1,  1,$3F,  1,$7F,$42,$84, $F,	0,$10,$F8,  0,$FE,  2,$24,$C0
					; DATA XREF: BANK_03:8559o
		.BYTE	1,  2,$3F,  1,	9,$11,$25,  2,	0,$10,$F8,  8,$20,$18,	8,  0
byte_3D66B:	.BYTE	0,$7F,$41,$41,$41,$5F,$41,$43,	4,$FE,	4,  4,$24,$F4,	4,  4
					; DATA XREF: BANK_03:855Bo
		.BYTE $43,$45,$49,$51,$41,$41,$7F,$40,$84,$64,$34,$14,	4,  4,$FC,  4
byte_3D68B:	.BYTE	0,$3F,	1,$FF,	1,$1F,$11,$1F,$38,$C0,	4,$FE,$10,$F8,$10,$F0
					; DATA XREF: BANK_03:855Do
		.BYTE $11,$1F,	1,$3F,	1,  1,$FF,  0,$10,$F0,	0,$F8,	0,  4,$FE,  0
byte_3D6AB:	.BYTE	4,  4, $F,$10,$20,$5F,$10,$11,	0,  0,$E0,$40,$90,$F8,$10,$10
					; DATA XREF: BANK_03:855Fo
		.BYTE $11,$11,$11,$11,	2,  4,$18,$60,$10,$10,$10,$10,$C0,$30,$18,  8
byte_3D6CB:	.BYTE	1,  1,$3F,  1,$1F,  1,$FF,  0,	0,$10,$F8,  0,$F0,  4,$FE,$10
					; DATA XREF: BANK_03:8561o
		.BYTE $1F,$10,$11,$11,$12,  2, $C,$30,$F8,$10,$10,$10,$10,$C0,$30,  8
byte_3D6EB:	.BYTE	2,  1,$7F,$40,$81,  1,$11,$11,	0,  0,$FE,  2,	4,  0,$10,$18
					; DATA XREF: BANK_03:8563o
		.BYTE $11,$21,	2,  2,	4,  8,$10,$60,$20,$40,$80,$80,$40,$30, $E,  4
byte_3D70B:	.BYTE	0,$3F,$20,$20,$3F,$20,$20,$3F,	8,$FC,	8,  8,$F8,  0,	4,$FE
					; DATA XREF: BANK_03:8565o
		.BYTE $20,$27,$24,$24,$27,$24,$40,$80,	4,$E4,$24,$24,$E4,  4,$14,  8
byte_3D72B:	.BYTE	2,  1,	1,$FF,$10,  8,	8,  4,	0,  0,	4,$FE,$10,$10,$20,$20
					; DATA XREF: BANK_03:8567o
		.BYTE	4,  2,	1,  2,	4,  8,$30,$C0,$40,$80,	0,$80,$60,$10, $E,  4
byte_3D74B:	.BYTE $10,$10,$12,$22,$23,$64,$A4,$28,$40,$40,$40,$48,$FC,$40,$40,$40
					; DATA XREF: BANK_03:8569o
		.BYTE $20,$3F,$20,$20,$20,$20,$20,$20,$44,$FE,$40,$40,$40,$40,$40,$40
byte_3D76B:	.BYTE $20,$17,$50,$44,$42,$4F,$48,$48,	4,$FE,	4,$44,$84,$E4,$24,$24
					; DATA XREF: BANK_03:off_3856Bo
		.BYTE $4F,$4A,$42,$42,$44,$48,$50,$40,$E4,$A4,$84,$94,$94,$74,	4, $C
byte_3D78B:	.BYTE	0,$7E,$42,$42,$7E,$42,$42,$7E,	4,$FE,$84,$84,$84,$84,$84,$84
					; DATA XREF: BANK_03:856Do
		.BYTE $40,$44,$44,$4A,$72,$40,	0,  0,$84,$A4,$94,$88,$80,$80,$80,$80
byte_3D7AB:	.BYTE $10,$11,$10,$3C,$21,$41,$BD,$11,$20,$24,$A8,$24,$FE,  4,	4,$FC
					; DATA XREF: BANK_03:856Fo
		.BYTE $11,$FD,$11,$11,$15,$19,$11,  1,	4,  4,$FC,  4,	4,  4,$14,  8
byte_3D7CB:	.BYTE $10,$66,$42,$42,$66,$42,$43,$7E,	8,$FC,$88,$88,$88,$88,	6,  0
					; DATA XREF: BANK_03:8571o
		.BYTE	1,$7E,	8,  8, $E,$F8,$40,  3,$FC,$88,$88,$50,$20,$50,$8E,  4
byte_3D7EB:	.BYTE $10,$12,$12,$22,$42,$92,$13,$2E,	0,  4,$FE,$24,$24,$A4,$E4,$24
					; DATA XREF: BANK_03:8573o
		.BYTE $62,$A2,$22,$23,$20,$20,$21,$22,$24,$64,$A4,$24,$44,$84,$28,$10
byte_3D80B:	.BYTE	0,$42,$32,$13,	4,  0,$F7,$10,$40,$40,$50,$F8,$40,$44,$FE,  8
					; DATA XREF: BANK_03:8575o
		.BYTE $13,$12,$12,$12,$13,$28,$47,  0,$FC,  8,	8,  8,$F8,  6,$FC,  0
byte_3D82B:	.BYTE $10,$11,$11,$11,$FD,$10,$15,$19,	4,$FE,	4,  4,$FC,  0,$FC,  4
					; DATA XREF: BANK_03:8577o
		.BYTE $31,$D1,$11,$11,$11,$10,$50,$23,$24,$24,$24,$24,$24,$50,$8C,  4
byte_3D84B:	.BYTE	0,$7D,	4,  8,$29,$11,$FF,$15,	4,$FE,$20,$44,$FE,  4,$24,$24
					; DATA XREF: BANK_03:8579o
		.BYTE $11,$11,$11,$11,$11,$10,$50,$23,$24,$24,$24,$24,$24,$58,$84,  2
byte_3D86B:	.BYTE	0,$20,$10,$10,	0,  0,$F7,$10,$40,$40,$40,$40,$40,$44,$FE,$40
					; DATA XREF: BANK_03:857Bo
		.BYTE $10,$10,$10,$12,$14,$18,$10,  0,$40,$40,$40,$40,$40,$40,$40,$40
byte_3D88B:	.BYTE	8,  4,$FF,  1,	2,$1F,$10,$10,$20,$44,$FE,  0,$10,$F8,$10,$10
					; DATA XREF: BANK_03:857Do
		.BYTE $1F,$10,$10,$1F,$10,$10,$1F,$10,$F0,$10,$10,$F0,$10,$10,$F0,$10
byte_3D8AB:	.BYTE	1,$11,$11,$1F,$11,$21,	1,$FF,	0,  0,$10,$F8,	0,  0,	4,$FE
					; DATA XREF: BANK_03:857Fo
		.BYTE	4,  4,	4,  8,	8,$10,$20,$40,$80,$80,$80,$80,$82,$82,$7E,  0
byte_3D8CB:	.BYTE $41,$21,$21, $A,$34,$E0,$21,$26,	0,  0,$FC,$44,$48,$A0,$10, $E
					; DATA XREF: BANK_03:8581o
		.BYTE $1F,$10,$11,$11,$11,  2, $C,$30,$F4,$10,$10,$10,$10,$C0,$30,  8
byte_3D8EB:	.BYTE	8,$7F,	8,$7F,$49,$7F,$1C,$2A,$40,$44,$7E,$88,$48,$50,$20,$50
					; DATA XREF: BANK_03:8583o
		.BYTE $C8,$3F,	1,  9,	9,  9,$FF,  0,$8E,$F8,	0,$F0,	0,  4,$FE,  0
byte_3D90B:	.BYTE	1,  1,$3F,  1,	1,$FF,	8,  4,	0,$10,$F8,  0,	4,$FE,$20,$50
					; DATA XREF: BANK_03:8585o
		.BYTE $3F,  1,	1,$7F,	1,  1,	1,  1,$F8,  0,	8,$FC,	0,  0,	0,  0
byte_3D92B:	.BYTE	0,$43,$30,$10,	0,  7,$F0,$10,$10,$F8,	0,  0,	8,$FC,$80,$80
					; DATA XREF: BANK_03:8587o
		.BYTE $11,$11,$12,$17,$10,$28,$47,  0,	0,$20,$10,$F8,	8,  6,$FC,  0
byte_3D94B:	.BYTE	8,  8, $A,$7F,	8,  8,	9,$FF,	0,  4,$7E,$44,$44,$44,$44,$C4
					; DATA XREF: BANK_03:8589o
		.BYTE	8,$10,$10,$24,$22,$7F,	1,  0,$44,$44,$64,$54,$48,$40,$40,$40
byte_3D96B:	.BYTE $10,$10,$10,$20,$45,$FF,	9,$11,$40,$40,$78,$90,$24,$FE,$24,$24
					; DATA XREF: BANK_03:858Bo
		.BYTE $21,$FD,$41,  1,$1D,$E1,$41,  0,$24,$FC,	4,  0,	0,  2,	2,$FE
byte_3D98B:	.BYTE	2,$42,$32,$12,$82,$62,$2F, $A,$48,$48,$48,$48,$48,$48,$FE,$48
					; DATA XREF: BANK_03:858Do
		.BYTE $12,$22,$E2,$22,$22,$22,$23,$20,$48,$48,$48,$78,$40,  8,$FC,  0
byte_3D9AB:	.BYTE $10,$11,$11,$11,$FD,$11,$31,$39,	4,$FE,	4,  4,	4,$FC,	4,  4
					; DATA XREF: BANK_03:858Fo
		.BYTE $55,$51,$91,$11,$11,$11,$11,$11,	4,$FC,	4,  4,	4,  4,$FC,  4
byte_3D9CB:	.BYTE $20,$17,$10,  0,	0,$F0,$11,$11,	4,$FE,$20,$20,$20,$20,$24,$3E
					; DATA XREF: BANK_03:8591o
		.BYTE $11,$11,$11,$11,$15,$19,$17,  0,$20,$20,$20,$20,$20,$24,$FE,  0
byte_3D9EB:	.BYTE	0,  4,$FE,$10,$11,$23,$25,$7D,$40,$40,$78,$90,$24,$FE,$24,$24
					; DATA XREF: BANK_03:8593o
		.BYTE $A5,$25,$25,$25,$25,$3D,$22,  4,$FC,$24,$24,$FC,$24,$24,$24, $C
byte_3DA0B:	.BYTE	8,$FD,	9,  9,	9,$79,$48,$43,	4,$FE,	4,  4,$FC,$24,$20,$FE
					; DATA XREF: BANK_03:8595o
		.BYTE $42,$7A, $B, $A,	8,$88,$53,$20,$22,$22,$FE,$22,$20,$24,$FE,  2
byte_3DA2B:	.BYTE	1,  1,	1,  2,	4,  8,$30,  0,	0,  0,	0,$80,$40,$38,$10,  0
					; DATA XREF: BANK_03:8597o
		.BYTE	8,  8,$14,$12,$22,$41,$82,  0,$20,$20,$50,$50,$88, $E,	4,  0
byte_3DA4B:	.BYTE	8, $F,$10,$20,$5F,$10,$10,$13,	0,$E0,$40,$88,$FC,  0,$10,$F8
					; DATA XREF: BANK_03:8599o
		.BYTE $12,$12,$12,$12,$22,$22,$41,$80,$10,$10,$50,$20,	2,  2,$FE,  0
byte_3DA6B:	.BYTE	2,  1,$7F,  8,	4,  2,	1,  6,	0,  8,$FC,$20,$40,$80,	0,$C0
					; DATA XREF: BANK_03:859Bo
		.BYTE $18,$20,$C8,  8,	8,  8,$10,$20,$30,$2E,$24,$20,$20,$20,$20,$20
byte_3DA8B:	.BYTE $20,$20,$20,$20,$FB,$20,$20,$24,$80,$80,$80,$88,$FC,$88,$88,$8C
					; DATA XREF: BANK_03:859Do
		.BYTE $24,$24,$29,$21,$21,$22,$24,$20,$8A,$8A,	8,  8,	8,  8,$28,$10
byte_3DAAB:	.BYTE	0,$1F,$11,$11,$1F,$11,$11,$1F,$10,$F8,$10,$10,$F0,$10,$10,$F0
					; DATA XREF: BANK_03:859Fo
		.BYTE	2,  4, $C,$34,$C4,  4,	8,$10,$80,$60,$50,$4E,$44,$40,$40,$40
byte_3DACB:	.BYTE $10,$10,$10,$13,$FC,$11,$13,$1E,$40,$40,$48,$FC,$A0,$50,$F8,$4E
					; DATA XREF: BANK_03:85A1o
		.BYTE $32,$D3,$12,$12,$13,$10,$50,$20,$48,$F8,$48,$48,$F8,$42,$42,$3E
byte_3DAEB:	.BYTE $20,$1B,	8,$40,$40,$4F,$48,$48,	4,$FE,	4,  4,$24,$F4,$24,$24
					; DATA XREF: BANK_03:85A3o
		.BYTE $48,$48,$48,$4F,$48,$40,$40,$40,$24,$24,$24,$E4,$24,  4,$14,  8
byte_3DB0B:	.BYTE $3E,$23,$22,$3E,$22,$22,$3E,  0,	4,$FE,$20,$44,$FE,$84,$94,$94
					; DATA XREF: BANK_03:85A5o
		.BYTE $FF,  8,$2A,$2F,$28,$58,$49,$87,$94,$A4,$A4,$20,$58,$84,	6,$FC
byte_3DB2B:	.BYTE	0,$1F,$10,$10,$1F,$11,$10,$10,	8,$FC,	8,  8,$F8,  8,$80,$80
					; DATA XREF: BANK_03:85A7o
		.BYTE $10,$16,$21,$40,$86,  1,	0,  0,$40,$20,$90, $E,	4,$80,$C0,$40
byte_3DB4B:	.BYTE $10,$11,$3E,$24,$48,$BE,$2B,$2A,	4,$FE,$44,$44,$54,$88,$10,$50
					; DATA XREF: BANK_03:85A9o
		.BYTE $3E,$2A,$2A,$3F,$2A,$2A,$42,$86,$7C,$90,$14,$FE,$10,$10,$10,$10
byte_3DB6B:	.BYTE $10,$10,$13,$12,$FE,$12,$13,$1E,	0,  8,$FC,  8,	8,  8,$F8,  8
					; DATA XREF: BANK_03:85ABo
		.BYTE $32,$D2,$13,$10,$10,$1F,$50,$20,	8,  8,$F8,  0,	4,$FE,	0,  0
byte_3DB8B:	.BYTE	0,  4,$FE,$10,$10,$11,$5E,$50,$40,$40,$44,$FE,$88,  8,$88,$88
					; DATA XREF: BANK_03:85ADo
		.BYTE $50,$50,$50,$5E,$F0,$40,	1,  2,$50,$50,$20,$50,$50,$88, $E,  4
byte_3DBAB:	.BYTE	2,  1,$3F,$22,$22,$22,$24,$27,	0,  8,$FC,  0,$10,$10,$14,$FE
					; DATA XREF: BANK_03:85AFo
		.BYTE $2C,$35,$24,$24,$24,$44,$84,  4,$10,$10,$90,$90,$10,$10,$50,$20
byte_3DBCB:	.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:85B1o
		.BYTE	0,  0,	0,$18,$3C,$3C,$18,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3DBEB:	.BYTE $10,$14,$12,$10,$13,$FC,$10,$10,	4,  4,	4,$24,$A4,$24,$24,$24
					; DATA XREF: BANK_03:85B3o
		.BYTE $11, $B, $C,  8,$14,$24,$42,  1,$24,$24,$24,$24,	4,$84,$94,$88
byte_3DC0B:	.BYTE	0,$47,$20,$23,	0,$EF,$20,$23,$48,$FC,$40,$F8,$40,$FE,	8,$FC
					; DATA XREF: BANK_03:85B5o
		.BYTE $22,$23,$22,$23,$2A,$32,$22,  2,	8,$F8,	8,$F8,	8,  8,$28,$10
byte_3DC2B:	.BYTE	8,  8,	8,$10,$10,$37,$50,$90,$10,$10,$10,$10,$14,$FE,$10,$10
					; DATA XREF: BANK_03:85B7o
		.BYTE $11,$10,$10,$10,$10,$10,$10,$10,$10,$90,$90,$10,$10,$10,$50,$20
byte_3DC4B:	.BYTE $20,$17,$50,$44,$42,$4F,$49,$4F,	4,$FE,	4,$44,$84,$E4,$24,$E4
					; DATA XREF: BANK_03:85B9o
		.BYTE $49,$4F,$41,$5F,$41,$41,$41,$40,$24,$E4,	4,$F4,	4,  4,	4, $C
byte_3DC6B:	.BYTE	0,$40,$20,$20, $F,  0,$E1,$22,$80,$A0,$90,$80,$FC,$80,$C0,$A0
					; DATA XREF: BANK_03:85BBo
		.BYTE $24,$28,$20,$20,$20,$50,$8F,  0,$98,$88,$80,$80,$80,  6,$FC,  0
byte_3DC8B:	.BYTE	0,$FF,	1,  1,$11,$11,$11,$21,	4,$FE,	0,  0,	8,$18,$20,$40
					; DATA XREF: BANK_03:85BDo
		.BYTE	2,  2,	4,  4,	8,$10,$60,  0,$80,$80,$40,$20,$10, $E,	4,  0
byte_3DCAB:	.BYTE	0,  0,	0,  0,	1,  3,	3,  1,	0,  0,$21,$C6,$8C,$DE,$DE,$8C
					; DATA XREF: BANK_03:85BFo
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3DCCB:	.BYTE	0,$18,$3D,$3D,$18,  8,$10,$21,	0,$C0,$E0,$E0,$C0,$40,$80,  0
					; DATA XREF: BANK_03:85C1o
		.BYTE	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0,	0,  0
byte_3DCEB:	.BYTE $20,$3E,$49,$9F,$10,$1F,$10,$1F,$80,$FC,$20,$F0,$10,$F0,$10,$F0
					; DATA XREF: BANK_03:85C3o
		.BYTE $10,$1F,	8,$FF,	8,  8,$10,$20,$10,$F0,$24,$FE,$20,$20,$20,$20
byte_3DD0B:	.BYTE $22,$22,$27,$22,$FA,$2F,$20,$2F,$90,$90,$D4,$9E,$A4,$F4,$14,$D4
					; DATA XREF: BANK_03:85C5o
		.BYTE $34,$E7,$24,$27,$24,$24,$A5,$44,$54,$D4,$48,$C8,$54,$54,$62,$80
byte_3DD2B:	.BYTE	4, $E,$78,  8,	8,$FE,	8,$1D,$20,$20,$20,$20,$A8,$A6,$A2,$20
					; DATA XREF: BANK_03:85C7o
		.BYTE $1A,$28,$28,$48,$88,  8,	8, $B,$24,$24,$28,$10,$20,$40,$80,  0
byte_3DD4B:	.BYTE	8,$7E,	8,$1C,$68, $A,$19,$FF,	8,$F0,$80,$FC,$90,$90,$14,$FE
					; DATA XREF: BANK_03:85C9o
		.BYTE	0,$3F,	0,$3F,	0,$1F,$10,$1F,	0,$F8,	0,$F8,	0,$F0,$10,$F0
byte_3DD6B:	.BYTE	2,  1,	0,$1F,	1,  1,$7D,  5,	0,  0,	0,  0,	8,$18,$A0,$40
					; DATA XREF: BANK_03:85CBo
		.BYTE	5,  9,	9,$11,$21,$41,	5,  2,$40,$20,$20,$10, $E,  4,	0,  0
byte_3DD8B:	.BYTE	0,$43,$30,$10,	0,  7,$F1,$11,$10,$F8,	0,  0,	8,$FC,$20,$20
					; DATA XREF: BANK_03:85CDo
		.BYTE $11,$11,$12,$12,$14,$28,$47,  0,$20,$24,$24,$1C,	0,  6,$FC,  0
byte_3DDAB:	.BYTE	0,$FC,	4, $B,$10,$10,$15,$1B,$80,$40,	4,$FE,$40,$80,	8,$F8
					; DATA XREF: BANK_03:85CFo
		.BYTE $31,$D0,$10,$11,$16,$10,$51,$26,$10,$24,$4C,$90,$20,$50,$8C,  4
byte_3DDCB:	.BYTE	0,  8,$7C,$49,$49,$4B,$4D,$49,$80,$A0,$94,$FE,$10,$10,$FC,$10
					; DATA XREF: BANK_03:85D1o
		.BYTE $49,$49,$49,$79,$49,  1,	1,  1,$10,$FC,$10,$10,$14,$FE,	0,  0
byte_3DDEB:	.BYTE	8,  8,$13,$10,$24,$FC,	8,$11,	0,  4,$FE,  4,	4,  4,	4,$FC
					; DATA XREF: BANK_03:85D3o
		.BYTE $21,$FD,$41,  1,$1D,$E1,$40,  0,	4,  0,	0,  0,	2,  2,$FE,  0
byte_3DE0B:	.BYTE	4,  4,$FF,  4,	4,$7F,	2,  2,$40,$44,$FE,$40,$48,$FC,	8,  8
					; DATA XREF: BANK_03:85D5o
		.BYTE	2,  2,	2,  2,	2,  2,	2,  2,	8,  8,$48,$28,$10,  0,	0,  0
byte_3DE2B:	.BYTE	8,  8,	8,$10,$1F,$31,$51,$92,$80,$80,$80,$84,$FE,  0,	0,  4
					; DATA XREF: BANK_03:85D7o
		.BYTE $13,$15,$19,$11,$11,$11,$11,$11,$FE,  4,	4,  4,	4,  4,$FC,  4
byte_3DE4B:	.BYTE	1,  1,	1,$7F,	1,  1,	1,$3F,	0,  0,	8,$FC,	0,  0,$10,$F8
					; DATA XREF: BANK_03:85D9o
		.BYTE	1,  1,	1,$FF,	1,  1,	1,  1,	0,  0,	4,$FE,	0,  0,	0,  0
byte_3DE6B:	.BYTE	2,  1,	1,$FF,	2,  2,	5,  5,	0,  0,	4,$FE,	0,  8,$18,$20
					; DATA XREF: BANK_03:85DBo
		.BYTE  $C,$14,$24,$C4,	4,  5,	6,  4,$C0,$80,$40,$20,$18, $E,	4,  0
byte_3DE8B:	.BYTE	2,  7,$78,  8,	8, $A,$FF,  8,$20,$20,$20,$44,$7E,$88,$48,$48
					; DATA XREF: BANK_03:85DDo
		.BYTE  $A,$3F,$22,$22,$22,$3E,$22,  1,$48,$48,$50,$50,$20,$50,$8E,  4
byte_3DEAB:	.BYTE $10,$10,$20,$21,$45,$FA,$10,$20,$80,$80,$FC,  8,$90,$50,$20,$50
					; DATA XREF: BANK_03:85DFo
		.BYTE $40,$FD,	2,  0,$1C,$E0,$40,  0,$88, $E,$64,$10,	8,$C0,$30,  8
byte_3DECB:	.BYTE	1,$11,	9,  1,$7F,$40,$80,$1F,	0,$10,$20,  0,$FE,  2,$24,$F0
					; DATA XREF: BANK_03:85E1o
		.BYTE	0,  0,$7F,  2,	4,  8,$1F,  0,	0,  8,$FC,  0,$40,$20,$F0,$10
byte_3DEEB:	.BYTE	4,$7E,$44,$54,$54,$55,$54,$54,$40,$40,$44,$7E,$88,  8,$48,$48
					; DATA XREF: BANK_03:85E3o
		.BYTE $54,$54,$54,$10,$28,$24,$45,$82,$48,$50,$50,$20,$50,$8E,	4,  0
byte_3DF0B:	.BYTE	8,  8,$7F,  8,	9,  1,$FF,  1,$20,$28,$FC,$20,$20,  4,$FE,  0
					; DATA XREF: BANK_03:85E5o
		.BYTE	1,$1F,$10,$10,$10,$10,$1F,$10,$10,$F8,$10,$10,$10,$10,$F0,$10
byte_3DF2B:	.BYTE	8,  8,	8,$17,$10,$30,$50,$90,$40,$20,$24,$FE,$40,$40,$A0,$A4
					; DATA XREF: BANK_03:85E7o
		.BYTE $11,$12,$14,$10,$10,$10,$10,$10,$A8,$90,$90,$88,$8E,$A4,$C0,$80
byte_3DF4B:	.BYTE	0,  0,	0,  0,	0,  0, $E,$3F,	0,  0,	0,  0,	0,  0,	0,$80
					; DATA XREF: BANK_03:85E9o
		.BYTE $61,  0,	0,  0,	0,  0,	0,  0,$C3,$FE,$38,  0,	0,  0,	0,  0
byte_3DF6B:	.BYTE	0,$1F,$10,$10,$1F,$10,$10,$17,	4,$FE,	4,  4,$FC,  0,$10,$F8
					; DATA XREF: BANK_03:85EBo
		.BYTE $10,$10,$1F,$11,$22,$24,$4F,$80,	0,  4,$FE,  0,$10,  8,$FC,  4
byte_3DF8B:	.BYTE	0,$7F,	1,$11,$11,  9,	9,  1,	8,$FC,	0,$10,$10,$20,$20,  4
					; DATA XREF: BANK_03:85EDo
		.BYTE $FF,  1,	1,  1,	1,  1,	1,  1,$FE,  0,	0,  0,	0,  0,	0,  0
byte_3DFAB:	.BYTE	2,  2,	4,  8,$10,$20,$7F,  0,	0,  0,	0,$20,$10,  8,$FC,  4
					; DATA XREF: BANK_03:85EFo
		.BYTE	0,$1F,$10,$10,$10,$10,$1F,$10,$10,$F8,$10,$10,$10,$10,$F0,$10
byte_3DFCB:	.BYTE	2,  1,$7F,$40,$80,$1F,$10,$10,	0,  0,$FE,  2,$14,$F8,$10,$10
					; DATA XREF: BANK_03:85F1o
		.BYTE $1F,$10,$10,$1F,$10,$10,$1F,$10,$F0,  0,$10,$F8,$10,$10,$F0,  0
byte_3DFEB:	.BYTE	0,  0,	0,  0,$FF,  0,	1,  1,$80,$80,$80,$84,$FE,$80,$80,$80
					; DATA XREF: BANK_03:85F3o
		.BYTE	2,  4,	8,$10,$60,  0,	2,  1,$80,$80,$80,$80,$80,$80,$80,  0
byte_3E00B:	.BYTE	0,$47,$34,$14,	4,  4, $F,$12,$10,$F8,$10,$10,$10,$10,$F0,$40
					; DATA XREF: BANK_03:85F5o
		.BYTE $22,$E2,$22,$22,$24,$24,$28,$30,$40,$40,$40,$40,$42,$42,$3E,  0
byte_3E02B:	.BYTE	1,$7F,$41,$49,$49,$49,$49,$49,	4,$84,$24,$24,$24,$24,$24,$24
					; DATA XREF: BANK_03:85F7o
		.BYTE $49,$49,$49,$49,$14,$12,$21,$C1,$24,$24,$24,  4,	4,  4,$14,  8
byte_3E04B:	.BYTE $11,$11,$11,$12,$FF,$14,$38,$34,	0,  0,$F8,  8,$10,$A0,$40,$A0
					; DATA XREF: BANK_03:85F9o
		.BYTE $51,$52,$97,$1A,$12,$12,$13,$12,$10, $E,$FC,  8,	8,  8,$F8,  8
byte_3E06B:	.BYTE $10,$10,$10,$1F,$24,$44,$84,  8,	0,  0,	4,$FE,$44,$44,$44,$44
					; DATA XREF: BANK_03:85FBo
		.BYTE	8,  8,$10,$11,$21,$42,	4,  8,$84,$84,$84,  4,	4,  4,$28,$10
byte_3E08B:	.BYTE	0,$40,$30,$10,	1,  2,$F4,$11,$40,$40,$A0,$A0,$10, $E,	4,  0
					; DATA XREF: BANK_03:85FDo
		.BYTE $11,$11,$11,$11,$15,$19,$10,  0,$10,$30,$C0,  0,	4,  4,$FC,  0
byte_3E0AB:	.BYTE	0,$7C,$45,$4A,$48,$50,$49,$4A,$80,$80,$F8,$10,$A0,$40,$B0,$4E
					; DATA XREF: BANK_03:85FFo
		.BYTE $44,$45,$45,$69,$53,$40,$40,$40,$44,$F0,$40,$48,$FC,$40,$40,$40
byte_3E0CB:	.BYTE $10,$10,$17,$20,$23,$62,$A3,$20,$80,$48,$FC,  0,$F8,  8,$F8,  0
					; DATA XREF: BANK_03:8601o
		.BYTE $2F,$28,$33,$20,$20,$20,$21,$20,$FE,  2,$F4,$40,$40,$40,$40,$80
byte_3E0EB:	.BYTE	0,  0,	0,$3F,	0,  0,	0,  0,	0,  0,$10,$F8,	0,  0,	0,  0
					; DATA XREF: BANK_03:8603o
		.BYTE	0,  0,	0,  0,$FF,  0,	0,  0,	0,  0,	0,  4,$FE,  0,	0,  0
byte_3E10B:	.BYTE	0,$3F,$20,$3F,$20,$3F,	4,$FF,$84,$C4,$88,$90,$A0,$84,	4,$E8
					; DATA XREF: BANK_03:8605o
		.BYTE	0,$3F,$20,$3F,$15,$24,$54,  8,$10,$A2,$82,$84,	8,$90,$A0,$40
byte_3E12B:	.BYTE	0, $A,$FE,$23,$22,$3C,$48,$4F,$40,$40,$48,$FC,$40,$40,$44,$FE
					; DATA XREF: BANK_03:8607o
		.BYTE $48,$B0,$11,$22,$44,$88,	0,  0,$C0,$E0,$50,$4E,$44,$40,$40,$40
byte_3E14B:	.BYTE	8,$49,$49,$49,$7F,  2,$FF,  2,	8,$7C,$48,$48,$48,$48,$48,$48
					; DATA XREF: BANK_03:8609o
		.BYTE	2,$7E,$42,$40,$46,$58,$61,  2,$48,$48,$48,$48,$8A,$8A,	6,  0
byte_3E16B:	.BYTE	4,  4,$24,$24,$24,$25,$24,$24,$40,$40,$48,$7C,$A0,$18,	8,  0
					; DATA XREF: BANK_03:860Bo
		.BYTE	4,$3F,$24,$24,$24,$24,$FF,  0,	8,$FC,$48,$48,$48,$48,$FE,  0
byte_3E18B:	.BYTE	4,$88,$54,$22,$52,$91,$1E,$12,$20,$20,$30,$28,$20,$FE,$20,$20
					; DATA XREF: BANK_03:860Do
		.BYTE $32,$52,$92,$13,$12,$10,$A1,$42,$20,$20,$D0,$50,$88,$88,	6,  4
byte_3E1AB:	.BYTE	4, $B,$10,$20,$41,  5,	9,$11,	4,$FE,$20,$44,$FE,  4,$24,$24
					; DATA XREF: BANK_03:860Fo
		.BYTE $21,$41,	5,  9,$11,$20,$40,  3,$24,$24,$24,$24,$44,$58,$86,  2
byte_3E1CB:	.BYTE $20,$27,$20,$20,$F8,$21,$27,$21,	0,$F8,$20,$40,$80,  4,$FE,$24
					; DATA XREF: BANK_03:8611o
		.BYTE $21,$21,$3A,$E2,$44,  8,$11,  0,$24,$24,$24,$44,$44,$84,$28,$10
byte_3E1EB:	.BYTE $10,$13,$10,$11,$FC,$13,$12,$1C, $C,$F0,	0,$24,$A8,$FE,	2,  4
					; DATA XREF: BANK_03:8613o
		.BYTE $31,$D1,$10,$10,$10,$10,$51,$26,$FC,  4,$88,$50,$20,$50,$8E,  4
byte_3E20B:	.BYTE $10,$10,$13,$10,$FE,$12,$31,$39,	0,  0,$F8,  8,	8,  8,	8,$10
					; DATA XREF: BANK_03:8615o
		.BYTE $55,$50,$90,$10,$11,$12,$14,$10,$10,$A0,$40,$A0,$10, $E,	4,  0
byte_3E22B:	.BYTE $20,$20,$28,$FD,$22,$45,$50,$93,$40,$A0,$A0,$10, $E,$F4,	0,$C4
					; DATA XREF: BANK_03:8617o
		.BYTE $FA,$13,$3A,$D3,$12,$12,$12,$12,$54,$D4,$54,$D4,$54,$44,$44,$CC
byte_3E24B:	.BYTE	2,  1,$3F,$20,$40,$1F,	0,  0,	0,  0,$FC,  4,	8,$E0,$40,$80
					; DATA XREF: BANK_03:8619o
		.BYTE	1,$FF,	1,  1,	1,  1,	5,  2,	4,$FE,	0,  0,	0,  0,	0,  0
byte_3E26B:	.BYTE	8,  8,$7E,  8,$1C,$2A,$48,$3F,$20,$28,$FC,$20,$78,$A4,$20,$F8
					; DATA XREF: BANK_03:861Bo
		.BYTE	1,  9,	9,$11,$11,$29,$47,$80,$10,$40,$E0,  0,	0,  6,$FC,  0
byte_3E28B:	.BYTE	2,  1,$7F,  8,	4,  2,$FF,  1,	0,  8,$FC,$20,$40,$84,$FE,  0
					; DATA XREF: BANK_03:861Do
		.BYTE	1,$7F,	1,  9,$19,$21,$45,  2,	8,$FC,	0,$20,$18, $C,	4,  0
byte_3E2AB:	.BYTE $10,$10,$10,$11,$13,$FC,$11,$11,$40,$40,$90,  8,$FC,  4,$10,$F8
					; DATA XREF: BANK_03:861Fo
		.BYTE $12,$10,$17,$1C,$F0,$40,	1,  6,$40,$44,$FE,$40,$A0,$90, $E,  4
byte_3E2CB:	.BYTE	0,$40,$20,$20,	0, $F,$E0,$21,$80,$80,$80,$80,$88,$FC,$80,  0
					; DATA XREF: BANK_03:8621o
		.BYTE $21,$22,$22,$24,$28,$50,$8F,  0,$40,$20,$10,$18,	8,  6,$FC,  0
byte_3E2EB:	.BYTE	8,$1C,$F0,$11,$12,$FF,$10,$33,$40,$40,$F8,$10,$24,$FE,	4,$FC
					; DATA XREF: BANK_03:8623o
		.BYTE $38,$57,$50,$95,$15,$19,$10,$10,	4,$FC,$40,$24,$22, $A,$F8,  0
byte_3E30B:	.BYTE	8,  8,	8,  8,$FE,  8,$18,$1C,$10,$10,$10,$14,$FE,$10,$10,$30
					; DATA XREF: BANK_03:8625o
		.BYTE $2A,$28,$48,$89,	8,  8,	8,  8,$30,$50,$90,$10,$10,$10,$50,$20
byte_3E32B:	.BYTE	1,$3F,	8,  4,$FF,  0,$1F,$10,$10,$F8,$20,$44,$FE,$10,$F8,$10
					; DATA XREF: BANK_03:8627o
		.BYTE $1F,$10,$1F,  2,$51,$50,$90, $F,$F0,$10,$F0,  0,$84,$92,$12,$F0
byte_3E34B:	.BYTE	0,$7C,$44,$49,$48,$50,$48,$4B,$20,$20,$28,$FC,$20,$20,$24,$FE
					; DATA XREF: BANK_03:8629o
		.BYTE $44,$45,$45,$69,$51,$41,$41,$41,$20,$24,$24,$24,$24,$24,$FC,  4
byte_3E36B:	.BYTE	0,  0,	0,  0,	0,  0,	3,  6,	0,  0,	0,  0,	0,  0,$E0,$30
					; DATA XREF: BANK_03:862Bo
		.BYTE	6,  6,	6,  6,	3,  0,	0,  0,$30,$30,$30,$30,$E0,  0,	0,  0
byte_3E38B:	.BYTE	0,  0, $E,  6,	6,  6,	6,  7,	0,  0,	0,  0,	0,  0,$E0,$30
					; DATA XREF: BANK_03:862Do
		.BYTE	6,  6,	6,  6, $E,  0,	0,  0,$30,$30,$30,$30,$78,  0,	0,  0
byte_3E3AB:	.BYTE	0,  0,	0,  0,	0,  0,$37, $C,	0,  0,	0,  0,	0,  0,$E0,$30
					; DATA XREF: BANK_03:862Fo
		.BYTE  $C, $C, $C, $C,$1E,  0,	0,  0,$30,$30,$30,$30,$78,  0,	0,  0
byte_3E3CB:	.BYTE	0,  0,$1F, $C, $C, $C, $C, $C,	0,  0,$C0,$70,$18, $C, $C, $C
					; DATA XREF: BANK_03:8631o
		.BYTE  $C, $C, $C, $C, $C,$1F,	0,  0, $C, $C, $C,$18,$70,$C0,	0,  0
byte_3E3EB:	.BYTE	0,$3F,$20,$20,$3F,$20,$20,$1F,$10,$F8,$10,$10,$F0,  4,	4,$FC
					; DATA XREF: BANK_03:8633o
		.BYTE	8,  8,$FF,  8,	8,  8,$10,$20,$20,$24,$FE,$20,$20,$20,$20,$20
byte_3E40B:	.BYTE	0,$44,$2C,$10,$28,$4F,$89,  9,$80,$A0,$90,$90,$84,$FE,$40,$40
					; DATA XREF: BANK_03:8635o
		.BYTE $19,$29,$49,$8A, $A, $A,$54,$28,$40,$40,$40,$40,$42,$42,$3E,  0
byte_3E42B:	.BYTE	0,$7C,	4,  9,$2B,$11,$FF,$15,$40,$78,$90,$24,$FE,$24,$44,$FC
					; DATA XREF: BANK_03:8637o
		.BYTE $10,$11,$12,$11,$16,$10,$53,$20,$84,$48,$B0,$30,$68,$A6,$24,$60
byte_3E44B:	.BYTE	0,  0,	0,  0,	0,  0,$1F,  0,	0,  0,	0,  0,	0,  0,$F8,  0
					; DATA XREF: BANK_03:8639o
		.BYTE	0,$1F,	0,  0,	0,  0,	0,  0,	0,$F8,	0,  0,	0,  0,	0,  0
byte_3E46B:	.BYTE	0,  0,$1F, $C, $C, $C, $C, $F,	0,  0,$F8,$18,	8,  0,$20,$E0
					; DATA XREF: BANK_03:863Bo
		.BYTE  $C, $C, $C, $C, $C,$1F,	0,  0,$20,  0,	0,  8,$18,$F8,	0,  0
byte_3E48B:	.BYTE	0,  0,$1E, $C, $C, $C, $C, $F,	0,  0,$3C,$18,$18,$18,$18,$F8
					; DATA XREF: BANK_03:863Do
		.BYTE  $C, $C, $C, $C, $C,$1E,	0,  0,$18,$18,$18,$18,$18,$3C,	0,  0
byte_3E4AB:	.BYTE	4,$FE,$10,$10,$20,$45,$FE,$10,$40,$40,$40,$44,$FE,  8,$88,$88
					; DATA XREF: BANK_03:863Fo
		.BYTE $10,$7C,$10,$10,$1E,$F0,$41,  6,$88,$90,$50,$20,$50,$88, $E,  4
byte_3E4CB:	.BYTE	1,  1,	1,  1,$7F,  5,	5,  5,	0,  0,	0,  8,$FC,$40,$40,$40
					; DATA XREF: BANK_03:8641o
		.BYTE	9,  9,$11,$2F,$C1,  1,	1,  1,$20,$20,$10,$EE,	4,  0,	0,  0
byte_3E4EB:	.BYTE	1,  1,	1,  1,$7F,$41,$41,$42,	0,  0,	0,  4,$FE,  4,	4,  4
					; DATA XREF: BANK_03:8643o
		.BYTE $42,$44,$48,$50,$40,$40,$40,$40,$84,$64,$34,$14,	4,  4,$14,  8
byte_3E50B:	.BYTE	1,$7F,	1,  1,	1,$3F,$20,$20,	8,$88,	8,  8,	8,  8,	8,  8
					; DATA XREF: BANK_03:8645o
		.BYTE $41,$7F,	1,  1,	1,$11, $A,  4,	8,$88,	8,  8,	8,  8,	8,  8
byte_3E52B:	.BYTE $10,$10,$12,$1F,$10,$13,$10,$7E,$40,$50,$48,$48,$7E,$C0,$40,$40
					; DATA XREF: BANK_03:8647o
		.BYTE $42,$42,$42,$42,$42,$7E,$41,  2,$48,$28,$30,$20,$50,$92, $A,  6
byte_3E54B:	.BYTE	9,  8,$1F,$31,$5F,$91,$1F,$11,	0,$90,$F8,  0,$F0,  0,$F0,  0
					; DATA XREF: BANK_03:8649o
		.BYTE $1F,$11,$FF,  5,	9,$11,$61,  1,$F8,  0,$FE,$40,$20,$1C,	8,  0
byte_3E56B:	.BYTE	8,$7F,$48,$48,$48,$78,$48,$49,	8,$FC,$20,$20,$40,$C0,$C0,$50
					; DATA XREF: BANK_03:864Bo
		.BYTE $49,$7A,$4C,$48,$48,$48,$4F,$98,$4C,$46,$42,$40,$40,$44,$FE,  0
byte_3E58B:	.BYTE	4,$3E,$24,$24,$24,$3D,$27,$24,$20,$20,$40,$40,$88,  4,$FE,  2
					; DATA XREF: BANK_03:864Do
		.BYTE $24,$3D,$25,$25,$25,$45,$95,  9,	4,$FE,	4,  4,	4,  4,$FC,  4
byte_3E5AB:	.BYTE $10,$10,$11,$10,$14,$1E,$F0,$10,	0,  4,$FE,$44,$44,$44,$44,$44
					; DATA XREF: BANK_03:864Fo
		.BYTE $10,$12,$14,$18,$10,  1,	2, $C,$44,$44,$44,$84,$84,  4,$28,$10
byte_3E5CB:	.BYTE	1,  1,	2,  4,	8,$10,$24,$C4,	0,  0,$80,$40,$20,$10,$4E,$44
					; DATA XREF: BANK_03:8651o
		.BYTE	4,  4,	4,  8,	8,$10,$20,  0,$40,$40,$40,$40,$40,$40,$40,$40
byte_3E5EB:	.BYTE $10,$13,$20,$20,$44,$F9,$11,$22,	4,$FE,$84,$84,$84,  4,	4,$14
					; DATA XREF: BANK_03:8653o
		.BYTE $44,$FC,	1,  1,$1D,$E1,$41,  1,	8,  4,$FE,  4,	4,  4,$FC,  4
byte_3E60B:	.BYTE	1,  0,$1F,$12,$92,$53,$54,$18,	0,$84,$FE,  0,	8,$FC,$40,$40
					; DATA XREF: BANK_03:8655o
		.BYTE $30,$5F,$D0,$10,$20,$21,$42, $C,$44,$FE,$40,$A0,$A0,$10, $E,  4
byte_3E62B:	.BYTE	1,  0,$1F,$10,$97,$50,$50,$17,	0,$84,$FE,  0,$F8,$A0,$44,$FE
					; DATA XREF: BANK_03:8657o
		.BYTE $34,$57,$D4,$17,$24,$24,$44,  4,$44,$FC,$44,$FC,$44,$44,$54,$48
byte_3E64B:	.BYTE $10, $C,	4,$3F,	4,  4,	4,  4,$10,$30,$40,$FC,$20,$20,$20,$24
					; DATA XREF: BANK_03:8659o
		.BYTE $FF,  4,	4,  4,	8,  8,$10,$20,$FE,$20,$20,$20,$20,$20,$20,$20
byte_3E66B:	.BYTE $10,  8,	2,$FF,$24,$22,$41,$A4,$20,$20,$20,$24,$7E,$84,$44,$44
					; DATA XREF: BANK_03:865Bo
		.BYTE $14,  8,$14,$24,$22,$42,$80,  1,$48,$28,$28,$10,$28,$28,$46,$84
byte_3E68B:	.BYTE	8,  8,$3F,  8,	8, $F,	8,  8,$20,$20,$F8,$20,$20,$E0,$20,$20
					; DATA XREF: BANK_03:865Do
		.BYTE  $F,  8,	8,$FF,	0,  8,$18,$20,$E0,$20,$24,$FE,	0,$20,$18,  8
byte_3E6AB:	.BYTE $22,$21,$20,$20,$27,$FC,$25,$24,	8,$10,$A0,  4,$FE,$44,$54,$44
					; DATA XREF: BANK_03:865Fo
		.BYTE $27,$20,$3B,$E2,$43,  2,	3,  2,$FC,  8,$FC,  8,$F8,  8,$F8,  8
byte_3E6CB:	.BYTE	8,  8, $F,$10,$12,$31,$51,$9F,$80,$48,$FC,  0,$18,$10,$24,$FE
					; DATA XREF: BANK_03:8661o
		.BYTE $10,$13,$12,$12,$12,$12,$13,$12,	8,$FC,	8,  8,	8,  8,$F8,  8
byte_3E6EB:	.BYTE	0,$40,$20,$20, $F,  0,$E0,$27,$20,$28,$24,$20,$FE,$20,$20,$E0
					; DATA XREF: BANK_03:8663o
		.BYTE $21,$21,$21,$21,$29,$37,$22,  0,$20,$10,$10,$10,$D2,$12, $A,  4
byte_3E70B:	.BYTE	0,  0,	3,  1,	1,  1,	1,  1,	0,  0,$C0,$80,$80,$80,$80,$80
					; DATA XREF: BANK_03:8665o
		.BYTE	1,  1,	1,  1,	1,  3,	0,  0,$80,$80,$80,$80,$80,$C0,	0,  0
byte_3E72B:	.BYTE	0,  0,	3,  6, $C,$18,$18,$18,	0,  0,$F0,$1C, $C,  4,	0,  0
					; DATA XREF: BANK_03:8667o
		.BYTE $18,$18,$18, $C,	6,  3,	0,  0,	0,$3C,$18,$18,$18,$F0,	0,  0
byte_3E74B:	.BYTE	8,  8, $F,$10,$10,$33,$52,$93,$40,$48,$FC,$40,$48,$FC,	8,$F8
					; DATA XREF: BANK_03:8669o
		.BYTE $12,$13,$12,$13,$12,$12,$1F,$10,	8,$F8,	8,$F8,	8,  8,$FE,  0
byte_3E76B:	.BYTE	2,  2,	3,  2,	2,  2,$FF,  2,	0,$20,$F0,  0,	0,  4,$FE,  0
					; DATA XREF: BANK_03:off_3866Bo
		.BYTE	2,  2,	2,  2,	2,  2,	2,  2,	0,$80,$60,$30,$10,  0,	0,  0
byte_3E78B:	.BYTE	0,$3F,$20,$20,$20,$3F,$20,$20,	8,$FC,	0,  0,	4,$FE,$80,$80
					; DATA XREF: BANK_03:866Do
		.BYTE $20,$20,$20,$20,$40,$40,$82,  1,$80,$80,$80,$80,$80,$80,$80,  0
byte_3E7AB:	.BYTE	2,$41,$20,$2F,$82,$62,$23,  2,$10,$14,$1E,$E0,$40,$3E,$84,$88
					; DATA XREF: BANK_03:866Fo
		.BYTE $12,$22,$E2,$24,$24,$28,$31,$20,$88,$FE,$88,$88,$88,$88,$A8,$10
byte_3E7CB:	.BYTE	0,  0,$7E,  2,$43,$24,$14,$14,$40,$50,$48,$40,$FE,$40,$44,$44
					; DATA XREF: BANK_03:8671o
		.BYTE	8,$14,$12,$22,$40,$80,	1,  2,$48,$48,$50,$20,$60,$92, $A,  6
byte_3E7EB:	.BYTE	0,$3F,$20,$20,$20,$3F,$24,$24,	8,$FC,	8,  8,	8,$F8,	0,$10
					; DATA XREF: BANK_03:8673o
		.BYTE $24,$24,$27,$24,$24,$44,$43,$80,$30,$C0,	0,  0,	2,  2,$FE,  0
byte_3E80B:	.BYTE $10,$10,$10,$10,$FD,$12,$30,$38,$80,$80,$84,$FE,	4,  4,$44,$44
					; DATA XREF: BANK_03:8675o
		.BYTE $54,$50,$11,$11,$10,$10,$10,$10,$84,$A4,$14,$F4,$14,  4,$28,$10
byte_3E82B:	.BYTE	8,  8,	8,$10,$10,$30,$5F,$90,$40,$40,$40,$40,$40,$44,$FE,$40
					; DATA XREF: BANK_03:8677o
		.BYTE $10,$10,$10,$10,$10,$10,$10,$10,$40,$40,$40,$40,$40,$40,$40,$40
byte_3E84B:	.BYTE	0,  8,$7C,$4B,$48,$48,$4F,$48,$40,$40,$48,$FC,$40,$44,$FE,$40
					; DATA XREF: BANK_03:8679o
		.BYTE $48,$48,$4F,$78,$48,  0, $F,  0,$40,$48,$FC,$40,$40,$44,$FE,  0
byte_3E86B:	.BYTE	2,  1,$3F,$20,$3F,$21,$20,$3F,	0,  8,$FC,  8,$F8,  0,$84,$FE
					; DATA XREF: BANK_03:867Bo
		.BYTE $22,$22,$23,$22,$44,$44,$88,$10,	0,$10,$F8,$10,$10,$10,$A0,$40
byte_3E88B:	.BYTE $10,$10,$20,$21,$49,$FB,$15,$21,$80,$A0,$94,$FE,$10,$10,$FC,$10
					; DATA XREF: BANK_03:867Do
		.BYTE $41,$FD,	1,  1,$1D,$E1,$41,  1,$10,$FC,$10,$10,$14,$FE,	0,  0
byte_3E8AB:	.BYTE	0, $F,$72,$52,$5F,$52,$52,$52,	0,$DE,$52,$54,$D4,$54,$58,$54
					; DATA XREF: BANK_03:867Fo
		.BYTE $5F,$52,$52,$74,$54,  9,$10,  0,$D2,$52,$52,$52,$5A,$54,$90,$10
byte_3E8CB:	.BYTE	2,  1,$7F,$48,$8E,$12,$2C,$68,	0,  0,$FE,  2,$F4,$90,$60,$20
					; DATA XREF: BANK_03:8681o
		.BYTE $17,$20,$5F,$81,	9,$11,$25,  2,$D0, $E,$F4,  0,$20,$18,	8,  0
byte_3E8EB:	.BYTE	4,  4,	4,$FF,	4,  4, $F,  8,	0,  0,	4,$FE,	0,  0,$F0,$10
					; DATA XREF: BANK_03:8683o
		.BYTE $14,$12,$21,$40,$81,  6,$18,$60,$20,$20,$40,$80,$40,$30, $E,  4
byte_3E90B:	.BYTE	2,$7C,$40,$48,$46,$4A,$F0,  1,	4,$FE,$44,$44,$44,$44,$94,  8
					; DATA XREF: BANK_03:8685o
		.BYTE $3F,$21,$21,$3F,$21,$21,$3F,$20,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_3E92B:	.BYTE $10,$11,$11,$11,$59,$55,$51,$91,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:8687o
		.BYTE $10,$11,$12,$14,$10,$11,$12,$10,$84,$FE,$A4,$A4,$A4,$24,$54,$88
byte_3E94B:	.BYTE $10,$1E,$10,$3E,$44,$29,$12,$65,	0,$F8,$88,$50,$20,$50,$8C,$44
					; DATA XREF: BANK_03:8689o
		.BYTE  $F,$38,$CF,  8, $F, $A,	9, $C,$E0,$3E,$E4,$20,$E0,$10,$A0,$78
byte_3E96B:	.BYTE	0,$3F,	1,  1,	1,  1,	1,$FF,$10,$F8,	0,  0,	0,  0,	4,$FE
					; DATA XREF: BANK_03:868Bo
		.BYTE	1,  1,	1,  1,	1,  1,	1,  1,	0,  0,	0,  0,	0,  0,	0,  0
byte_3E98B:	.BYTE	8, $A,$FF,  8,$7E,  8,$FF,  8,	0,$7C,$48,$50,$58,$44,$64,$58
					; DATA XREF: BANK_03:868Do
		.BYTE $11,$3F,$D1,$11,$11,$11,$11,  1,$50,$F0,$10,$10,$10,$50,$20,  0
byte_3E9AB:	.BYTE $10,$10,$10,$10,$5F,$5A,$52,$92,$80,$60,$20,  4,$FE,  0,	0,  0
					; DATA XREF: BANK_03:868Fo
		.BYTE $12,$12,$12,$12,$12,$13,$10,$10,	0,  0,	0,  0,	8,$FC,	0,  0
byte_3E9CB:	.BYTE $10,$7E,$10,$28,$7E,  8,$FE,  9, $C,$F0,$80,$84,$FE,$90,$90,$10
					; DATA XREF: BANK_03:8691o
		.BYTE  $A,  0,$1F,$10,$1F,$10,$1F,$10,$10,$10,$F8,$10,$F0,$10,$F0,$10
byte_3E9EB:	.BYTE $10,$13,$12,$14,$FB,$10,$11,$1A,	0,$FE,$44,$48,$FC,$80,$20,$28
					; DATA XREF: BANK_03:8693o
		.BYTE $33,$D0,$10,$17,$10,$10,$50,$20,$FC,$20,$24,$FE,$20,$20,$20,$20
byte_3EA0B:	.BYTE $10,$13,$28,$24,$43,$A1,$11,  1,	4,$FE,$20,$44,$FE,  4,$24,$24
					; DATA XREF: BANK_03:8695o
		.BYTE $FF,  3,	5,$29,$10,  8,	8,  3,$24,$24,$24,$24,$50,$48,$86,  2
byte_3EA2B:	.BYTE	0,$40,$37,$14,	4,$84,$64,$24,	0,  4,$FE,  0,	0,  0,	0,  0
					; DATA XREF: BANK_03:8697o
		.BYTE  $C,$14,$E4,$24,$24,$24,$27,$20,	0,  0,	0,  0,	0,  4,$FE,  0
byte_3EA4B:	.BYTE	0,$1F,$10,$11,$11,$11,$11,$11,$10,$F8,$10,$10,$10,$10,$10,$10
					; DATA XREF: BANK_03:8699o
		.BYTE $11,$11,$11,$12,	2,  4,	8,$30,$10,$10,$10,$10,$40,$20,$18,  8
byte_3EA6B:	.BYTE	0,$14,$FC,$24,$24,$27,$20,$FF,$40,$44,$44,$44,$44,$FC,	0,$FE
					; DATA XREF: BANK_03:869Bo
		.BYTE $20,$27,$24,$24,$3C,$E4,$44,  4,$84,$FE,$A4,$A4,$A4,$A4,$A4, $C
byte_3EA8B:	.BYTE $10,$14,$3E,$49,	5,  1,$3F,  1,$40,$48,$FC,$20,$10,  0,$F8,  0
					; DATA XREF: BANK_03:869Do
		.BYTE $FF,  0,	0,$3F,	8,  4,	1,  0,$FE,$40,$50,$F8,$40,$40,$40,$80
byte_3EAAB:	.BYTE	8,$1D,$F0,$10,$10,$FD,$11,$39,$20,$24,$A4,$A8,$24,$FE,	4,  4
					; DATA XREF: BANK_03:869Fo
		.BYTE $35,$51,$51,$91,$11,$11,$11,$11,$FC,  4,	4,$FC,	4,  4,$14,  8
byte_3EACB:	.BYTE $12,$12,$2A,$4A,$8A,$1F,$20,$7F,$10,$10,$90,$A4,$BE,$C4,$24,$A8
					; DATA XREF: BANK_03:86A1o
		.BYTE $A0,$2F,$29,$29,$29,$29,$30,$20,$28,$28,$10,$50,$A8,$28,$46,$84
byte_3EAEB:	.BYTE	0,$20,$10,$10,$FE,  0,$44,$44,$40,$40,$44,$7E,$40,$40,$40,$44
					; DATA XREF: BANK_03:86A3o
		.BYTE $25,$25,$29,  9,$1F,$E1,$41,  1,$FE,  4,	4,  4,	4,  4,$FC,  4
byte_3EB0B:	.BYTE	0,$7D,$45,$45,$45,$7D,$11,$11,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:86A5o
		.BYTE $5C,$51,$52,$54,$5C,$F1,$42,  0,$84,$FE,$A4,$A4,$A4,$24,$54,$88
byte_3EB2B:	.BYTE	1,$7F,$41,$41,$63,$63,$55,$55,	4,$84,	4,$24,$24,$24,$24,$24
					; DATA XREF: BANK_03:86A7o
		.BYTE $49,$55,$53,$63,$41,$41,$45,$42,$24,$24,$24,$24,	4,  4,$14,  8
byte_3EB4B:	.BYTE	2,$44,$2F,$28, $F,  8,$EF,$28,	8,$88,$C8,$88,$88,$FE,$88,$88
					; DATA XREF: BANK_03:86A9o
		.BYTE $28,$3F,$21,$2A,$34,$28,$12,  1,$C8,$A8,$A8,$88,$88,$88,$A8,$10
byte_3EB6B:	.BYTE	2,  1,$FF,$10,$10,$10,$10,$1F,	0,  4,$FE,  0,	0,  0,$10,$F8
					; DATA XREF: BANK_03:86ABo
		.BYTE	0,  2,$11,$50,$50,$90, $F,  0,	0,  0,	0,$84,$92,$12,$F0,  0
byte_3EB8B:	.BYTE	8,  8,$10,$10,$22,$7F,	8,$10,$40,$50,$48,$40,$7C,$C0,$44,$7E
					; DATA XREF: BANK_03:86ADo
		.BYTE $23,$7C,	0,  0,$1C,$E0,$43,  0,$C0,$48,$50,$20,$60,$92, $A,  6
byte_3EBAB:	.BYTE	1,  1,	1,  1,$FF,  1,	1,  1,	0,  0,	0,  4,$FE,  0,	0,$10
					; DATA XREF: BANK_03:86AFo
		.BYTE $1F,$10,$10,$10,$10,$10,$1F,$10,$F8,$10,$10,$10,$10,$10,$F0,$10
byte_3EBCB:	.BYTE	0,  8,$7F,$49,$49,$4F,$49,$49,$20,$B0,$28,$20,$24,$FE,$20,$20
					; DATA XREF: BANK_03:86B1o
		.BYTE $49,$49,$4F,$49,$79,$41,	5,  2,$20,$D4,$18,$10,$30,$4A,$8A,  6
byte_3EBEB:	.BYTE $22,$21,$2F,$22,$F4,$2F,$20,$37,$10,$10,$D0,$14,$BE,$C4,$24,$A8
					; DATA XREF: BANK_03:86B3o
		.BYTE $24,$E7,$24,$27,$24,$24,$A4,$45,$A8,$A8,$90,$90,$A8,$A8,$C6,$84
byte_3EC0B:	.BYTE	3,$42,$32,$13,	2,  2,$F3,$12,$F8,  8,	8,$F8,	8,  8,$FC,  8
					; DATA XREF: BANK_03:86B5o
		.BYTE $12,$12,$12,$13,$12,$28,$44,  3,$D0,$20,$90, $C,	4,  0,	6,$FC
byte_3EC2B:	.BYTE	0,  8,$7F,$48,$49,$48,$4F,$78,$80,$48,$FC,  0,$10,$A4,$FE,  8
					; DATA XREF: BANK_03:86B7o
		.BYTE $4B,$4A,$4A,$4B,$7A,$4A,	3,  2,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_3EC4B:	.BYTE	0,  2,$3F,  0,	0,$FF,	4,  4,$40,$50,$48,$48,$40,$FE,$40,$40
					; DATA XREF: BANK_03:86B9o
		.BYTE $27,$24,$24,$24,$27,$F8,$40,  0,$40,$40,$20,$20,$A0,$12, $A,  6
byte_3EC6B:	.BYTE	2,  2,	2,  2,$3F,  2,	2,$12,	0,  0,	0,$20,$F0,$20,$20,$30
					; DATA XREF: BANK_03:86BBo
		.BYTE $32,$22,$44,$84,	8,$10,$20,  0,$2C,$26,$22,$20,$20,$A0,$40,  0
byte_3EC8B:	.BYTE $10,$10,$10,$11,$59,$55,$51,$91,$20,$20,$44,$FE,	4,  4,	4,  4
					; DATA XREF: BANK_03:86BDo
		.BYTE $11,$11,$11,$11,$11,$11,$11,$11,$FC,  4,	4,  4,	4,  4,$FC,  4
byte_3ECAB:	.BYTE  $C,$71,$40,$7C,$40,$7F,	2,$52,	8,$FC,	8,$F8,	8,$F8,	0,$90
					; DATA XREF: BANK_03:86BFo
		.BYTE $4A,$42,$52,$4A,$42,$73,$C6,  0,$50,$10,$90,$50,$10,$8A, $A,  6
byte_3ECCB:	.BYTE	0,  1,$77,$54,$55,$54,$57,$54,$80,  4,$FE,$44,$54,$44,$FC,$C4
					; DATA XREF: BANK_03:86C1o
		.BYTE $55,$56,$70,$4F,	0,  1,	2, $C,$74,$4C,$40,$FE,$A0,$10,	8,  6
byte_3ECEB:	.BYTE	4,$25,$25,$24,$24,$24,$24,$24,	0,$F8,	8,$90,$90,$60,$20,$D0
					; DATA XREF: BANK_03:86C3o
		.BYTE $27,  5,	1,$3F,	1,  1,$FF,  0, $E,  4,$10,$F8,	0,  4,$FE,  0
byte_3ED0B:	.BYTE $10,$10,$10,$13,$FC,$10,$17,$18,$40,$40,$50,$F8,$40,$48,$FC,$10
					; DATA XREF: BANK_03:86C5o
		.BYTE $30,$D7,$12,$11,$11,$10,$50,$20,$14,$FE,$10,$10,$10,$10,$50,$20
byte_3ED2B:	.BYTE	1,  2, $C,$37,$C0,$1F,$10,$1F,	0,$80,$60,$DE,	4,$F0,$10,$F0
					; DATA XREF: BANK_03:86C7o
		.BYTE	0,$3F,	1,$1F,	1,$7F,	1,  3,$30,$C0,	0,$F0,	0,$FC,	0,  0
byte_3ED4B:	.BYTE	0,$40,$30,$17,$80,$60,$20,  8,$80,$40,$44,$FE,$40,$40,$40,$48
					; DATA XREF: BANK_03:86C9o
		.BYTE $17,$20,$E0,$20,$20,$20,$2F,$20,$FC,$40,$40,$40,$40,$44,$FE,  0
byte_3ED6B:	.BYTE	2,  2,$21,$11,$19,  9,	0,  0,	0,  8,	8,$10,$10,$20,$20,$44
					; DATA XREF: BANK_03:86CBo
		.BYTE $FF,  0,	0,  4, $C,$10,$20,$40,$FE,  0,	0,$40,$20,$18, $C,  4
byte_3ED8B:	.BYTE $10,$10,$10,$10,$FD,$12,$11,$1D,$80,$80,$84,$FE,	4,$14,$FC,$14
					; DATA XREF: BANK_03:86CDo
		.BYTE $31,$D1,$11,$11,$11,$11,$50,$20,$14,$F4,$14,  8,	2,  2,$FE,  0
byte_3EDAB:	.BYTE $22,$14,$FF,$14,$7F,$15,$15,$FF,$20,$20,$A0,$3E,$42,$94,$10,$D0
					; DATA XREF: BANK_03:86CFo
		.BYTE $15,$15,$7F,$14,$36,$55,$94,$15,$10,$10,$28,$28,$48,$4C,$86,  4
byte_3EDCB:	.BYTE	1,$4F,$29,  9,	9, $F,$E8,$28,$20,$90,$14,$FE,	0,$44,$28,$FE
					; DATA XREF: BANK_03:86D1o
		.BYTE $2F,$39,$29,$29,$2F,$50,$8F,  0,$10,$10,$7C,$10,$10,$16,$FC,  0
byte_3EDEB:	.BYTE	4, $E,$78,  8,	8,$7E,	8,  8,	8,$FC,$20,$28,$FC,$20,$28,$FC
					; DATA XREF: BANK_03:86D3o
		.BYTE $FF,  8,	9,  8,$10,$10,$20,$40,$20,$24,$FE,$20,$20,$20,$20,$20
byte_3EE0B:	.BYTE $10,$10,$17,$10,$FC,$10,$14,$18,$10,$38,$C0,$40,$40,$40,$40,$44
					; DATA XREF: BANK_03:86D5o
		.BYTE $37,$D0,$10,$10,$10,$10,$50,$20,$FE,$40,$40,$40,$42,$42,$3E,  0
byte_3EE2B:	.BYTE	0,  0,$7F,$40,$40,$47,$44,$44,	0,  4,$FE,  4,$44,$E4,$44,$44
					; DATA XREF: BANK_03:86D7o
		.BYTE $44,$44,$47,$44,$40,$7F,$40,  0,$44,$44,$C4,$44,	4,$FC,	4,  0
byte_3EE4B:	.BYTE $10,$12,$1F,$28,$45,  2,	4,  8,$40,$48,$7C,$A0,$10,$80,$40,$20
					; DATA XREF: BANK_03:86D9o
		.BYTE $1F,$20,$CF,  8,	8,  8, $F,  8,$F8, $E,$E4,$20,$20,$20,$E0,$20
byte_3EE6B:	.BYTE $20,$20,$2F,$20,$F8,$20,$20,$20,	0,  4,$FE,$20,$20,$40,$40,$D0
					; DATA XREF: BANK_03:86DBo
		.BYTE $21,$2A,$34,$E8,$40,  0,	0,  0,$4C,$46,$42,$40,$40,$40,$40,$40
byte_3EE8B:	.BYTE	8, $B,	8,$10,$10,$30,$50,$9F,	0,$F8,	8,$10,$20,$40,$44,$FE
					; DATA XREF: BANK_03:86DDo
		.BYTE $10,$10,$10,$10,$10,$10,$11,$10,$40,$40,$40,$40,$40,$40,$40,$80
byte_3EEAB:	.BYTE $10,$10,$21,$21,$45,$F9,$11,$21,	0,  4,$FE,$24,$24,$24,$24,$24
					; DATA XREF: BANK_03:86DFo
		.BYTE $41,$FD,	1,  1,$1D,$E1,$41,  1,$FC,$24,$24,$24,$24,$24,$FC,  4
byte_3EECB:	.BYTE $10,$13,$22,$22,$4B,$F8,$17,$24,	8,$FC,	8,  8,$F8,$44,$FE,$44
					; DATA XREF: BANK_03:86E1o
		.BYTE $44,$FF,$44,  4,$1F,$E4,$40,  0,$44,$FC,$44,$44,$FC,$40,$42,$3E
byte_3EEEB:	.BYTE	0,$2F,$F9,$A9,$AA,$AA,$AC,$AA,	4,$7E,	4,  4,$14,$7C,$54,$54
					; DATA XREF: BANK_03:86E3o
		.BYTE $AA,$A9,$E9,$AD, $A,  8,	8,  8,$54,$54,$74,$54,	4,  4,$14, $C
byte_3EF0B:	.BYTE	0,$3F,$21,$3F,$21,$3F,$22,  4,	8,$FC,	8,$F8,	8,$F8,	8,$20
					; DATA XREF: BANK_03:86E5o
		.BYTE $3F,  2,	4,$3F,	9,$11,$65,  2,$C0,$10,	8,$F8,$20,$18,	8,  0
byte_3EF2B:	.BYTE	0,$40,$33,$10,	0,  0,$F7,$10,$10,$38,$C0,$40,$40,$44,$FE,$40
					; DATA XREF: BANK_03:86E7o
		.BYTE $10,$13,$12,$12,$16,$1A,$13,  2,$48,$FC,	8,  8,	8,  8,$F8,  8
byte_3EF4B:	.BYTE $10,$10,$93,$55,$39,$11,$7D,$11,	8,$1C,$E0,  0,	0,  0,$F8,  8
					; DATA XREF: BANK_03:86E9o
		.BYTE $11,$FD,$11,$11,$22,$22,$44,$89,$88,$48,$50,$20,$50,$48,$8E,  4
byte_3EF6B:	.BYTE	8,  8,$10,$27,$48,  8,$17,$30,$40,$40,$48,$FC,$40,$44,$FE,$40
					; DATA XREF: BANK_03:86EBo
		.BYTE $52,$92,$12,$12,$15,$14,$18,$10,$48,$7C,$40,$40,$40,$C6,$7C,  0
byte_3EF8B:	.BYTE $10,$3E,$50,  9,	1,$FF,	1,$3F,$20,$7C,$A0,$10,	4,$FE,	8,$FC
					; DATA XREF: BANK_03:86EDo
		.BYTE $21,$23,$25,  5,	9,$11,$61,  1,	8,$88,$58,$20,$10, $E,	4,  0
byte_3EFAB:	.BYTE	0,$7C,$44,$48,$48,$50,$48,$48,	4,$FE,$84,$84,$84,$FC,$84,$84
					; DATA XREF: BANK_03:86EFo
		.BYTE $44,$44,$44,$68,$51,$41,$42,$44,$84,$FC,$84,$84,	4,  4,$14,  8
byte_3EFCB:	.BYTE	2,$42,$3F,$12,	3,  2,$F2,$13,	8,  8,$FE,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:86F1o
		.BYTE $10,$1F,$10,$10,$15,$1A,$14,  0,$44,$FE,$40,$E0,$50,$4E,$44,$40
byte_3EFEB:	.BYTE	0,$40,$32,$11,	0,  0,$F7,$10,$40,$40,$48,$50,$40,$44,$FE,$40
					; DATA XREF: BANK_03:86F3o
		.BYTE $11,$11,$12,$14,$10,$28,$44,$83,$60,$50,$48,$48,$40,$40,	6,$FC
byte_3F00B:	.BYTE $10,$10,$10,$1F,$20,$20,$7F,$90,$90,$90,$90,$FC,$90,$94,$FE,  8
					; DATA XREF: BANK_03:86F5o
		.BYTE $11,$7D,$11,$11,$15,$19,$11,  1,$FC,  8,	8,$F8,	8,  8,$F8,  8
byte_3F02B:	.BYTE $20,$1B,$4A,$22,	3,$12,$22,$64,$20,$FE,$22,$24,$F8,$88,$50,$20
					; DATA XREF: BANK_03:86F7o
		.BYTE $28,$22,$FF,  8,	4,  3, $C,$30,$50,$8C,$FE,$20,$40,$80,$60,$10
byte_3F04B:	.BYTE	1,$FF,$14,$14,$7F,$55,$55,$57,$10,$90,$50,$7C,$50,$90,$10,$FE
					; DATA XREF: BANK_03:86F9o
		.BYTE $61,$41,$41,$7F,$41,$41,$7F,$41,	4,$7E,$44,$44,$44,$44,$7C,$44
byte_3F06B:	.BYTE	0,$3F,$21,$21,$21,$3F,$21,$21,	8,$FC,	8,  8,	8,$F8,	8,  8
					; DATA XREF: BANK_03:86FBo
		.BYTE $21,$3F,$20,  2,$51,$50,$90, $F,	8,$F8,	8,  0,$88,$96,$12,$F0
byte_3F08B:	.BYTE $10,$12,$12,$22,$3F,$62,$A2,$22,$20,$20,$20,$24,$FE,$84,$44,$44
					; DATA XREF: BANK_03:86FDo
		.BYTE $2F,$28,$28,$28,$28,$2F,$28,$20,$C8,$A8,$A8,$90,$A8,$A8,$46,$84
byte_3F0AB:	.BYTE	0,$40,$2F,$20,	0,  7,$E0,$20,$80,$88,$FC,$80,$90,$F8,$80,$88
					; DATA XREF: BANK_03:86FFo
		.BYTE $2F,$20,$20,$20,$20,$50,$8F,  0,$FC,$88,$88,$A8,$90,$86,$FC,  0
byte_3F0CB:	.BYTE $40,$2F,$28,  8,$8F,$68,$2F,  8,	4,$FE,	4,  4,$FC,  0,$FE,  4
					; DATA XREF: BANK_03:8701o
		.BYTE $2F,$4C,$D5,$54,$55,$64,$44,$44,$FE,$44,$54,$44,$54,$44,$54,$48
byte_3F0EB:	.BYTE $10,$10,$11,$10,$FE,$22,$22,$22,	0,  0,$FC,  4,$84,$84,$88,$88
					; DATA XREF: BANK_03:8703o
		.BYTE $42,$24,$14,  8,$14,$22,$41,  6,$48,$50,$50,$20,$50,$88, $E,  4
byte_3F10B:	.BYTE	1,$3F,	1,  1,$FF,  1,	1,$3F,$10,$F8,$10,$14,$FE,$10,$10,$F0
					; DATA XREF: BANK_03:8705o
		.BYTE $21,$11, $D,  9,$31,$C1,	5,  2,	8,$98,$60,$20,$18, $E,	4,  0
byte_3F12B:	.BYTE	0,$43,$32,$12,	3,  0,$E7,$20,	8,$FC,	8,  8,$F8,  0,$FC,$40
					; DATA XREF: BANK_03:8707o
		.BYTE $20,$2F,$20,$20,$28,$31,$22,  4,$44,$FE,$40,$A0,$A0,$10, $E,  4
byte_3F14B:	.BYTE $10,$11,$17,$25,$24,$65,$A7,$22,$80,  4,$FE,$14,$E4,$14,$FC,  8
					; DATA XREF: BANK_03:8709o
		.BYTE $25,$29,$23,$24,$28,$20,$23,$2C,	6,$FA,	8,$90,$60,$90, $E,  4
byte_3F16B:	.BYTE	0,  1,$3E,$22,$22,$22,$22,$22,$38,$C0,$20,$20,$20,$20,$20,$20
					; DATA XREF: BANK_03:870Bo
		.BYTE $22,$22,$22,$22,$22,$42,$83,  0,$10,$10,$10,$88,$68,$A6,	4,  0
byte_3F18B:	.BYTE	4,$7C,	4,$7C,	4,$7C,	6,  4,$88,$FC,$80,$FC,$80,$FC,$80,$10
					; DATA XREF: BANK_03:870Do
		.BYTE $3F,  9,$1F,  1,$FF,  1,	1,  1,$F8,  0,$F0,  4,$FE,  0,	0,  0
byte_3F1AB:	.BYTE	0,$3F,$20,$20,$3F,$20,$20,$2F,$78,$80,$80,$84,$FE,$80,$88,$FC
					; DATA XREF: BANK_03:870Fo
		.BYTE $28,$28,$28,$28,$49,$42,$8C,$30,	8,$88,$88,$88,	8,$70, $C,  4
byte_3F1CB:	.BYTE	1,  1,$3F,  1,	1,$7F,	8,  6,	0,$10,$F8,  0,	0,$FC,	4,$88
					; DATA XREF: BANK_03:8711o
		.BYTE $22,$18,	8,$FF,	1,  2, $C,$30,$80,$80,$84,$FE,$40,$30,$18,  8
byte_3F1EB:	.BYTE $11,  9,$7F,$40,$9F,$10,$1F,  0,$10,$20,$FE,  2,$F4,$10,$F0,$38
					; DATA XREF: BANK_03:8713o
		.BYTE $7F,  1,$3F,  1,$FF,  1,	5,  2,$C0,  0,$F8,  0,$FE,  0,	0,  0
byte_3F20B:	.BYTE $10,$13,$12,$12,$FF,$12,$17,$1A,	8,$FC,	8,  8,$F8,  0,$FC,$40
					; DATA XREF: BANK_03:8715o
		.BYTE $32,$D3,$12,$12,$14,$14,$5B,$20,$88,$FC,$20,$F8,$20,$24,$FE,  0
byte_3F22B:	.BYTE	0,  0,	0,$3F,$20,$3F,$24,$24,$80,$A0,$90,$FC,$80,$80,$84,$44
					; DATA XREF: BANK_03:8717o
		.BYTE $3F,$29,$31,$2A,$24,$4A,$91,  2,$C8,$48,$30,$20,$60,$92, $A,  6
byte_3F24B:	.BYTE $3F,  2,	1,$3F,$21,$3F,$21,$3F,$F0,$40,$88,$FC,	8,$F8,	8,$F8
					; DATA XREF: BANK_03:8719o
		.BYTE $21,$21,$7F,  2,	2,  4,$18,$60,	8,$10,$F8,  8,	8,  8,$50,$20
byte_3F26B:	.BYTE	0,$7C,	4,  8,$FF,$24,$24,$3C,$40,$40,$40,$84,$FE,  8,$88,$88
					; DATA XREF: BANK_03:871Bo
		.BYTE $24,$3C,$24,$24,$FE,  4,	5,  6,$50,$50,$20,$50,$50,$88, $E,  4
byte_3F28B:	.BYTE	1,  0,$1F,$12,$92,$53,$55,$19,	0,$84,$FE,  0,	4,$FE,$24,$24
					; DATA XREF: BANK_03:871Do
		.BYTE $31,$5F,$D1,$11,$12,$22,$44,  8,$24,$E4,$24,$24,$A4,$7C,$24,  0
byte_3F2AB:	.BYTE	8,  8,	8,$10,$11,$32,$54,$99,$40,$40,$40,$A0,$10,  8,	6,$14
					; DATA XREF: BANK_03:871Fo
		.BYTE $11,$11,$11,$11,$11,$11,$12,$14,$10,$10,$10,$10,$10,$10,$10,$10
byte_3F2CB:	.BYTE $10,$10,$11,$22,$24,$6B,$B0,$27,$80,$80,$40,$20,$10,$EE,	4,$88
					; DATA XREF: BANK_03:8721o
		.BYTE $24,$27,$24,$27,$24,$24,$24,$25,$A8,$A8,$A8,$A8,$A8,$88,$A8,$90
byte_3F2EB:	.BYTE	0,  1,$7D,  5,$45,$29,$29,$11,	8,$FC,	8,$28,$28,$28,$28,$48
					; DATA XREF: BANK_03:8723o
		.BYTE $11,$29,$25,$44,$80,  1,	6,$18,$48,$48,$68,$A0,$A0,$22,$22,$1E
byte_3F30B:	.BYTE $10,$17,$11,$11,$FD,$11,$31,$39,	8,$FC,	8,  8,$10,$10,$3C,$84
					; DATA XREF: BANK_03:8725o
		.BYTE $55,$51,$92,$12,$12,$14,$19,$12,$88,$48,$50,$20,$50,$88, $E,  4
byte_3F32B:	.BYTE	0,  0,	8,$FC,$10,$17,$10,$10,$80,$80,$80,$80,$84,$FE,$84,$84
					; DATA XREF: BANK_03:8727o
		.BYTE $10,$10,$1D,$F1,$41,  2,	4,  8,$84,$84,	4,  4,	4,$44,$28,$10
byte_3F34B:	.BYTE	8,$7C,$48,$4F,$48,$7A,$4B,$4A,$80,$40,	4,$FE,	0,$14,$14,$A4
					; DATA XREF: BANK_03:8729o
		.BYTE $4A,$7A,$4A,$4B,$4A,$4A,$4B,$9A,$A4,$44,$A4,$1C, $C,  4,$FC,  4
byte_3F36B:	.BYTE	0,$3F,$20,$20,$3F,$22,$22,$23,	8,$FC,	0,  4,$FE,  0,	8,$FC
					; DATA XREF: BANK_03:872Bo
		.BYTE $22,$22,$22,$22,$44,$44,$88,$10,	8,  8,	8,  8,	8,$88,$50,$20
byte_3F38B:	.BYTE	1,  0,$1F,$10,$10,$10,$1F,$10,	0,$84,$FE,  4,	4,  4,$FC,  0
					; DATA XREF: BANK_03:872Do
		.BYTE $10,$1F,$18,$28,$28,$48,$8F,  8,	4,$FE,	4,  4,	4,  4,$FC,  4
byte_3F3AB:	.BYTE	0,  0,$3C, $B,$10,$10,$10,$5D,$40,$20,$24,$FE,$20,$40,$88,$FC
					; DATA XREF: BANK_03:872Fo
		.BYTE $50,$50,$50,$50,$5C,$F1,$42,  4,	0,$A8,$A8,$A8,$AA,$2A,$26,$20
byte_3F3CB:	.BYTE $11,$11,$11,$15,$5A,$53,$54,$9A,$10,$18,$D4,$50,$7E,$50,$90,$90
					; DATA XREF: BANK_03:8731o
		.BYTE $11,$12,$20,$28,$44,$42,$82,  4,$28,$28,$46,$84,	0,$A8,$A4,  4
byte_3F3EB:	.BYTE $13,$12,$13,$16,$5B,$51,$57,$91,$F8,  8,$F8,  8,$F8,$10,$FC,$10
					; DATA XREF: BANK_03:8733o
		.BYTE $1F,$11,$12,$2D,$28,$41,$82,  0,$FE,$10,$48,$56,$E4,$50,$48,$C0
byte_3F40B:	.BYTE $11,$11,$11,$15,$5A,$52,$54,$90,	0,  0,	4,$FE,$80,$80,$88,$FC
					; DATA XREF: BANK_03:8735o
		.BYTE $10,$10,$10,$28,$24,$44,$80,  0,$80,$80,$84,$FE,$80,$80,$80,$80
byte_3F42B:	.BYTE $10,$10,$13,$12,$FE,$12,$16,$1B,	8,$3C,$E0,$20,$20,$20,$28,$FC
					; DATA XREF: BANK_03:8737o
		.BYTE $32,$D2,$12,$12,$12,$13,$52,$20,$20,$20,$20,$50,$D0,$2A, $A,  4
byte_3F44B:	.BYTE	1,  1,	1,  1,	1,  1,$FF,  1,	0,  0,	0,  0,	0,  4,$FE,  0
					; DATA XREF: BANK_03:8739o
		.BYTE	1,  1,	1,  1,	1,  1,$3F,  0,	0,  0,	0,  0,	0,$10,$F8,  0
byte_3F46B:	.BYTE $10,$10,$10,$20,$20,$7F,$A1,$21,$80,$A0,$90,$90,$84,$FE,$40,$40
					; DATA XREF: BANK_03:873Bo
		.BYTE $21,$22,$22,$22,$24,$24,$28,$30,$40,$40,$40,$40,$42,$42,$3E,  0
byte_3F48B:	.BYTE	2,  1,	1,$FF,	8,  8,$10,$28,	0,  0,	4,$FE,$20,$10, $C,$24
					; DATA XREF: BANK_03:873Do
		.BYTE $44,  2,	1,  2,	4,  8,$30,$C0,$40,$80,	0,$80,$40,$30, $E,  4
byte_3F4AB:	.BYTE $10,$11,$14,$7E,$54,$54,$54,$54,	8,$FC,	0,$F8,$88,$88,$F8,  4
					; DATA XREF: BANK_03:873Fo
		.BYTE $55,$55,$55,$5D,$11,$11,$11,$11,$FE,$24,$24,$FC,$24,$24,$FC,  4
byte_3F4CB:	.BYTE	0,$7F,	0,$1F,$11,$51,$51,$5F,	8,$FC,$10,$F8,$10,$14,$14,$F4
					; DATA XREF: BANK_03:8741o
		.BYTE $51,$51,$51,$5F,$50,$40,$7F,$40,$14,$14,$14,$F4,$14,  4,$FC,  4
byte_3F4EB:	.BYTE	0,  0,$7C,$44,$44,$44,$44,$44,	0,  4,$7E,$44,$44,$44,$44,$44
					; DATA XREF: BANK_03:8743o
		.BYTE $44,$47,$40,$40,$40,$7F,$40,  0,$44,$C4,	4,  4,	4,$FC,	4,  0
byte_3F50B:	.BYTE	0,$43,$32,$12,$83,$42,$4A,$12,	4,$FE,	4,$14,$FC,  4,$14,$FC
					; DATA XREF: BANK_03:8745o
		.BYTE $12,$22,$E2,$22,$22,$22,$22,$22,$94,$94,$94,$F4,$94,  4,$14,  8
byte_3F52B:	.BYTE	8,  6,	2,$7F,	1,$3F,	1,$FF,$20,$60,$88,$FC,	0,$F8,	0,$FE
					; DATA XREF: BANK_03:8747o
		.BYTE	1,  1,$7F,  1,	2,  4,$18,$E0,	0,  8,$FC,  0,$80,$60,$1E,  4
byte_3F54B:	.BYTE	0,$FF,	0,  0,$3E,$22,$22,$22,	4,$FE,	0,  8,$FC,$88,$88,$88
					; DATA XREF: BANK_03:8749o
		.BYTE $32,$2A,$22,$22,$22,$22,$2A,$24,$C8,$A8,$88,$88,$88,$88,$A8,$90
byte_3F56B:	.BYTE $1F,$10,$1F,$10,$1F,  1,$FF,  0,$F0,$10,$F0,$10,$F0,  4,$FE,$10
					; DATA XREF: BANK_03:874Bo
		.BYTE $1F,$10,$10,$1F,	9,$11,$65,  2,$F8,$10,$10,$F0,$20,$18,	8,  0
byte_3F58B:	.BYTE	0,$7F,	4,$24,$14,$14,	4,  4,	8,$FC,$40,$48,$58,$60,$40,$44
					; DATA XREF: BANK_03:874Do
		.BYTE $FF,  0,$2A,$29,$28,$48,	7,  0,$FE,  0,$10,$88,$A4,$24,$E0,  0
byte_3F5AB:	.BYTE	6,$78,$40,$40,$40,$44,$7E,$40,	4,$FE,$84,$84,$84,$84,$84,$84
					; DATA XREF: BANK_03:874Fo
		.BYTE $40,$40,$40,$4E,$70,  0,	0,  0,$84,$84,$84,$A8,$90,$80,$80,$80
byte_3F5CB:	.BYTE	1,  1,$7F,  1,$3F,  1,$FF,  4,	0,  8,$FC,  0,$F8,  0,$FE,$20
					; DATA XREF: BANK_03:8751o
		.BYTE $1F,  1,	2,$1F,	1,  9,$15,$22,$C0,  0,$20,$F0,	0,$20,$18,  8
byte_3F5EB:	.BYTE	0,$FF,	4,  8,$1F,$28,$C8, $F,	4,$FE,	0,$10,$F8,$10,$10,$F0
					; DATA XREF: BANK_03:8753o
		.BYTE	9,  1,$7D,  5,	9,$11,$61,  3,	8,$18,$A0,$40,$20,$1E,	4,  0
byte_3F60B:	.BYTE	2,$41,$30,$17,	0,  0,$F0,$1F,	8,$10,$A0,$FC,$40,$40,$44,$FE
					; DATA XREF: BANK_03:8755o
		.BYTE $10,$10,$10,$10,$11,$2A,$44,  3,$40,$40,$80,$A0,$18,  8,	6,$FC
byte_3F62B:	.BYTE	1,  1,	1,$3F,$22,$22,$3F,$22,$20,$F0,	0,$FC,	4,$68,$80,  8
					; DATA XREF: BANK_03:8757o
		.BYTE $21,$20,$27,$24,$24,$24,$48,$90,$F8,$40,$E0,$40,$40,$44,$44,$3C
byte_3F64B:	.BYTE	0, $B,$7E,$4A,$4B,$4A,$7A,$4B,	8,$FC,	8,  8,$F8,  8,	8,$F8
					; DATA XREF: BANK_03:8759o
		.BYTE $4A,$7A,$4A,$4A,$4A,$7A,$4B,  2,$84,$88,$50,$20,$10,$8E,	4,  0
byte_3F66B:	.BYTE	0,  8,$7F,$48,$4B,$48,$7F,$48,$40,$48,$FC,$40,$F8,$40,$FE,  8
					; DATA XREF: BANK_03:875Bo
		.BYTE $4B,$7A,$4B,$4A,$4B,$7A,$4A,  2,$FC,  8,$F8,  8,$F8,  8,$28,$10
byte_3F68B:	.BYTE	0,$40,$37,$14,$84,$68,$21,  9,	0,  0,$FC,  4,	8,$20,$F0,$20
					; DATA XREF: BANK_03:875Do
		.BYTE $11,$21,$E1,$21,$22,$22,$24,$28,$20,$20,$20,$20,$22,$22,$1E,  0
byte_3F6AB:	.BYTE	2,  1,$FF,  8,	8,$10,$11,$32,	0,  4,$FE,$80,$80,$F8,	8,$88
					; DATA XREF: BANK_03:875Fo
		.BYTE $56,$99,$10,$10,$10,$11,$12,$1C,$50,$10,$A0,$40,$A0,$10, $E,  4
byte_3F6CB:	.BYTE	1,$7E,	8,  8,	9,$FF,	8,  8,$84,  4,	4,$24,$24,$A4,$24,$24
					; DATA XREF: BANK_03:8761o
		.BYTE	9,$7F,$41,$41,$41,$41,$7F,$41,$24,$A4,$24,$24,	4,  4,$14,  8
byte_3F6EB:	.BYTE $10,$10,$10,$10,$FD,$11,$15,$19,$20,$20,$20,$24,$FE,$24,$24,$24
					; DATA XREF: BANK_03:8763o
		.BYTE $31,$D1,$11,$11,$11,$11,$51,$21,$24,$FC,$24,$24,$24,$24,$FC,  4
byte_3F70B:	.BYTE	0,$3F,$20,$20,$3F,$20,$24,$24,	8,$FC,	8,  8,$F8,$90,$90,$94
					; DATA XREF: BANK_03:8765o
		.BYTE $3F,$24,$24,$24,$24,$44,$87,  0,$FE,$90,$90,$F0,	0,  8,$FC,  0
byte_3F72B:	.BYTE	1,  0,$1F,$90,$50,$57,$14,$14,	0,$84,$FE,$40,$40,$FC,$44,$40
					; DATA XREF: BANK_03:8767o
		.BYTE $37,$54,$D5,$14,$24,$24,$49,$12,$F8,  8,$10,$A0,$40,$B0, $E,  4
byte_3F74B:	.BYTE	8, $F,$14,$12,$23, $C,$30,$DF,	0,$E0,$40,$80,$80,$60,$1E,$F4
					; DATA XREF: BANK_03:8769o
		.BYTE $11,$1F,$11,$1F,	2,$29,$28,$47,$10,$F0,$10,$F0,	0,$88,$94,$F4

; =============== S U B	R O U T	I N E =======================================


sub_3F76B:				; CODE XREF: bank_switch_38000:loc_38047p
		LDA	data_2
		PHA
		LDA	data_3
		PHA
		LDA	#$5B ; '['
		CLC
		ADC	char_type_id_35D
		STA	ptr_0
		LDA	#$80 ; '�'
		ADC	#0
		STA	ptr_1
		LDY	#0
		LDA	(ptr_0),Y
		STA	data_2
		INY
		LDA	(ptr_0),Y
		STA	data_3
		LDA	data_2
		CLC
		ADC	text_idx_35C
		STA	data_2
		LDA	data_3
		ADC	#0
		STA	data_3
		LDY	#0
		LDA	(data_2),Y
		STA	ptr_0
		INY
		LDA	(data_2),Y
		STA	ptr_1
		PLA
		STA	data_3
		PLA
		STA	data_2
		LDY	#0
		LDA	#0
		STA	has_ppu_data_to_upload_6F
		LDX	#0
		LDA	#5
		STA	ppu_data_70,X
		INX
		LDA	#$40 ; '@'
		STA	ppu_data_70,X
		INX
		INX
		LDA	data_2
		STA	ppu_data_70,X
		DEX
		LDA	data_3
		STA	ppu_data_70,X
		INX
		INX
		LDA	#0
		STA	inv_spr_dscr1_30C

loc_3F7CC:				; CODE XREF: sub_3F76B+CBj
		LDA	byte_360
		ASL	A
		ASL	A
		ASL	A
		STA	tilemapTypeUnk_30B
		LDA	byte_361
		ASL	A
		CLC
		ADC	tilemapTypeUnk_30B
		TAY
		LDA	#0
		STA	tilemapTypeUnk_30B

loc_3F7E3:				; CODE XREF: sub_3F76B+BFj
		TYA
		PHA
		CLC
		ADC	tilemapTypeUnk_30B
		TAY
		LDA	byte_3F8DA,Y
		CMP	#0
		BNE	loc_3F7FE
		LDA	inv_spr_dscr1_30C
		ASL	A
		ASL	A
		ASL	A
		TAY
		JSR	sub_3F8FA
		JMP	loc_3F820
; ---------------------------------------------------------------------------

loc_3F7FE:				; CODE XREF: sub_3F76B+84j
		CMP	#1
		BNE	loc_3F80F
		LDA	inv_spr_dscr1_30C
		ASL	A
		ASL	A
		ASL	A
		TAY
		JSR	sub_3F918
		JMP	loc_3F820
; ---------------------------------------------------------------------------

loc_3F80F:				; CODE XREF: sub_3F76B+95j
		CMP	#2
		BNE	loc_3F819
		JSR	sub_3F938
		JMP	loc_3F820
; ---------------------------------------------------------------------------

loc_3F819:				; CODE XREF: sub_3F76B+A6j
		CMP	#3
		BNE	loc_3F820
		JSR	sub_3F955

loc_3F820:				; CODE XREF: sub_3F76B+90j
					; sub_3F76B+A1j ...
		PLA
		TAY
		INC	tilemapTypeUnk_30B
		LDA	tilemapTypeUnk_30B
		CMP	#2
		BCC	loc_3F7E3
		INC	inv_spr_dscr1_30C
		LDA	inv_spr_dscr1_30C
		CMP	#4
		BEQ	loc_3F839
		JMP	loc_3F7CC
; ---------------------------------------------------------------------------

loc_3F839:				; CODE XREF: sub_3F76B+C9j
		JSR	sub_3F972
		LDA	sprite_secondByte_31B
		STA	ptr_0
		LDY	tilemapHeight_30A

loc_3F844:				; CODE XREF: sub_3F76B+E8j
		CPY	#0
		BEQ	loc_3F856
		LDA	byte_35E
		ASL	A
		ASL	A
		CLC
		ADC	ptr_0
		STA	ptr_0
		DEY
		JMP	loc_3F844
; ---------------------------------------------------------------------------

loc_3F856:				; CODE XREF: sub_3F76B+DBj
		LDA	tilemapWidth_308
		ASL	A
		ASL	A
		CLC
		ADC	ptr_0
		STA	ptr_0
		LDA	#0
		STA	inv_spr_dscr1_30C

loc_3F865:				; CODE XREF: sub_3F76B+168j
		LDA	data_2
		PHA
		LDA	data_3
		PHA
		LDA	#1
		STA	ppu_data_70,X
		INX
		INX
		LDA	data_2
		STA	ppu_data_70,X
		DEX
		LDA	data_3
		STA	ppu_data_70,X
		INX
		INX
		LDA	ptr_0
		STA	ppu_data_70,X
		INX
		INC	ptr_0
		LDA	data_2
		AND	#$1F
		CMP	#$1F
		BNE	loc_3F89B
		LDA	data_2
		SEC
		SBC	#$1F
		STA	data_2
		LDA	data_3
		SBC	#0
		STA	data_3
		JMP	loc_3F8A8
; ---------------------------------------------------------------------------

loc_3F89B:				; CODE XREF: sub_3F76B+11Ej
		LDA	data_2
		CLC
		ADC	#1
		STA	data_2
		LDA	data_3
		ADC	#0
		STA	data_3

loc_3F8A8:				; CODE XREF: sub_3F76B+12Dj
		LDA	#1
		STA	ppu_data_70,X
		INX
		INX
		LDA	data_2
		STA	ppu_data_70,X
		DEX
		LDA	data_3
		STA	ppu_data_70,X
		INX
		INX
		LDA	ptr_0
		STA	ppu_data_70,X
		INX
		PLA
		STA	data_3
		PLA
		STA	data_2
		INC	ptr_0
		JSR	sub_3FA27
		INC	inv_spr_dscr1_30C
		LDA	inv_spr_dscr1_30C
		CMP	#2
		BEQ	loc_3F8D6
		JMP	loc_3F865
; ---------------------------------------------------------------------------

loc_3F8D6:				; CODE XREF: sub_3F76B+166j
		JSR	sub_3FA56
		RTS
; End of function sub_3F76B

; ---------------------------------------------------------------------------
byte_3F8DA:	.BYTE	2,  2,	0,  2,	2,  0,	0,  0,	1,  2,	3,  2,	1,  0,	3,  0
					; DATA XREF: sub_3F76B+7Fr
		.BYTE	2,  1,	0,  1,	2,  3,	0,  3,	1,  1,	3,  1,	1,  3,	3,  3

; =============== S U B	R O U T	I N E =======================================


sub_3F8FA:				; CODE XREF: sub_3F76B+8Dp
		LDA	inv_spr_dscr1_30C
		PHA
		LDA	#0
		STA	inv_spr_dscr1_30C

loc_3F903:				; CODE XREF: sub_3F8FA+17j
		LDA	(ptr_0),Y
		STA	ppu_data_70,X
		INX
		INY
		INC	inv_spr_dscr1_30C
		LDA	inv_spr_dscr1_30C
		CMP	#8
		BCC	loc_3F903
		PLA
		STA	inv_spr_dscr1_30C
		RTS
; End of function sub_3F8FA


; =============== S U B	R O U T	I N E =======================================


sub_3F918:				; CODE XREF: sub_3F76B+9Ep
		LDA	inv_spr_dscr1_30C
		PHA
		LDA	#0
		STA	inv_spr_dscr1_30C

loc_3F921:				; CODE XREF: sub_3F918+19j
		LDA	(ptr_0),Y
		EOR	#$FF
		STA	ppu_data_70,X
		INX
		INY
		INC	inv_spr_dscr1_30C
		LDA	inv_spr_dscr1_30C
		CMP	#8
		BCC	loc_3F921
		PLA
		STA	inv_spr_dscr1_30C
		RTS
; End of function sub_3F918


; =============== S U B	R O U T	I N E =======================================


sub_3F938:				; CODE XREF: sub_3F76B+A8p
		LDA	inv_spr_dscr1_30C
		PHA
		LDA	#0
		STA	inv_spr_dscr1_30C

loc_3F941:				; CODE XREF: sub_3F938+16j
		LDA	#0
		STA	ppu_data_70,X
		INX
		INC	inv_spr_dscr1_30C
		LDA	inv_spr_dscr1_30C
		CMP	#8
		BCC	loc_3F941
		PLA
		STA	inv_spr_dscr1_30C
		RTS
; End of function sub_3F938


; =============== S U B	R O U T	I N E =======================================


sub_3F955:				; CODE XREF: sub_3F76B+B2p
		LDA	inv_spr_dscr1_30C
		PHA
		LDA	#0
		STA	inv_spr_dscr1_30C

loc_3F95E:				; CODE XREF: sub_3F955+16j
		LDA	#$FF
		STA	ppu_data_70,X
		INX
		INC	inv_spr_dscr1_30C
		LDA	inv_spr_dscr1_30C
		CMP	#8
		BCC	loc_3F95E
		PLA
		STA	inv_spr_dscr1_30C
		RTS
; End of function sub_3F955


; =============== S U B	R O U T	I N E =======================================


sub_3F972:				; CODE XREF: sub_3F76B:loc_3F839p
		LDY	tilemapHeight_30A

loc_3F975:				; CODE XREF: sub_3F972+18j
		CPY	#0
		BEQ	loc_3F98D
		LDA	ppu_unk_byte_309
		CLC
		ADC	byte_363
		STA	ppu_unk_byte_309
		INC	ppu_unk_byte_309
		INC	ppu_unk_byte_309
		DEY
		JMP	loc_3F975
; ---------------------------------------------------------------------------

loc_3F98D:				; CODE XREF: sub_3F972+5j
		LDA	ppu_unk_byte_303
		STA	ptr_0
		LDA	ppu_scroll_x_304
		LSR	A
		LSR	A
		LSR	A
		CLC
		ADC	tilemap_size_307
		STA	tilemap_size_307
		CMP	#$20 ; ' '
		BCC	loc_3F9A9
		SEC
		SBC	#$20 ; ' '
		STA	tilemap_size_307

loc_3F9A9:				; CODE XREF: sub_3F972+2Fj
		LDA	ppu_scroll_y_305
		LSR	A
		LSR	A
		LSR	A
		CLC
		ADC	ppu_unk_byte_309
		STA	ppu_unk_byte_309
		CMP	#$1E
		BCC	loc_3F9C2
		SEC
		SBC	#$1E
		STA	ppu_unk_byte_309
		INC	ptr_0

loc_3F9C2:				; CODE XREF: sub_3F972+46j
		LDA	ptr_0
		AND	#1
		BEQ	loc_3F9D3
		LDA	#0
		STA	data_2
		LDA	#$28 ; '('
		STA	data_3
		JMP	loc_3F9DB
; ---------------------------------------------------------------------------

loc_3F9D3:				; CODE XREF: sub_3F972+54j
		LDA	#0
		STA	data_2
		LDA	#$20 ; ' '
		STA	data_3

loc_3F9DB:				; CODE XREF: sub_3F972+5Ej
		LDY	ppu_unk_byte_309

loc_3F9DE:				; CODE XREF: sub_3F972+7Ej
		CPY	#0
		BEQ	loc_3F9F3
		LDA	data_2
		CLC
		ADC	#$20 ; ' '
		STA	data_2
		LDA	data_3
		ADC	#0
		STA	data_3
		DEY
		JMP	loc_3F9DE
; ---------------------------------------------------------------------------

loc_3F9F3:				; CODE XREF: sub_3F972+6Ej
		LDA	#0
		LDY	tilemapWidth_308

loc_3F9F8:				; CODE XREF: sub_3F972+92j
		CPY	#0
		BEQ	loc_3FA07
		CLC
		ADC	#2
		CLC
		ADC	byte_362
		DEY
		JMP	loc_3F9F8
; ---------------------------------------------------------------------------

loc_3FA07:				; CODE XREF: sub_3F972+88j
		CLC
		ADC	tilemap_size_307
		STA	tilemap_size_307
		CMP	#$20 ; ' '
		BCC	loc_3FA18
		SEC
		SBC	#$20 ; ' '
		STA	tilemap_size_307

loc_3FA18:				; CODE XREF: sub_3F972+9Ej
		LDA	data_2
		CLC
		ADC	tilemap_size_307
		STA	data_2
		LDA	data_3
		ADC	#0
		STA	data_3
		RTS
; End of function sub_3F972


; =============== S U B	R O U T	I N E =======================================


sub_3FA27:				; CODE XREF: sub_3F76B+15Bp
		LDA	ppu_unk_byte_309
		CMP	#$1D
		BNE	loc_3FA48
		LDA	data_3
		CMP	#$28 ; '('
		BCC	loc_3FA3B
		LDA	#$20 ; ' '
		STA	data_3
		JMP	loc_3FA3F
; ---------------------------------------------------------------------------

loc_3FA3B:				; CODE XREF: sub_3FA27+Bj
		LDA	#$28 ; '('
		STA	data_3

loc_3FA3F:				; CODE XREF: sub_3FA27+11j
		LDA	data_2
		AND	#$1F
		STA	data_2
		JMP	locret_3FA55
; ---------------------------------------------------------------------------

loc_3FA48:				; CODE XREF: sub_3FA27+5j
		LDA	data_2
		CLC
		ADC	#$20 ; ' '
		STA	data_2
		LDA	data_3
		ADC	#0
		STA	data_3

locret_3FA55:				; CODE XREF: sub_3FA27+1Ej
		RTS
; End of function sub_3FA27


; =============== S U B	R O U T	I N E =======================================


sub_3FA56:				; CODE XREF: sub_3F76B:loc_3F8D6p
		LDA	#1
		STA	has_ppu_data_to_upload_6F

loc_3FA5A:				; CODE XREF: sub_3FA56+6j
		LDA	has_ppu_data_to_upload_6F
		BNE	loc_3FA5A
		RTS
; End of function sub_3FA56


; =============== S U B	R O U T	I N E =======================================


unused_3FA5F:				; CODE XREF: unused_3FA5F+3j
		LDA	_PPU_STATUS
		BMI	unused_3FA5F

loc_3FA64:				; CODE XREF: unused_3FA5F+8j
		LDA	_PPU_STATUS
		BPL	loc_3FA64
		RTS
; End of function unused_3FA5F


; =============== S U B	R O U T	I N E =======================================


unused_3FA6A:
		LDA	#1
		STA	frame_render_count_350

loc_3FA6F:				; CODE XREF: unused_3FA6A+8j
		LDA	frame_render_count_350
		BNE	loc_3FA6F
		RTS
; End of function unused_3FA6A


; =============== S U B	R O U T	I N E =======================================


unused_3FA75:
		LDY	#0

loc_3FA77:				; CODE XREF: unused_3FA75+Fj
		LDX	#0

loc_3FA79:				; CODE XREF: unused_3FA75+Cj
		LDA	input_reg1_347
		CMP	#0
		BNE	locret_3FA86
		INX
		BNE	loc_3FA79
		INY
		BNE	loc_3FA77

locret_3FA86:				; CODE XREF: unused_3FA75+9j
		RTS
; End of function unused_3FA75


; =============== S U B	R O U T	I N E =======================================


unused_3FA87:				; CODE XREF: unused_3FA87+5j
		LDA	input_pressed_34A
		CMP	#$80 ; '�'
		BNE	unused_3FA87
		RTS
; End of function unused_3FA87


; =============== S U B	R O U T	I N E =======================================


unused_3FA8F:				; CODE XREF: unused_3FA8F+5j
		LDA	input_pressed_34A
		CMP	#$40 ; '@'
		BNE	unused_3FA8F
		RTS
; End of function unused_3FA8F


; =============== S U B	R O U T	I N E =======================================


unused_3FA97:				; CODE XREF: unused_3FA97+5j
		LDA	input_pressed_34A
		CMP	#0
		BEQ	unused_3FA97
		RTS
; End of function unused_3FA97


; =============== S U B	R O U T	I N E =======================================


unused_3FA9F:				; CODE XREF: unused_3FA9F+8j
		PHA
		JSR	unused_3FAAA
		PLA
		SEC
		SBC	#1
		BNE	unused_3FA9F
		RTS
; End of function unused_3FA9F


; =============== S U B	R O U T	I N E =======================================


unused_3FAAA:				; CODE XREF: unused_3FA9F+1p
		PHA
		TXA
		PHA
		TYA
		PHA
		LDX	#0

loc_3FAB1:				; CODE XREF: unused_3FAAA+Dj
		LDY	#0

loc_3FAB3:				; CODE XREF: unused_3FAAA+Aj
		DEY
		BNE	loc_3FAB3
		DEX
		BNE	loc_3FAB1
		PLA
		TAY
		PLA
		TAX
		PLA
		RTS
; End of function unused_3FAAA


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FABF:				; CODE XREF: NMI_3FB1D+18p
		LDA	#$F0 ; '�'
		STA	byte_218
		STA	byte_21C
		STA	byte_220
		STA	byte_224
		STA	byte_2E8
		STA	byte_2EC
		RTS
; End of function nmi_sub_3FABF


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FAD4:				; CODE XREF: NMI_3FB1D+30p
		LDA	byte_43E
		BEQ	loc_3FAFB
		LDA	byte_203
		BNE	loc_3FAE6
		LDA	#0
		STA	byte_43E
		JMP	locret_3FB1C
; ---------------------------------------------------------------------------

loc_3FAE6:				; CODE XREF: nmi_sub_3FAD4+8j
		LDA	byte_203
		SEC
		SBC	#8
		STA	byte_203
		LDA	byte_207
		SEC
		SBC	#8
		STA	byte_207
		JMP	locret_3FB1C
; ---------------------------------------------------------------------------

loc_3FAFB:				; CODE XREF: nmi_sub_3FAD4+3j
		LDA	byte_203
		CMP	#$F8 ; '�'
		BNE	loc_3FB0A
		LDA	#1
		STA	byte_43E
		JMP	locret_3FB1C
; ---------------------------------------------------------------------------

loc_3FB0A:				; CODE XREF: nmi_sub_3FAD4+2Cj
		LDA	byte_203
		CLC
		ADC	#8
		STA	byte_203
		LDA	byte_207
		CLC
		ADC	#8
		STA	byte_207

locret_3FB1C:				; CODE XREF: nmi_sub_3FAD4+Fj
					; nmi_sub_3FAD4+24j ...
		RTS
; End of function nmi_sub_3FAD4


; =============== S U B	R O U T	I N E =======================================


NMI_3FB1D:				; DATA XREF: BANK_03:FFFAo
		PHP
		PHA
		TXA
		PHA
		TYA
		PHA
		LDA	bank_switch_flag_6C
		CMP	#$88 ; '�'
		BEQ	loc_3FB2C
		JMP	loc_3FB5D
; ---------------------------------------------------------------------------

loc_3FB2C:				; CODE XREF: NMI_3FB1D+Aj
		LDA	#$EE ; '�'
		STA	bank_switch_flag_6C
		LDA	sprite_type_306
		BNE	loc_3FB38
		JSR	nmi_sub_3FABF

loc_3FB38:				; CODE XREF: NMI_3FB1D+16j
		LDA	#2
		STA	_PPU_OAM_DMA
		JSR	nmi_sub_3FB95
		JSR	nmi_sub_3FBEA
		JSR	nmi_sub_3FC03
		LDA	sprite_type_306
		CMP	#1
		BNE	loc_3FB53
		JSR	nmi_sub_3FAD4
		JSR	nmi_sub_3FCA0

loc_3FB53:				; CODE XREF: NMI_3FB1D+2Ej
		JSR	nmi_sub_3FC66
		JSR	apu_music_update_3FCF8
		LDA	#$88 ; '�'
		STA	bank_switch_flag_6C

loc_3FB5D:				; CODE XREF: NMI_3FB1D+Cj
		LDA	byte_432
		BEQ	loc_3FB65
		DEC	byte_432

loc_3FB65:				; CODE XREF: NMI_3FB1D+43j
		INC	count_unk_463
		INC	count_unk_464
		INC	count_unk_465
		INC	count_unk_466
		INC	count_unk_467
		INC	count_unk_468
		INC	count_unk_469
		INC	count_unk_46A
		INC	count_unk_46B
		INC	count_unk_365
		INC	count_unk_46C
		LDA	frame_render_count_350
		BEQ	loc_3FB8E
		DEC	frame_render_count_350

loc_3FB8E:				; CODE XREF: NMI_3FB1D+6Cj
		PLA
		TAY
		PLA
		TAX
		PLA
		PLP

locret_3FB94:				; DATA XREF: BANK_03:FFFEo
		RTI
; End of function NMI_3FB1D


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FB95:				; CODE XREF: NMI_3FB1D+20p
		LDA	has_ppu_data_to_upload_6F
		BNE	loc_3FB9A
		RTS
; ---------------------------------------------------------------------------

loc_3FB9A:				; CODE XREF: nmi_sub_3FB95+2j
		LDA	ppu_data_70
		BEQ	loc_3FBE5
		STA	ppu_fld0_x_6D
		LDX	#1

loc_3FBA2:				; CODE XREF: nmi_sub_3FB95+4Dj
		LDA	ppu_data_70,X
		AND	#$80 ; '�'
		BEQ	loc_3FBB6
		LDA	ppu_ctrl_31F
		ORA	#4
		STA	ppu_ctrl_31F
		STA	_PPU_CTRL
		JMP	loc_3FBC1
; ---------------------------------------------------------------------------

loc_3FBB6:				; CODE XREF: nmi_sub_3FB95+11j
		LDA	ppu_ctrl_31F
		AND	#$FB ; '�'
		STA	ppu_ctrl_31F
		STA	_PPU_CTRL

loc_3FBC1:				; CODE XREF: nmi_sub_3FB95+1Ej
		LDA	ppu_data_70,X
		AND	#$7F ; ''
		STA	ppu_fld1_y_6E
		INX
		LDA	ppu_data_70,X
		STA	_PPU_ADDR
		INX
		LDA	ppu_data_70,X
		STA	_PPU_ADDR

loc_3FBD3:				; CODE XREF: nmi_sub_3FB95+46j
		INX
		LDA	ppu_data_70,X
		STA	_PPU_DATA
		DEC	ppu_fld1_y_6E
		BNE	loc_3FBD3
		DEC	ppu_fld0_x_6D
		BEQ	loc_3FBE5
		INX
		JMP	loc_3FBA2
; ---------------------------------------------------------------------------

loc_3FBE5:				; CODE XREF: nmi_sub_3FB95+7j
					; nmi_sub_3FB95+4Aj
		LDA	#0
		STA	has_ppu_data_to_upload_6F
		RTS
; End of function nmi_sub_3FB95


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FBEA:				; CODE XREF: NMI_3FB1D+23p
		LDA	ppu_ctrl_31F
		STA	_PPU_CTRL
		LDA	ppu_mask_320
		STA	_PPU_MASK
		LDA	ppu_scroll_x_304
		STA	_PPU_SCROLL
		LDA	ppu_scroll_y_305
		STA	_PPU_SCROLL
		RTS
; End of function nmi_sub_3FBEA


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FC03:				; CODE XREF: NMI_3FB1D+26p
		TYA
		PHA
		TYA
		PHA
		JSR	pad_input_update_3FC1B
		JSR	input_sub_3FC3B
		LDA	input_pressed_34A
		ORA	input_unk_34B
		STA	input_unk_349
		PLA
		TAX
		PLA
		TAY
		RTS
; End of function nmi_sub_3FC03


; =============== S U B	R O U T	I N E =======================================


pad_input_update_3FC1B:			; CODE XREF: nmi_sub_3FC03+4p
		LDX	#1
		STX	_PAD0_REG
		DEX
		STX	_PAD0_REG
		LDA	#0
		LDY	#8

loc_3FC28:				; CODE XREF: pad_input_update_3FC1B+1Aj
		PHA
		LDA	_PAD0_REG,X
		STA	input_reg0_34E
		LSR	input_reg0_34E
		PLA
		ROL	A
		DEY
		BNE	loc_3FC28
		STA	input_reg1_347,X
		RTS
; End of function pad_input_update_3FC1B


; =============== S U B	R O U T	I N E =======================================


input_sub_3FC3B:			; CODE XREF: nmi_sub_3FC03+7p
		LDX	#0
		LDA	input_reg1_347,X
		EOR	input_unk_34C,X

loc_3FC43:
		AND	input_reg1_347,X
		STA	input_pressed_34A,X
		LDA	input_reg1_347,X
		STA	input_unk_34C,X
		RTS
; End of function input_sub_3FC3B


; =============== S U B	R O U T	I N E =======================================


unused_3FC50:
		LDA	ppu_ctrl_31F
		STA	_PPU_CTRL
		LDA	ppu_mask_320
		STA	_PPU_MASK
		RTS
; End of function unused_3FC50


; =============== S U B	R O U T	I N E =======================================


unused_3FC5D:
		LDA	#0
		STA	_PPU_CTRL
		STA	_PPU_MASK
		RTS
; End of function unused_3FC5D


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FC66:				; CODE XREF: NMI_3FB1D:loc_3FB53p
		INC	byte_353
		LDA	byte_353
		CMP	#$19
		BCS	loc_3FC71
		RTS
; ---------------------------------------------------------------------------

loc_3FC71:				; CODE XREF: nmi_sub_3FC66+8j
		LDA	#0
		STA	byte_353
		LDA	byte_354
		CMP	#0
		BNE	loc_3FC9C
		LDA	byte_355
		CMP	#0
		BNE	loc_3FC94
		LDA	byte_356
		CMP	#0
		BNE	loc_3FC8C
		RTS
; ---------------------------------------------------------------------------

loc_3FC8C:				; CODE XREF: nmi_sub_3FC66+23j
		DEC	byte_356
		LDA	#$A
		STA	byte_355

loc_3FC94:				; CODE XREF: nmi_sub_3FC66+1Cj
		DEC	byte_355
		LDA	#$A
		STA	byte_354

loc_3FC9C:				; CODE XREF: nmi_sub_3FC66+15j
		DEC	byte_354
		RTS
; End of function nmi_sub_3FC66


; =============== S U B	R O U T	I N E =======================================


nmi_sub_3FCA0:				; CODE XREF: NMI_3FB1D+33p
		INC	scroll_offset_x_479
		LDA	scroll_offset_x_479
		CMP	#$A
		BCC	locret_3FCF7
		LDA	scroll_offset_y_47A
		EOR	#$80 ; '�'
		STA	scroll_offset_y_47A
		LDA	scroll_offset_y_47A
		AND	#$FE ; '�'
		STA	scroll_offset_y_47A
		LDA	scroll_offset_y_47A
		AND	#$7F ; ''
		CMP	#0
		BEQ	locret_3FCF7
		LDA	scroll_offset_y_47A
		PHA
		LDA	scroll_offset_y_47A
		AND	#$80 ; '�'
		CMP	#0
		BEQ	loc_3FCD8
		LDA	#0
		STA	ppu_scroll_y_305
		JMP	loc_3FCEA
; ---------------------------------------------------------------------------

loc_3FCD8:				; CODE XREF: nmi_sub_3FCA0+2Ej
		LDA	scroll_offset_y_47A
		AND	#$7F ; ''
		STA	scroll_offset_y_47A
		LDA	ppu_scroll_y_305
		CLC
		ADC	scroll_offset_y_47A
		STA	ppu_scroll_y_305

loc_3FCEA:				; CODE XREF: nmi_sub_3FCA0+35j
		PLA
		STA	scroll_offset_y_47A
		LDA	scroll_offset_y_47A
		SEC
		SBC	#2
		STA	scroll_offset_y_47A

locret_3FCF7:				; CODE XREF: nmi_sub_3FCA0+8j
					; nmi_sub_3FCA0+21j
		RTS
; End of function nmi_sub_3FCA0


; =============== S U B	R O U T	I N E =======================================


apu_music_update_3FCF8:			; CODE XREF: NMI_3FB1D+39p
		LDA	bank_command_346
		PHA
		LDA	bank_to_344
		PHA
		LDA	bank_from_343
		PHA
		LDA	#banks_13
		STA	bank_to_344
		LDA	#$88 ; '�'
		STA	bank_command_346
		JSR	bank_switch_38000
		PLA
		STA	bank_from_343
		PLA
		STA	bank_to_344
		PLA
		STA	bank_command_346
		RTS
; End of function apu_music_update_3FCF8

; ---------------------------------------------------------------------------
aCtrlQStartOutput_13:.BYTE '   Ctrl Q = Start Output',$A,0
aEscCStopAssembly_13:.BYTE '                           Esc  C = Stop Assembly',$A,0
aEscTTerminalOutput_13:.BYTE '                           Esc  T = Terminal Output',$A,0
aEscPPrinterOutput_13:.BYTE '                           Esc  P = Printer Output',$A,0
aEscDDiskOutput_13:.BYTE '                           Esc  D = Disk Output',$A,0
aEscMMultipleOutput_13:.BYTE '                           Esc  M = Multiple Output',$A,0
aEscNNoOutput_12:.BYTE '                           Esc  N = No Output',$A
		.BYTE $A,0
aRenameFileError_13:.BYTE 'Rename File Error',$A,0
aPage4u_13:	.BYTE 'Page %4u',0
aLib_13:	.BYTE 'LIB',0
		.BYTE	1
		.BYTE	0
		.BYTE	0
		.BYTE	0
		.BYTE	4
		.BYTE	0
aC_13:		.BYTE '%c',0
		.BYTE  $A
aMaximumNumberOfDiff_13:.BYTE 'Maximum Number of Different Sections (%d) Exceeded.  Link Term'
		.BYTE 'inated.',$A
		.BYTE $A,0
aS_13:		.BYTE '%s',0
		.BYTE	0
aDiskListingFilename_13:.BYTE 'Disk Listing  Filename : ',0
aSymbolTableFilename_13:.BYTE 'Symbol Table  Filename : ',0
aFormat_13:	.BYTE 'Format   : ',0
aLinkerOutputFilenam_13:.BYTE 'Linker Output Filename : ',0
aMicrotek_13:	.BYTE 'Microtek',0
aZax_13:	.BYTE 'Zax',0
aAbbreviated2500A_d__13:.BYTE 'Abbreviated 2500 A.D.',0
a2500A_d__14:	.BYTE '2500 A.D.',0
aNoneSpecified_13:.BYTE	'<None Specified>',0
aLinkErrors_14:	.BYTE $A
		.BYTE '         Link Errors :  ',0
aOutputFormat_14:.BYTE '         Output Format :  ',0
aExecutable_13:	.BYTE 'Executable',0
aIntelHex_13:	.BYTE 'Intel Hex',0
aExtendedIntelHex_13:.BYTE 'Extended Intel Hex',0
aTektronixHex_13:.BYTE 'Tektronix Hex',0
aMotorolaS1_13:	.BYTE 'Motorola S1',0
		.BYTE	0
aMotorolaS_13:	.BYTE 'Motorola S'
		.WORD NMI_3FB1D
		.WORD off_3805B
		.WORD locret_3FB94
; end of 'BANK_03'

; ===========================================================================